extends ../layout

block page_includes
    //link(rel='stylesheet', href='/static/unisams/stylesheets/addUser.css')
    //link(rel='stylesheet', href='/static/unisams/stylesheets/editUser.css')

    script(src='/dist/addUser.js')
    script(src='/dist/addUser_style.js')

    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

    script.
        window.dockerArgs.activeContainer =  "userContainer";
        window.dockerArgs.activeElementId =  "useradd";
block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-height
                section#sec1
                    #sec-content.subpage-container.center-in-container
                        #content1-heading.sec-heading.subpage-heading.center
                            h3 Neues Mitglied anlegen
                        #content1-text.sec-content
                            .subpage-content.useradd-container
                                #pageslider-container-01.useradd-inner



