extends ../layout

block page_includes

    script.
        window.exploreUserId = "#{exploreUser.id}";
        window.activeDockerSection = "usermanagement";

    link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader_userprofile.css')
    link(rel='stylesheet', href='/static/unisams/stylesheets/editUser.css')
    script(src="/static/unisams/js/userprofile/profile.js")
    script(src="/static/unisams/js/userprofile/userprofile.js")
    script(src="/static/unisams/js/userprofile/editUser.js")
    script(src="/static/unisams/js/userprofile/updateUser.js")
    script(src="/static/unisams/js/actions.js")

block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width.full-height
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            .userimg-container.sec-heading-img
                                .userimg
                                    .userimg-overlay.changeProfilePicture
                                        .userimg-inner
                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera") <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                                            span Bild ändern
                                    img#userProfileImage.userProfileImage(src="/data/uploads/user_images/" + exploreUser.id + "/" + exploreUser.id + ".jpg")

                            .sec-heading-label.userprofile-heading
                                .userprofile-heading-container
                                    h3=exploreUser.generalData.firstName.value + " " + exploreUser.generalData.lastName.value
                                    .userprofile-dropdown.dropdown-menu
                                        .dropdown-btn
                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical") <circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>

                                            .dropdown-container
                                                .dropdown-entry
                                                    a.before-icon.icon-back(id="view" + exploreUser.id, data-userid=exploreUser.id href="/unisams/user/" + exploreUser.username) Bearbeitung beenden
                                                .dropdown-entry
                                                    a.before-icon.icon-delete.userDelete(id="deleteUserId" + exploreUser.id, data-userid=exploreUser.id) Mitglied löschen
                                                .dropdown-entry
                                                    a.userTransform(id="transformUser" + exploreUser.id, onclick="transformUser('" + exploreUser.id + "')") (dev) transform to new scheme
                                                .dropdown-entry
                                                    a.userTransform(id="deleteOldId" + exploreUser.id, onclick="removeOld('"+exploreUser.id+"')") (dev) remove invalid fields
                                    .clear
                                .clear
                        #content1-text.sec-content
                            .subpage-content
                                .userlogs-container
