extends ../layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/user.css')
    script(src="/static/unisams/js/user/user.js")
    script(src="/static/unisams/js/user/deleteUser.js")
    script(src="/static/unisams/js/actions.js")
    script(src="/static/unisams/js/transformToNewScheme.js")


    script.
        window.dockerArgs.activeElementId =  "usermanagement";


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            h3 user management
                        #content1-text.sec-content
                            .subpage-options
                                .radiogroup
                                    label(for="userlist01")
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list") <line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
                                        span Liste
                                    input#userlist01.radio-item(type="radio", name="userlist-radio")
                                    label(for="userlist02")
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid") <rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
                                        span Gallerie
                                    input#userlist02.radio-item(type="radio", name="userlist-radio")
                            .subpage-content
                                ul.userlist.itemlist
                                    li.user-entry.noSelect.borderBottom
                                        .inner
                                            .item-property username
                                            .item-property Vorname
                                            .item-property Nachname

                                    each user in userList
                                        li.user-entry(id= "userId"+ user.id data-userid= user.id)
                                            a.inner()
                                                .item-property= user.username
                                                .item-property= user.generalData.firstName.value
                                                .item-property= user.generalData.lastName.value
                                                .clear
                                        //.icon-reset.before-icon(onclick="transformUser('" + user.id + "')")
                                    a.useredit-addUserBtn.btn-addItem.btn-listExt(href="user/addUser")
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        span Hinzufügen
                                        .clear




