<div id="sidebar" class="sidebar">
    <div class="sidebar-top">
        <div class="sidebar-back-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div class="sidebar-title">
            <span>{{title}}</span>
        </div>
    </div>
    <div id="sidebar-inner" class="sidebar-inner">
        <div class="sidebar-content">
            <div class="sidebar-section top-section">
                <div class="sidebar-title">
                    <span>OpenID Settings (Advanced)</span>
                </div>
                <div class="section-content">

                </div>
            </div>
            <div class="sidebar-section body-section">
                <div class="section-content">
                    <div class="ak-form">
                        <div class="ak-item ak-key">
                            <label class="float" for="addGroupForm-title">cookie secrets</label> <div class="float before-icon icon-info icon-small has-tooltip"><span class="tooltip">Comma-separated list of secrets (no whitespace)</span></div>
                            <input class="common-input" id="sidebar-input-openId--cookieSecrets" name="openId-issuer" type="text" value="{{cookieSecrets}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-bottom sidebar-bottom--padding">
            <a class="sidebar-confirm sidebar-bottom-element">
                <button class="mdc-icon-button material-icons">
                    <div class="mdc-icon-button__ripple"></div>
                    check
                </button>
            </a>
            <a class="sidebar-cancel sidebar-bottom-element">
                <button class="mdc-icon-button material-icons">
                    <div class="mdc-icon-button__ripple"></div>
                    close
                </button>
            </a>
        </div>
    </div>
</div>
