<div class="componentPage-component">
    <div class="componentPage-component-inner">
        <div class="componentPage-component-header"><span>Password</span></div>
        <div class="componentPage-component-item">
            <div class="userinfo-item-inner">
                <a id="changePasswordButton" class="content-link slim light changePasswordButton">Password ändern</a>

            </div>
        </div>
    </div>
</div>