<div class="componentPage-component usermaildev-component">
    <div class="componentPage-component-inner">
        <div class="componentPage-component-header"><span>Development options</span></div>
        <div class="componentPage-component-item">
            <div class="userinfo-item-inner">
                <div id="usermaildev-apitoken"></div>
            </div>
        </div>
        <div class="componentPage-component-item">
            <a id="checkAccountExistsButton" class="content-link slim light checkAccountExistsButton">check account exists on mailserver</a>
            <a id="createAccountButton" class="content-link slim light createAccountButton">Create Account on server</a>
            <a id="syncTokenButton" class="content-link slim light createAccountButton">Replace application token</a>
        </div>
    </div>
</div>