//color variables
$publicroute: "../static/public/stylesheets";
@import "../static/public/stylesheets/themes/generic/color-rules";

$page-font-color: #333;
$page-bg-color: #fff;
$page-bg-color-v2: #f9f9f9;



$col1: #00293c;
$col2: #c31d34;
$col3: #213e54;//#1E656D;
$col4: #1e3b48;

$col2_light: #de243d;
$col3_light: #225169;

$link-bg-color: $col2;
$link-hover-color: $col2_light;
$akzent-color: $col2;

$tabs-highlight-color: rgba(125, 0, 24, 0.74);
$subtabs-highlight-color: rgba(32, 59, 125, 0.74);

$docker-width: 20em;
$topnav-height: 0.25 * $docker-width;

$tab-active-color: #555;
$tab-inactive-color: #999;

$text-color-heading: $col1;
$text-color-body: #000;
$text-color-secondary: #333;
$text-color-heading--light: #fff;
$text-color-secondary--light: #fafafa;

$disabled-color: #858585;
$allowed-color: #3b8d23;
$allowed-color-light: #d8eedd;
$delete-color: #84565E;
$delete-color-light: #ecccd1;
$blocked-color: #858585;



$text-hover-color: rgba(124, 0, 26, 0.2);
$text-hover-color-light: rgba(160, 0, 36, 0.1);

$docker-hover-color: rgba(124, 0, 26, 0.2);
$docker-hover-color2: rgba(160, 0, 36, 0.1);
$docker-hover-color-light: rgba(160, 0, 36, 0.2);
$docker-font-color: $page-font-color;
$menu-border-color: #999;
$docker-bg-color: #f5f5f5;
$docker-background-color2: #eaeaea;
//rgba values

//path variables

$image-path: '../../images';
$icon-path: '../../icons';

//mixins
@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
