<form class="form form-paged">
    <div class="form-page">
        <div class="form-section">
            <div class="form-sectionheader"><span>Beschreibung</span></div>
            <div class="form-item useredit-item" id="eventitem-longdesc">
            </div>
        </div>
    </div>
</form>
