<div class="componentPage-component">
    <div class="componentPage-component-inner">
        <div class="componentPage-component-header"><span>Mail Integration</span></div>
        <div class="componentPage-subcomponent">
            <div class="componentPage-component-header"><span>Settings</span></div>
            <div class="componentPage-component-item">
                <div class="mail-monitor"></div>
                <div class="mail-status"></div>
                <div class="mail-switches"></div>
            </div>
        </div>
        <div class="componentPage-subcomponent">
            <div class="componentPage-component-header"><span>Server</span></div>
            <div class="componentPage-component-item">
                <div class="mail-serverSettings"></div>
            </div>
        </div>
        <div class="componentPage-subcomponent">
            <div class="componentPage-component-header"><span>System-Account</span></div>
            <div class="componentPage-component-item">
                <div class="mail-accountSettings"></div>
            </div>
            <div class="componentPage-component-item">
                <a id="checkAccountExistsButton" class="content-link slim light checkAccountExistsButton">check account exists on mailserver</a>
                <a id="createAccountButton" class="content-link slim light createAccountButton">Create Account on server</a>
                <a id="syncTokenButton" class="content-link slim light createAccountButton">Replace application token</a>
            </div>
        </div>
    </div>
</div>