<div class="componentPage-component">
    <div class="componentPage-component-inner">
        <div class="componentPage-component-header"><span>Mail Integration</span></div>
        <div class="componentPage-subcomponent">
            <div class="componentPage-component-header"><span>Settings</span></div>
            <div class="componentPage-component-item">
                <div class="mail-monitor"></div>
                <div class="mail-status"></div>
                <div class="mail-switches"></div>
            </div>
        </div>
        <div class="componentPage-subcomponent">
            <div class="componentPage-component-header"><span>Server</span></div>
            <div class="componentPage-component-item">
                <div class="mail-serverSettings"></div>
            </div>
        </div>
    </div>
</div>