<div class="componentPage-component">
    <div class="componentPage-component-inner">
        <div class="componentPage-component-header"><span>OpenId Login</span></div>
        <div class="componentPage-subcomponent">
            <div class="componentPage-component-header"><span>Settings</span></div>
            <div class="componentPage-component-item">
                <div class="openid-monitor"></div>
                <div class="openid-status"></div>
                <div class="openid-settings"></div>
            </div>
        </div>
        <div class="componentPage-subcomponent">
            <div class="componentPage-component-header"><span>Advanced</span></div>
            <div class="componentPage-component-item">
                <div class="openid-advanced"></div>
            </div>
        </div>
        <div class="componentPage-subcomponent">
            <div class="componentPage-component-header"><span>Clients</span></div>
            <div class="componentPage-component-item">
                <div class="openid-clients"></div>
            </div>
            <div class="info-item useredit-item useredit-addItem">
                <div id="openid-addClient" class="btn-addItem btn-listExt openid-addClient">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                        <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    <span>Hinzufügen</span>
                </div>
            </div>
        </div>
    </div>
</div>