<section>
    <div id="formular" class="sec-content content-page width full-height">
        <div class="sec-heading center" style="margin-bottom: 1em;">
            <span>Kontaktmöglichkeiten:</span>
        </div>

        <div class="cont-form">
            <div class="cont-message cont-contactBtn contact-form-part">
                <div class="cont-flip flipped">
                    <div class="front">
                        <a href="#" class="btn btn-white flip">Schreibe uns</a>
                    </div>
                    <div class="back">
                        <a href="#" class="flip close"></a>
                        <form class="contact-form" action="">
                            <input name="name" class="gutter" type="text" placeholder="Name">
                            <input name="uni" class="" type="text" placeholder="Hochschule">
                            <input name="sub" class="gutter" type="text" placeholder="Studiengang">
                            <input name="mail" type="text" placeholder="Email">
                            <textarea name="msg" id="" placeholder="Ihre Nachricht"></textarea>
                            <input type="submit" value="Senden">
                        </form>
                    </div>
                </div>
            </div>
            <div class="cont-meeting contact-form-part cont-contactBtn">
                <div class="cont-flip flipped">
                    <div class="front">
                        <a href="#" class="btn btn-white flip">Komm vorbei</a>
                    </div>
                    <div class="back">
                        <a href="#" class="flip close"></a>
                        <div class="meeting-content">
                            <h4>Unser nächstes Treffen:</h4>
                            <div class="date">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                                <span>01.04.2021 // 18:30 - 21:00</span>
                            </div>
                            <div class="location">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                <span>Kaitzer Straße 3, 01069 Dresden</span>
                            </div>
                            <div class="topic">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                                <span>Thema: Website des Studentischen Sanitätsdienstes - Veröffentlichung noch vor Fertigstellung von Flughafen BER?</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>