<div id="wrapper" class="content-wrapper">
    <section id="content-top" class="header-image">
        <img class="img-desktop" src="images/team/header.jpg">
        <img class="img-mobile" src="images/team/header_mobile.jpg">
        <div class="header-image-overlay">
            <div class="overlay-title">
                <span>Studentischer Sanitätsdienst der TU Dresden.</span>
            </div>
            <div class="overlay-content">
                <span>Sicher durch den Alltag - Im Ernstfall das Richtige tun. Gemeinsam für ein besseres Leben an der TU Dresden.</span>
            </div>
        </div>
    </section>

    <section id="sec1" class="sec-middle content-section color-generic">
        <div id="content1" class="sec-content sec-full-width sec-nomargin">
            <div id="content1-heading" class="sec-heading">
                <span>Datenschutz</span>
            </div>
            <div id="list01" class="contact-list-container style1">

                <ul id="expanding-list01" class="contact-list">
                    <li class="contact-entry expanding">
                        <div class="contact-entry-inner">
                            <div class="contact-heading ">
                                <span>Benennung der verantwortlichen Stelle</span>
                            </div>
                            <div class="contact-details collapsing">
                                <div class="contact-container">
                                    <span>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</span></div>
                                <div class="contact-container">
                                    <span>Studentischer Sanitätsdienst der Technischen Universität Dresden<br>
                                    c/o Studentenrat der Technischen Universität Dresden<br>
                                    Helmholtzstr. 10<br>
                                    01069 Dresden</span>
                                </div>
                                <div class="contact-container">
                                        <span>Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, Kontaktdaten o. Ä.).</span>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="contact-entry expanding">
                        <div class="contact-entry-inner">
                            <div class="contact-heading ">
                                <span>Widerruf Ihrer Einwilligung zur Datenverarbeitung</span>
                            </div>
                            <div class="contact-details collapsing">
                                <div class="contact-container">
                                    <span>
                                    Nur mit Ihrer ausdrücklichen Einwilligung sind einige Vorgänge der Datenverarbeitung möglich. Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit möglich. Für den Widerruf genügt eine formlose Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
                                    </span>
                                </div>
                            </div>
                            <div class="contact-heading ">
                                <span>Recht auf Beschwerde bei der zuständigen Aufsichtsbehörde</span>
                            </div>
                            <div class="contact-details collapsing">
                                <div class="contact-container">
                                    <span>
                                   Als Betroffener steht Ihnen im Falle eines datenschutzrechtlichen Verstoßes ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde bezüglich datenschutzrechtlicher Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes, in dem sich der Sitz unserer Hochschulgruppe befindet.
                                    </span>
                                </div>
                            </div>
                            <div class="contact-heading ">
                                <span>Recht auf Datenübertragbarkeit</span>
                            </div>
                            <div class="contact-details collapsing">
                                <div class="contact-container">
                                    <span>
                                        Ihnen steht das Recht zu, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder an Dritte aushändigen zu lassen. Die Bereitstellung erfolgt in einem maschinenlesbaren Format. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.

                                    </span>
                                </div>
                            </div>
                            <div class="contact-heading ">
                                <span>Recht auf Auskunft, Berichtigung, Sperrung, Löschung</span>
                            </div>
                            <div class="contact-details collapsing">
                                <div class="contact-container">
                                    <span>
                                     Sie haben jederzeit im Rahmen der geltenden gesetzlichen Bestimmungen das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, Herkunft der Daten, deren Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Diesbezüglich und auch zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit über die im Impressum aufgeführten Kontaktmöglichkeiten an uns wenden.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="clear"></div>
        </div>
    </section>


</div>










