<div id="wrapper" class="content-wrapper">
    <section id="content-top" class="header-image">
        <img class="img-desktop" src="images/team/header.jpg">
        <img class="img-mobile" src="images/team/header_mobile.jpg">
        <div class="header-image-overlay">
            <div class="overlay-title">
                <span>Studentischer Sanitätsdienst der TU Dresden.</span>
            </div>
            <div class="overlay-content">
                <span>Sicher durch den Alltag - Im Ernstfall das Richtige tun. Gemeinsam für ein besseres Leben an der TU Dresden.</span>
            </div>
        </div>
    </section>

    <section id="sec1" class="sec-middle content-section color-generic">
        <div id="content1" class="sec-content sec-full-width sec-nomargin">
            <div id="content1-heading" class="sec-heading">
                <span>Impressum</span>
            </div>
            <div id="list01" class="contact-list-container style1">

                <ul id="expanding-list01" class="contact-list">
                    <li class="contact-entry expanding">
                        <div class="contact-entry-inner">
                            <div class="contact-heading ">
                                <span>Betreiber</span>
                            </div>
                            <div class="contact-details collapsing">
                                <div class="contact-container">
                                    <span>Betreiber der Website unisan-dresden.de ist die Hochschulgruppe: Studentischer Sanitätsdienst der TU Dresden.</span>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="contact-entry expanding">
                        <div class="contact-entry-inner">
                            <div class="contact-heading ">
                                <span>Postanschrift</span>
                            </div>
                            <div class="contact-details collapsing">
                                <div class="contact-container">
                                    <span>Studentischer Sanitätsdienst der Technischen Universität Dresden</span>
                                    <span>c/o Studentenrat der Technischen Universität Dresden</span>
                                    <span>Helmholtzstr. 10</span>
                                    <span>01069 Dresden</span>
                                    <span>Telefon: 01573 9457519</span>
                                    <span>E-Mail: <a class="impressum-link mail-hidden mailto text force-select" data-prefix="info">info[at]unisan-dresden[dot]de</a></span>
                                    <span>Internet: <a class="impressum-link" href="http://www.unisan-dresden.de">www.unisan-dresden.de</a></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="contact-entry expanding collapsed">
                        <div class="contact-entry-inner">
                            <div class="contact-heading">
                                <span>Vertretungsberechtigte</span>
                            </div>
                            <div class="contact-details collapsing">
                                <div class="contact-container">
                                    <span>Vertretungsberechtigt sind der Vorsitzende und dessen Stellvertreter. Aktuell sind das:</span>
                                    <span>Felix Rauschert</span>
                                    <span>Tom Ziegler</span>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="list02" class="contact-list-container style2">
                <span>Haftungsausschluss</span>
                <ul id="expanding-list02" class="contact-list ">
                    <li class="contact-entry expanding collapsed">
                        <div class="contact-entry-inner">
                            <div class="contact-heading ">
                                <span>Haftung für Links</span>
                            </div>
                            <div class="contact-details collapsing">
                                <div class="contact-container">
                                    <span>Wir übernehmen keine Verantwortung für die Inhalte fremder Angebote. Seiten, auf die wir durch externe Links unmittelbar verweisen, werden von uns vor dem Setzen eines Links sorgfältig ausgewählt. Auf spätere Änderungen von unmittelbar verlinkten Seiten sowie auf Inhalte nachfolgender Seiten fremder Angebote haben wir jedoch keinen Einfluss. Wir distanzieren uns daher ausdrücklich von späteren Änderungen unmittelbar verlinkter Seiten, den Inhalten auf nachfolgenden Seiten sowie deren Anbietern.</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </section>


</div>

