<div id="wrapper" class="content-wrapper">
    <section id="content-top" class="header-image">
        <img class="img-desktop" src="images/team/header.jpg">
        <img class="img-mobile" src="images/team/header_mobile.jpg">
        <div class="header-image-overlay">
            <div class="overlay-title">
                <span>Studentischer Sanitätsdienst der TU Dresden.</span>
            </div>
            <div class="overlay-content">
                <span>Sicher durch den Alltag - Im Ernstfall das Richtige tun. Gemeinsam für ein besseres Leben an der TU Dresden.</span>
            </div>
        </div>
    </section>

    <section id="sec1" class="sec-middle content-section color-generic">
        <div id="content1" class="sec-content sec-full-width sec-nomargin">
            <div id="content1-heading" class="sec-heading">
                    <span>Kontaktinformation</span>
            </div>
            <div id="list01" class="contact-list-container style1">

                <span>Sie haben eine Frage zu...</span>
                <ul id="expanding-list01" class="contact-list">
                    <li class="contact-entry expanding collapsed">
                        <div class="contact-entry-inner">
                            <div class="contact-heading ">
                                <span>Mitgliedschaft</span>
                            </div>
                            <div class="contact-details collapsing">
                                <div class="contact-details-container">
                                    <div class="contact-container">
                                        <span>Du willst bei uns mit anpacken? Schreibe uns und stelle dich kurz vor. Von uns erfährst du dann, wann und wo du uns kennen lernen kannst.</span>

                                    </div>
                                    <div class="contact-container">
                                        <div class="contact-person">
                                            <div class="person-part person-image">
                                                <img src="images/kontakt/1_250.jpg" alt="1.jpg">
                                            </div>
                                            <div class="person-part person-details">
                                                <div class="spacer"></div>
                                                <div class="wrapper">
                                                    <span class="details name">Felix Rauschert</span>
                                                    <span class="details role">Vorsitzender</span>
                                                    <span class="details mail">Email: <a href="mailto:me@respam.org" data-prefix="info" class="mail-hidden itsatrap text force-select">hidden. Are you a bot?</a></span>
                                                    <div class="send-a-fish">
                                                        <a class="mail-hidden mailto" data-prefix="info"><span class="mail-body-hidden"></span><span class="mail-body-collapsing">E-Mail senden</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="contact-entry expanding collapsed">
                        <div class="contact-entry-inner">
                            <div class="contact-heading">
                                <span>Seminarangebot</span>
                            </div>

                            <div class="contact-details collapsing">
                                <div class="contact-details-container">
                                    <div class="contact-container">
                                        <span>Sie haben Interesse an einem unserer Kurse? Wir freuen uns auf Ihre Anfrage!</span>
                                    </div>
                                    <div class="contact-container">
                                        <div class="contact-person">
                                            <div class="person-part person-image">
                                                <img src="images/kontakt/2_250.jpg" alt="2.jpg">
                                            </div>
                                            <div class="person-part person-details">
                                                <div class="spacer"></div>
                                                <div class="wrapper">
                                                    <span class="details name">Tom Ziegler</span>
                                                    <span class="details role">Leiter Ausbildung</span>
                                                    <span class="details mail">Email: <a href="mailto:me@respam.org" data-prefix="ausbildung" class="mail-hidden itsatrap text force-select">hidden. Are you a bot?</a></span>
                                                    <div class="send-a-fish">
                                                        <a class="mail-hidden mailto" data-prefix="ausbildung"><span class="mail-body-hidden"></span><span class="mail-body-collapsing">E-Mail senden</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="contact-entry expanding collapsed">
                        <div class="contact-entry-inner">
                            <div class="contact-heading">
                                <span>Sanitätsdienst zu Verantstaltungen</span>
                            </div>
                            <div class="contact-details collapsing">
                                <div class="contact-details-container">
                                    <div class="contact-container">
                                        <span>Sie organisieren eine Veranstaltung an der TU Dresden und möchten sich mit uns abstimmen?</span>
                                    </div>
                                    <div class="contact-container">
                                        <div class="contact-person">
                                            <div class="person-part person-image">
                                                <img src="images/kontakt/1.jpg" alt="1_250.jpg">
                                            </div>
                                            <div class="person-part person-details">
                                                <div class="spacer"></div>
                                                <div class="wrapper">
                                                    <span class="details name">Felix Rauschert</span>
                                                    <span class="details role">Vorsitzender</span>
                                                    <span class="details mail">Email: <a href="mailto:me@respam.org" data-prefix="info" class="mail-hidden itsatrap text force-select">hidden. Are you a bot?</a></span>
                                                    <div class="send-a-fish">
                                                        <a class="mail-hidden mailto" data-prefix="info"><span class="mail-body-hidden"></span><span class="mail-body-collapsing">E-Mail senden</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="list02" class="contact-list-container style2">
                <span>Allgemeine Kontaktdaten</span>
                <ul id="expanding-list02" class="contact-list ">
                    <li class="contact-entry expanding collapsed">
                        <div class="contact-entry-inner">
                            <div class="contact-heading ">
                                <span>Postanschrift</span>
                            </div>
                            <div class="contact-details collapsing">
                                <div class="contact-details-container">
                                    <div class="contact-container">
                                        <span>Studentischer Sanitätsdienst der Technischen Universität Dresden</span>
                                        <span>c/o Studentenrat der Technischen Universität Dresden</span>
                                        <span>Helmholtzstr. 10</span>
                                        <span>01069 Dresden</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="contact-entry expanding collapsed">
                        <div class="contact-entry-inner">
                            <div class="contact-heading">
                                <span>Email</span>
                            </div>
                            <div class="contact-details collapsing">
                                <div class="contact-details-container">
                                    <div class="contact-container">
                                        <div class="contact-person">
                                            <div class="person-part person-image">
                                                <img src="images/logo/logo_small.jpg" alt="logo_small.jpg 250x250">
                                            </div>
                                            <div class="person-part person-details">
                                                <div class="spacer"></div>
                                                <div class="wrapper">
                                                    <span class="details name">Studentischer Sanitätsdienst der TU Dresden</span>
                                                    <span class="details role">Hochschulgruppe</span>
                                                    <span class="details mail">Email: <a href="mailto:me@respam.org" data-prefix="info" class="mail-hidden itsatrap text force-select">hidden. Are you a bot?</a></span>
                                                    <div class="send-a-fish">
                                                        <a class="mail-hidden mailto" data-prefix="info"><span class="mail-body-hidden"></span><span class="mail-body-collapsing">E-Mail senden</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        <div class="clear"></div>
        </div>
    </section>


</div>

