<html>
<body>

<div id="wrapper" class="content-wrapper">
    <section id="content-top" class="header-image">
        <img class="img-desktop" src="images/kurse/header.jpg">
        <img class="img-mobile" src="images/kurse/header_mobile.jpg">
        <div class="header-image-overlay">
            <div class="overlay-title">
                <span>Im Ernstfall das Richtige tun.</span>
            </div>
            <div class="overlay-content">
                <span>Unsere Seminare für Mitarbeiter und Studierende der TU Dresden. Moderne Konzepte zugeschnitten auf Ihre Ansprüche.</span>
            </div>
            <div class="overlay-links">
                <div>
                    <a href="#contact" class="link-prime">Termin vereinbaren</a>
                </div>
                <div>
                    <a href="#contact" class="link-secondary">Angebot durchstöbern</a>
                </div>
                <div class="clear"></div>
            </div>

        </div>


    </section>

    <section id="sec1" class="sec-middle content-section color-generic">
        <div id="content1" class="sec-content split-vertically sec-labeled-left full-width full-height">
            <div class="sec-heading mobile-heading color-invert">
                <h2>Unsere Seminare</h2>
            </div>
            <div id="fixedLabel" class="split-part sec-content-part sec-label color-generic-v3">
                <div class="sec-label-inner">
                    <div class="sec-heading">
                        <h2>Unsere Seminare</h2>
                    </div>
                    <ul>
                        <li><a href="#c1">Für Mitarbeiter</a></li>
                        <li><a href="#c2">Für Studenten</a></li>
                        <li><a href="#c3">Zertifizierung</a></li>
                    </ul>
                </div>
            </div>
            <div class="split-part sec-content-part sec-content-text">
                <div id="content1-inner" class="content-inner">
                    <div id="c1" class="content-inner-part">
                        <div id="content1-heading1" class="content-heading">
                            <h4>Für Mitarbeiter</h4>
                        </div>
                        <div id="content1-text" class="content-text">

                                <span class="content-text-part">
                                    Wir bieten Ihnen ein breites Angebot von Schulungen, mit denen Sie und Ihre Kollegen lernen, im Ernstfall richtig Erste Hilfe zu leisten. Speziell auf Lehrstühle zugeschnitten und vielfach erprobt, bieten unsere Kurse kurzweilige und topaktuelle Inhalte rund um die Erste Hilfe. Unsere Schulungen sind für Mitarbeiter der TU Dresden immer kostenneutral.
                                </span>
                            <span class="content-text-part">
                                Sammeln Sie Ideen aus unserem Kursangebot und schreiben Sie uns dann ihre Vorstellungen. Gerne passen wir die Themen und den Zeitrahmen an Ihre Wünsche an.
                            </span>
                            <a href="#sec2" class="content-link">Zu den Kursen</a>
                        </div>
                    </div>
                    <div id="c2" class="content-inner-part">
                        <div id="content2-heading" class="content-heading">
                            <h4>Für Studenten</h4>
                        </div>
                        <div id="content2-text" class="content-text">
                            <span class="content-text-part">
                                Eure Hochschulgruppe, Verein, AG, etc... sucht noch nach einem spannenden Thema für den nächsten Gemeinschaftsabend? Ihr arbeitet in Werkstätten, mit Starkstrom, Chemikalien?
                            </span>
                            <span>
                                Gern bieten wir für eure Gruppe einen Workshop zum Thema Erste Hilfe an. Sucht euch aus dem Kursangebot etwas heraus, oder schreibt uns einfach eure Vorstellungen und Zeitrahmen. Wir stellen dann einen Kurs für euch zusammen.
                            </span>
                            <span>
                                Für euch als studentische Initiative sind unsere Kurse immer kostenneutral.
                            </span>
                        </div>
                    </div>

                    <div id="c3" class="content-inner-part last">
                        <div id="content3-heading" class="content-heading">
                            <h4>Zertifizierung</h4>
                        </div>
                        <div id="content3-text" class="content-text">
                            <span class="content-text-part">
                                Um in unseren Kursen ein hohes Maß an Flexibilität zu gewährleisten, folgen wir keinen strengen Vorgaben bezüglich des Inhaltes. Dadurch ist es uns jedoch leider nicht möglich, für die Teilnahme an unseren Kursen eine Zertifizierung auszustellen.
                            </span>

                            <span>
                                Falls Sie auf der Suche nach einer Schulung für Betriebliche Ersthelfer oder für den Führerschein sind, wenden Sie sich bitte an den <a class="inline-link external" href="https://tu-dresden.de/tu-dresden/gesundheitsmanagement">Gesundheitsdienst der TU Dresden.</a>
                            </span>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
        <section id="sec2" class="color-generic-v3-inverse content-section">
            <div id="content2" class="sec-content sec-full-width sec-nomargin">
                <div class="sec-heading">
                    <h2>Unser Seminarangebot</h2>
                </div>

                <div id="content2-inner">
                    <div class="courses-section">
                        <!-- quick way to display members. TODO: Make this generate dynamically from database -->
                        <div class="course">
                            <div class="course-inner">
                                <div class="course-top">
                                    <div class="course-img">
                                        <img src="images/kurse/1.jpg">
                                    </div>
                                    <div class="course-title">
                                        <h4>Grundkurs "Wiederbelebung mit AED"</h4>
                                    </div>
                                </div>
                                <div class="course-body">
                                    <div class="course-tags">
                                        <span class="part">10 - 30</span>
                                        <span class="time ">90 Min</span>
                                        <span class="lang">De, En</span>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="course-info">
                                        <span>
                                           Die Teilnehmer erfahren, warum die korrekte und schnelle Durchführung von Maßnahmen zur Wiederbelebung so wichtig ist, und wie man die Überlebenschancen mittels Einsatz eines AED (Automatischer Externer Defibrillator) signifikant erhöhen kann.
                                        </span>
                                        <span>
                                            Inhalte:
                                            <ul>
                                                <li>Notruf, Rechtlicher Rahmen, Besonderheiten an der TUD</li>
                                                <li>Prüfen von Bewusstsein und Atmung</li>
                                                <li>Stabile Seitenlage</li>
                                                <li>Durchführung der Herz-Lungen-Wiederbelebung</li>
                                                <li>Anwendung eines AED (automatischer externer Defibrillator)</li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="course">
                            <div class="course-inner">
                                <div class="course-top">
                                    <div class="course-img">
                                        <img src="images/kurse/2.jpg">
                                    </div>
                                    <div class="course-title">
                                        <h4>Trainingskurs "Wiederbelebung mit AED"</h4>
                                    </div>
                                </div>
                                <div class="course-body">
                                    <div class="course-tags">
                                        <span class="part">8 - 20</span>
                                        <span class="time ">150 Min</span>
                                        <span class="lang">De, En</span>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="course-info">
                                        <span>
                                            Die Teilnehmer erfahren, warum die korrekte und schnelle Durchführung von Maßnahmen zur Wiederbelebung so wichtig ist, und wie man die Überlebenschancen mittels Einsatz eines AED signifikant erhöhen kann. Dabei übt jeder Teilnehmer die Durchführung von Stabiler Seitenlage und Wiederbelebung mit Anwendung eines AED.
                                        </span>
                                        <span>
                                            Inhalte:
                                            <ul>
                                                <li>Notruf, Rechtlicher Rahmen, Besonderheiten an der TUD</li>
                                                <li>Prüfen von Bewusstsein und Atmung</li>
                                                <li>Stabile Seitenlage</li>
                                                <li>Durchführung der Herz-Lungen-Wiederbelebung</li>
                                                <li>Anwendung eines AED (automatischer externer Defibrillator)</li>
                                                <li>Praktische Übung der Maßnahmen</li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="course">
                            <div class="course-inner">
                                <div class="course-top">
                                    <div class="course-img">
                                        <img src="images/kurse/3.jpg">
                                    </div>
                                    <div class="course-title">
                                        <h4>Trainingskurs "Fit in erster Hilfe"</h4>
                                    </div>
                                </div>
                                <div class="course-body">
                                    <div class="course-tags">
                                        <span class="part">8 - 20</span>
                                        <span class="time ">300 Min</span>
                                        <span class="lang">De</span>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="course-info">
                                        <span>
                                       Es werden ausgewählte Themen der Ersten Hilfe mit den Teilnehmern besprochen und praktisch trainiert. Der Aufbau ist modular, daher ist die Dauer des Kurses relativ flexibel wählbar. Weiterhin kann der Kurs aufgeteilt und an verschiedenen Terminen angeboten werden.
                                        </span>
                                        <span>
                                            Inhalte:
                                            <ul>
                                                <li>Notruf, Rechtlicher Rahmen, Besonderheiten an der TUD</li>
                                                <li>Inhalte des Trainingskurs "Wiederbelebung mit AED"</li>
                                                <li>Herzinfarkt, Schlaganfall</li>
                                                <li>Kreislaufzusammenbruch, Krampfanfall (Epilepsie)</li>
                                                <li>Wundverbände, Knochenbrüche, Verstauchungen</li>
                                                <li>Vergiftungen, Verbrennungen</li>
                                                <li>Notfälle mit Kindern</li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="course">
                            <div class="course-inner">
                                <div class="course-top">
                                    <div class="course-img">
                                        <img src="images/kurse/4.jpg">
                                    </div>
                                    <div class="course-title">
                                        <h4>Spezialkurs "Richtig handeln in Notfällen!"</h4>
                                    </div>
                                </div>
                                <div class="course-body">
                                    <div class="course-tags">
                                        <span class="part">8 - 20</span>
                                        <span class="time ">240 Min</span>
                                        <span class="lang">De, En</span>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="course-info">
                                        <span>
                                       In diesem Kurs werden die Teilnehmer an das medizinische Notfallrettungssystem in Deutschland herangeführt. Zielgruppe sind speziell Mitarbeiter aus dem Ausland, die mit den Gegebenheiten in Deutschland nicht vertraut sind.
                                        </span>
                                        <span>
                                            Inhalte:
                                            <ul>
                                                <li>Notruf, Wartezeiten, Haftungsansprüche, Do's and Dont's in medizinischen Notfällen</li>
                                                <li>Beurteilung von Notfallpatienten: Wie stelle ich fest, dass jemand Hilfe braucht? Wann wähle ich den Notruf?</li>
                                                <li>Inhalte des Trainingskurses "Wiederbelebung mit AED"</li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    <section id="sec3" class="color-generic-v3 content-section">
        <div class="sec-content sec-full-width sec-nomargin">
            <div id="sec3-inner">
                <div id="sec3-left" class="split-part sec-content-part sec-content-text">
                    <div id="content1-heading" class="content-heading">
                        <h2>Nicht das richtige dabei?</h2>
                    </div>
                    <div id="sec3-text" class="content-text">

                        <span>Schreibt uns eure Vorstellungen. Jeder Seminar wird individuell vorbereitet, und wir erweitern unser Portfolio mit Vergnügen.</span>

                    </div>

                    <a id="content1-link1" class="content-link" href="kontakt.php">Kontakt aufnehmen</a>
                </div>
            </div>
        </div>
    </section>
    <section id="sec4" class="color-generic content-section">
        <div class="sec-content sec-full-width">
            <div id="kontakt">
                <div class="contact-box sec-content-part">
                    <div id="content3-heading4" class="content-heading">
                        <h2>Ansprechpartner</h2>
                    </div>
                    <div class="contact-container">
                        <div class="contact-person">
                            <div class="person-part person-image">
                                <img src="images/kontakt/2_250.jpg" alt="2.jpg">
                            </div>
                            <div class="person-part person-details">
                                <div class="spacer"></div>
                                <div class="wrapper">
                                    <span class="details name">Tom Ziegler</span>
                                    <span class="details role">Leiter Ausbildung</span>
                                    <span class="details mail">Email: <a href="mailto:me@respam.org" data-prefix="ausbildung" class="mail-hidden itsatrap text force-select">hidden. Are you a bot?</a></span>
                                    <div class="send-a-fish">
                                        <a class="mail-hidden mailto" data-prefix="ausbildung"><span class="mail-body-hidden"></span><span class="mail-body-collapsing">E-Mail senden</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>






</body>
</html>