<html>
<body>

<div id="wrapper" class="content-wrapper">
    <section id="content-top" class="header-image">
        <img class="img-desktop" src="images/mitmachen/header.jpg">
        <img class="img-mobile" src="images/mitmachen/header_mobile.jpg">
        <div class="header-image-overlay">
            <div class="overlay-title">
                <span>Helfen aus Leidenschaft</span>
            </div>
            <div class="overlay-content">
                <span>Dein Einsatz zählt! Werde Teil unseres Teams und hilf dabei, das Leben auf dem Campus sicherer zu machen.</span>
            </div>
            <div class="overlay-links">
                <div>
                    <a href="#contact" class="link-prime">Jetzt Mitmachen</a>
                </div>
                <div>
                    <a href="#contact" class="link-secondary">Fördermitglied werden</a>
                </div>
                <div class="clear"></div>
            </div>

        </div>


    </section>

    <section id="sec1" class="sec-middle content-section color-generic">
        <div id="content1" class="sec-content content-page split-vertically sec-labeled-left full-width full-height">
            <div id="fixedLabel" class="split-part sec-content-part sec-label color-generic-v3">
                <div class="sec-label-inner">
                    <div class="sec-heading">
                        <span>Dein Weg bei uns:</span>
                    </div>
                    <ul>
                        <li><a href="#interesse">Wer kann mitmachen?</a></li>
                        <li><a href="#ausbildung">Wie werde ich ausgebildet?</a></li>
                        <li><a href="#verantwortung">Wie geht es weiter?</a></li>
                    </ul>
                </div>
            </div>
            <div class="split-part sec-content-part sec-content-text">
                <div id="content1-inner" class="content-inner">
                    <div id="interesse" class="content-inner-part">
                        <div id="content1-heading1" class="content-heading">
                            <h2>Wer kann mitmachen?</h2>
                        </div>
                        <div id="content1-text" class="content-text">

                                <span class="content-text-part">
                                     Jeder! Es ist kein Vorwissen erforderlich. Natürlich freuen wir uns aber auch über ausgebildete Interessierte. Hierbei ist für uns völlig egal, welcher Hilfsorganisation ihr angehört oder in welchem Land ihr eure Erfahrungen gesammelt habt. Jeder kann sein Wissen einbringen und damit die Gruppe bereichern.
                                </span>
                        </div>
                    </div>
                    <div id="ausbildung" class="content-inner-part">
                        <div id="content2-heading" class="content-heading">
                            <h2>Wie werde ich ausgebildet?</h2>
                        </div>
                        <div id="content2-text" class="content-text">
                            <span class="content-text-part">
                      d           Unsere Mitglieder werden in den wöchentlichen Gruppenabenden von anderen Mitgliedern ausgebildet. Fachlich bewegen wir uns in etwa auf Niveau des Sanitäters im Rahmen des Katastrophenschutzes. Hierfür wird die neu erlernte Theorie an Fallbeispielen geübt, sodass die Praxis nie zu kurz kommt.
                            </span>
                            <span class="content-text-part">
                                 Hast du bei uns erste Luft im Bereich der Notfallmedizin geschnuppert, können wir dir zum Vertiefen deines Wissens gerne Kontakte in die verschiedenen Hilfsorganisationen herstellen.
                            </span>

                        </div>
                    </div>
                    <div id="verantwortung" class="content-inner-part last">
                        <div id="content3-heading" class="content-heading">
                            <h2>Wie geht es weiter?</h2>
                        </div>
                        <div id="content3-text" class="content-text">
                                <span class="content-text-part">
                                   Innerhalb der Hochschulgruppe gibt es eine Vielzahl von Beteiligungsmöglichkeiten. Unsere Hauptaufgabe ist natürlich die interne und externe Ausbildung sowie die Absicherung von Veranstaltungen. Aber nicht jede Aufgabe setzt medizinisches Wissen voraus. Wir suchen immer Unterstützung in der Öffentlichkeitsarbeit, Projektverwaltung, Organisation und vielem mehr. Über aktuelle Projekte informieren wir während unserer regelmäßigen Treffen.
                                 </span>
                            <span class="content-text-part">
                                Interesse bekommen? Schreibe uns!
                            </span>
                            <a href="kontakt.php" class="content-link">Kontakt aufnehmen</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
</div>






</body>
</html>