<html>
<body>

<div id="wrapper" class="content-wrapper">
    <section id="content-top" class="header-image">
        <img class="img-desktop" src="images/sanitaetsdienst/header.jpg">
        <img class="img-mobile" src="images/sanitaetsdienst/header_mobile.jpg">
        <div class="header-image-overlay">
            <div class="overlay-title">
                <span>Mit Sicherheit vor Ort.</span>
            </div>
            <div class="overlay-content">
                <span>Für ihre Veranstaltung an der TU Dresden sorgen wir für die medizinische Sicherheit ihrer Teilnehmer.</span>
            </div>
            <div class="overlay-links">
                <div>
                    <a href="#contact" class="link-prime">Jetzt Mitmachen</a>
                </div>
                <div>
                    <a href="#contact" class="link-secondary">Fördermitglied werden</a>
                </div>
                <div class="clear"></div>
            </div>

        </div>


    </section>

    <section id="sec1" class="sec-middle content-section color-generic">
        <div id="content1" class="sec-content split-vertically sec-labeled-left full-width full-height">
            <div class="sec-heading mobile-heading color-invert">
                <h2>Sanitätsdienst</h2>
            </div>
            <div id="fixedLabel" class="split-part sec-content-part sec-label color-generic-v3">
                <div class="sec-label-inner">
                    <div class="sec-heading">
                        <h2>Sanitätsdienst</h2>
                    </div>
                    <ul>
                        <li><a href="#c1">Veranstaltungen an der TUD</a></li>
                        <li><a href="#c2">Unsere Möglichkeiten</a></li>
                        <li><a href="#c3">Ausrüstung</a></li>


                    </ul>
                </div>
            </div>
            <div class="split-part sec-content-part sec-content-text">
                <div id="content1-inner" class="content-inner">
                    <div id="c1" class="content-inner-part">
                        <div id="content1-heading1" class="content-heading">
                            <h2>Veranstaltungen an der TUD</h2>
                        </div>
                        <div id="content1-text1" class="content-text">

                                <span class="content-text-part">
                                </span>
                                <span class="content-text-part">
                                    Ob FSR-Party, Wissenschaftlicher Kongress oder Sportturnier:<br>
                                    Für Veranstaltungen an der TU Dresden stehen wir Ihnen gern in Fragen rund um die Erste Hilfe zur Seite.
                                    Wir beraten Sie im Vorfeld zu Veranstaltungsort und notwendigen Vorkehrungen. Am Tag der Veranstaltung sorgen unsere Sanitäter und Sanitäterinnen für die Sicherheit der Teilnehmer.

                                </span>

                        </div>
                    </div>
                    <div id="c2" class="content-inner-part">
                        <div id="content1-heading2" class="content-heading">
                            <h2>Unsere Möglichkeiten</h2>
                        </div>
                        <div id="content1-text2" class="content-text">
                            <span class="content-text-part">
                                Wer öffentliche Veranstaltungen organisiert, muss auch um die Sicherheit seiner Gäste gewährleisten.
                            </span>
                            <span class="content-text-part">
                                Je nach Größe und Art der Veranstaltung sind verschiedene Arten der medizinschen Sicherstellung erforderlich.
                                Für kleine Events reichen in der Regel sachkundige Ersthelfer aus, bei größeren Veranstaltungen können die zuständigen Behörden jedoch höher qualifiziertes Personal vorschreiben.
                            </span>
                            <span class="content-text-part">
                                Doch auch bei kleineren Veranstaltungen ohne explizite behördliche Auflagen können die Organisatoren natürlich selbst dafür sorgen, dass sanitätsdienstliches Personal vor Ort ist.
                                Damit bieten diese ihren Teilnehmern zusätzliche Sicherheit und müssen sich bei medizinischen Notfällen nicht selbst um Notruf und Erstversorgung kümmern.
                            </span>
                            <span class="content-text-part subheading">
                                Hier kommen wir ins Spiel:

                            </span>
                            <span class="content-text-part">
                                Als rein studentische Hochschulgruppe können wir nicht die Fülle an Personal und Ausrüstung stellen, über welche große Hilfsorganisationen wie DRK, Malteser, Johanniter, ASB und Co. verfügen.
                                <br> Unser Angebot steht daher nur für Veranstaltungen, bei denen die Behörden der Stadt Dresden keine speziellen Kräfte zur medizinischen Sicherstellung vorschreiben.
                            </span>
                            <span class="content-text-part">

                            </span>
                            <span class="content-text-part">

                                Weiterhin beschränkt sich unser Angebot auf Veranstaltungen, die auf dem Gelände der TU Dresden stattfinden bzw. von Institutionen der TU organisiert werden. Für Sie als Veranstalter ist unser Angebot kostenneutral.
                            </span>
                            <span class="content-text-part">

                            </span>


                        </div>
                    </div>
                    <div id="c3" class="content-inner-part">
                        <div id="content1-heading3" class="content-heading">
                            <h2>Ausrüstung und Qualifikation</h2>
                        </div>
                        <div id="content1-text3" class="content-text">
                            <span class="content-text-part">
                                Unsere medizinische Ausrüstung umfasst zwei Sanitätstaschen nach DIN 13155. Bei sanitätsdienstlichen Absicherungen ist jeweils ein Team mit einer Tasche ausgestattet. Ein Team besteht dabei aus mindestens einem Teamführer (mind. Sanitäter oder Rettungssanitäter) sowie mindestens einem qualifizierten Ersthelfer. Höhere Qualifikationen sind möglich.
                            </span>
                            <span class="content-text-part">
                                Im Vorfeld sollte eine genauere Absprache stattfinden. Wir freuen uns daher über ihre rechtzeitige Anfrage.
                            </span>
                        </div>
                    </div>
                    <div class=" content-inner-part contact-box">
                        <div id="content3-heading4" class="content-heading">
                            <h2>Ansprechpartner</h2>
                        </div>
                        <div class="contact-container">
                            <div class="contact-person">
                                <div class="person-part person-image">
                                    <img src="images/kontakt/1_250.jpg" alt="1.jpg">
                                </div>
                                <div class="person-part person-details">
                                    <div class="spacer"></div>
                                    <div class="wrapper">
                                        <span class="details name">Felix Rauschert</span>
                                        <span class="details role">Vorsitzender</span>
                                        <span class="details mail">Email: <a href="mailto:me@respam.org" data-prefix="info" class="mail-hidden itsatrap text force-select">hidden. Are you a bot?</a></span>
                                        <div class="send-a-fish">
                                            <a class="mail-hidden mailto" data-prefix="info"><span class="mail-body-hidden"></span><span class="mail-body-collapsing">E-Mail senden</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
</div>






</body>
</html>