<html>
<body>
    <div id="wrapper" class="content-wrapper">
        <section id="content-top" class="header-image">
            <img class="img-desktop" src="images/team/header.jpg">
            <img class="img-mobile" src="images/team/header_mobile.jpg">
            <div class="header-image-overlay">
                <div class="overlay-title">
                    <span>Helfen aus Leidenschaft</span>
                </div>
                <div class="overlay-content">
                    <span>Dein Einsatz zählt! Werde Teil unseres Teams und hilf dabei, das Leben auf dem Campus sicherer zu machen.</span>
                </div>
            </div>
        </section>


        <section id="sec1" class="sec-middle content-section color-generic">
            <div id="content1" class="sec-content split-vertically sec-labeled-left full-width full-height">
                <div class="sec-heading color-invert mobile-heading">
                    <h2>Über uns:</h2>
                </div>
                <div id="fixedLabel" class="split-part sec-content-part sec-label color-generic-v3">
                    <div class="sec-label-inner">
                        <div class="sec-heading">
                            <h2>Über uns:</h2>
                        </div>
                        <ul>
                            <li><a href="#wer">Wer wir sind</a></li>
                            <li><a href="#was">Was wir tun</a></li>
                        </ul>

                    </div>
                </div>
                <div class="split-part sec-content-part sec-content-text">
                    <div id="content1-inner" class="content-inner">
                        <div id="wer" class="content-inner-part">
                            <div id="content1-heading1" class="content-heading">
                                <h2>Wer wir sind:</h2>
                            </div>
                            <div id="content1-text1" class="content-text">

                                <span class="content-text-part">
                                    Der Studentische Sanitätsdienst ist eine anerkannte Hochschulgruppe der TU Dresden. Unsere Mitglieder sind Studenten, Promovierende und Mitarbeiter unserer Hochschule.
                                </span>
                                <span class="content-text-part">
                                    Wir ergreifen keinerlei Partei und lehnen politische Zusammenarbeit aus unserem Selbstverständnis als neutraler Hilfeleister heraus ab. Unsere Gruppe steht jedem Studenten und Mitarbeiter der TU Dresden offen.
                                </span>
                            </div>
                        </div>
                        <div id="was" class="content-inner-part">
                            <div id="content1-heading2" class="content-heading">
                                <h2>Was wir tun:</h2>
                            </div>
                            <div id="content1-text2" class="content-text">
                                <span class="content-text-part">
                                    Im Vordergrund unserer Arbeit steht die Ausbildung unserer Mitglieder und die Verbreitung von Wissen über Lebensrettende Maßnahmen.
                                </span>
                                <span class="content-text-part">
                                    Wir setzen uns dafür ein, dass grundlegendes Wissen über Erste Hilfe jedem offen steht. Dafür bereiten wir die wichtigsten Themen anschaulich auf und präsentieren diese in Form von Seminaren, die für Mitarbeiter und Studentengruppen der TU kostenneutral angeboten werden.
                                </span>



                                <h3>Unsere Aufgabenfelder:</h3>
                                <ul class="bullet-list">
                                    <li>Medizinische Absicherung von Veranstaltungen</li>
                                    <li>Seminare für Studierende und Mitarbeiter der TUD</li>
                                    <li>Sanitätsdienstliche Ausbildung unserer Mitglieder</li>
                                    <li>Organisation der Zusammenarbeit mit ähnlichen Gruppen anderer Hochschulen</li>
                                    <li>Konzeption und Durchführung von Projekten zur Förderung der Gesundheit auf dem Campus</li>
                                </ul>

                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
        <section id="team" class="color-generic-v4 content-section">
            <div id="content2" class="sec-content sec-full-width sec-nomargin">
                <div class="sec-heading color-invert">
                    <h2>Unser Team</h2>
                </div>

                <div id="content2-inner">
                    <div class="members-section">
                        <!-- quick way to display members. TODO: Make this generate dynamically from database -->
                        <div class="member expanded">
                            <div class="img-container">
                                <img src="images/team/1.jpg">
                                <div class="text-container">
                                    <span class="member-name">Felix Rauschert</span>
                                    <span class="member-role">Vorsitzender</span>
                                </div>
                            </div>

                            <div class="details-spacer"></div>

                            <div class="member-details">
                                <div class="details-container">
                                    <div class="details-left">
                                        <div class="details-part">
                                            <span>Hochschule:</span>
                                            <span>TU Dresden</span>
                                        </div>
                                        <div class="details-part">
                                            <span>Studiengang:</span>
                                            <span>Verkehrswirtschaft</span>
                                        </div>
                                        <div class="details-part">
                                            <span>Qualifikation:</span>
                                            <span>Rettungssanitäter</span>
                                        </div>
                                    </div>
                                    <div class="details-right">
                                        <div class="details-contact">
                                            <span class="contact-mail">felix.rauschert@unisan-dresden.de</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/2.jpg">
                                <div class="text-container">
                                    <span class="member-name">Tom Ziegler</span>
                                    <span class="member-role">Leiter Ausbildung</span>
                                </div>
                            </div>

                            <div class="member-details">
                                <div class="details-container">
                                    <div class="details-left">
                                        <div class="details-part">
                                            <span>Hochschule:</span>
                                            <span>TU Dresden</span>
                                        </div>
                                        <div class="details-part">
                                            <span>Studiengang:</span>
                                            <span>Informatik</span>
                                        </div>
                                        <div class="details-part">
                                            <span>Qualifikation:</span>
                                            <span>Sanitätshelfer</span>
                                        </div>
                                    </div>
                                    <div class="details-right">
                                        <div class="details-contact">
                                            <span class="contact-mail">tom.ziegler@unisan-dresden.de</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/3.jpg">
                                <div class="text-container">
                                    <span class="member-name">Christoph Mettke</span>
                                    <span class="member-role">Leiter Öffentlichkeitsarbeit</span>
                                </div>
                            </div>

                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/4.jpg">
                                <div class="text-container">
                                    <span class="member-name">Magnus Misch</span>
                                    <span class="member-role">Leiter Technik</span>
                                </div>
                            </div>

                        </div>
                        <div id="fritz" class="member">
                            <div class="img-container">
                                <img src="images/team/5.jpg">
                                <div class="text-container">
                                    <span class="member-name">Fritz Windisch</span>
                                </div>
                            </div>

                        </div>
                        <!--
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/10.jpg">
                                <div class="text-container">
                                    <span class="member-name">Katharina Hartung</span>
                                    <span class="member-role">Ausbildung</span>
                                </div>
                            </div>
                        </div>
                        -->
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/7.jpg">
                                <div class="text-container">
                                    <span class="member-name">Jenny Plauschenat</span>
                                    <span class="member-role">Öffentlichkeitsarbeit</span>
                                </div>
                            </div>

                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/8.jpg">
                                <div class="text-container">
                                    <span class="member-name">Felix Geister</span>
                                    <span class="member-role">Ausbildung</span>
                                </div>
                            </div>

                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/9.jpg">
                                <div class="text-container">
                                    <span class="member-name">Carolin Naas</span>
                                    <span class="member-role"></span>
                                </div>
                            </div>

                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/10.jpg">
                                <div class="text-container">
                                    <span class="member-name">Sven Herdes</span>
                                    <span class="member-role"></span>
                                </div>
                            </div>

                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/11.jpg">
                                <div class="text-container">
                                    <span class="member-name">Tatjana Reif</span>
                                    <span class="member-role"></span>

                                </div>
                            </div>

                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/12.jpg">
                                <div class="text-container">
                                    <span class="member-name">Manuel Machulla</span>
                                    <span class="member-role"></span>
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/13.jpg">
                                <div class="text-container">
                                    <span class="member-name">Leila Quasem</span>
                                    <span class="member-role"></span>
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/14.jpg">
                                <div class="text-container">
                                    <span class="member-name">Sophie Groschupf</span>
                                    <span class="member-role"></span>
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/15.jpg">
                                <div class="text-container">
                                    <span class="member-name">Justus Heerlein</span>
                                    <span class="member-role"></span>
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/16.jpg">
                                <div class="text-container">
                                    <span class="member-name">Susanne Tietze</span>
                                    <span class="member-role"></span>
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/17.jpg">
                                <div class="text-container">
                                    <span class="member-name">Anna Schirmer</span>
                                    <span class="member-role"></span>
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/18.jpg">
                                <div class="text-container">
                                    <span class="member-name">Julius Börning</span>
                                    <span class="member-role"></span>
                                </div>
                            </div>
                        </div>
                        <div class="member">
                            <div class="img-container">
                                <img src="images/team/19.jpg">
                                <div class="text-container">
                                    <span class="member-name">Anna-Lena Lünert</span>
                                    <span class="member-role"></span>
                                </div>
                            </div>
                        </div>

                        <div class="member-spacer"></div>
                        <div class="member-spacer"></div>
                        <div class="member-spacer"></div>
                        <div class="member-spacer"></div>
                    </div>

                </div>
            </div>
        </section>

        <section id="sec3" class="sec-middle content-section color-generic">
            <div id="mitmachen">
                <div id="content3" class="sec-content split-vertically sec-labeled-left full-width full-height">
                    <div id="fixedLabel2" class="split-part sec-content-part sec-label color-generic-v3">
                        <div class="sec-label-inner">
                            <div class="sec-heading">
                                <span>Dein Weg bei uns:</span>
                            </div>
                            <ul>
                                <li><a href="#interesse">Wer kann mitmachen?</a></li>
                                <li><a href="#ausbildung">Wie werde ich ausgebildet?</a></li>
                                <li><a href="#verantwortung">Wie geht es weiter?</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="split-part sec-content-part sec-content-text">
                        <div id="content3-inner" class="content-inner">
                            <div id="interesse" class="content-inner-part">
                                <div id="content3-heading1" class="content-heading">
                                    <h2>Wer kann mitmachen?</h2>
                                </div>
                                <div id="content3-text1" class="content-text">

                                    <span class="content-text-part">
                                         Jeder! Es ist kein Vorwissen erforderlich. Natürlich freuen wir uns aber auch über ausgebildete Interessierte. Hierbei ist für uns völlig egal, welcher Hilfsorganisation ihr angehört oder in welchem Land ihr eure Erfahrungen gesammelt habt. Jeder kann sein Wissen einbringen und damit die Gruppe bereichern.
                                    </span>
                                </div>
                            </div>
                            <div id="ausbildu</div>ng" class="content-inner-part">
                                <div id="content3-heading2" class="content-heading">
                                    <h2>Wie werde ich ausgebildet?</h2>
                                </div>
                                <div id="content3-text2" class="content-text">
                                <span class="content-text-part">
                                     Unsere Mitglieder werden in den wöchentlichen Gruppenabenden von anderen Mitgliedern ausgebildet. Fachlich bewegen wir uns in etwa auf Niveau des Sanitäters im Rahmen des Katastrophenschutzes. Hierfür wird die neu erlernte Theorie an Fallbeispielen geübt, sodass die Praxis nie zu kurz kommt.
                                </span>
                                    <span class="content-text-part">
                                     Hast du bei uns erste Luft im Bereich der Notfallmedizin geschnuppert, können wir dir zum Vertiefen deines Wissens gerne Kontakte in die verschiedenen Hilfsorganisationen herstellen.
                                </span>

                                </div>
                            </div>
                            <div id="verantwortung" class="content-inner-part">
                                <div id="content3-heading3" class="content-heading">
                                    <h2>Wie geht es weiter?</h2>
                                </div>
                                <div id="content3-text3" class="content-text">
                                    <span class="content-text-part">
                                       Innerhalb der Hochschulgruppe gibt es eine Vielzahl von Beteiligungsmöglichkeiten. Unsere Hauptaufgabe ist natürlich die interne und externe Ausbildung sowie die Absicherung von Veranstaltungen. Aber nicht jede Aufgabe setzt medizinisches Wissen voraus. Wir suchen immer Unterstützung in der Öffentlichkeitsarbeit, Projektverwaltung, Organisation und vielem mehr. Über aktuelle Projekte informieren wir während unserer regelmäßigen Treffen.
                                     </span>
                                    <span class="content-text-part">
                                    Interesse bekommen? Schreibe uns!
                                </span>
                                </div>
                            </div>
                            <div class=" content-inner-part contact-box">
                                <div id="content3-heading4" class="content-heading">
                                    <h2>Ansprechpartner</h2>
                                </div>
                                <div class="contact-container">
                                    <div class="contact-person">
                                        <div class="person-part person-image">
                                            <img src="images/kontakt/1_250.jpg" alt="1.jpg">
                                        </div>
                                        <div class="person-part person-details">
                                            <div class="spacer"></div>
                                            <div class="wrapper">
                                                <span class="details name">Felix Rauschert</span>
                                                <span class="details role">Vorsitzender</span>
                                                <span class="details mail">Email: <a href="mailto:me@respam.org" data-prefix="info" class="mail-hidden itsatrap text force-select">hidden. Are you a bot?</a></span>
                                                <div class="send-a-fish">
                                                    <a class="mail-hidden mailto" data-prefix="info"><span class="mail-body-hidden"></span><span class="mail-body-collapsing">E-Mail senden</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </section>

    </div>









</body>
</html>