extends ../../layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader_index.css')

    link(rel='stylesheet', href='/static/unisams/stylesheets/protocol.css')

    link(rel='stylesheet', href='/dist/protocol.css')
    script(src="/dist/protocol.js")

    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

    script.
        window.dockerArgs.activeContainer =  "appContainer";
        window.dockerArgs.activeElementId = "protocolApp";

block content
    #wrapper
        #page-container.page-container.protocol-container
            #page-container-inner.page-container-inner
                section
                    #sec-content.subpage-container
                        #content1-heading.subpage-heading
                            h3 Meine Protokolle
                        .subpage-topbar
                            #usersearch.subpage-searchbar.topbar-element
                        #content1-text.sec-content
                            .subpage-content
                                .itemlist-content-container
                                    #documentlist-container.gallery-container
                                        ul#documentlist-top.common-list.documentlist.gallery-view.protocol-gallery
                                            if protocolList
                                                each document in protocolList
                                                    li.gallery-item.protocol-item(data-viewkey=document.id)
                                                        .inner
                                                            .image
                                                                img(src="/static/images/protocol/divi.jpg")
                                                            .image-overlay
                                                            .item-property.title.gallery-heading.protocol-heading= document.title
                                                                .gallery-heading-inner.date= document.dateTimeString
                                                            .gallery-item-actions
                                                                .dropdown-menu.mdc-menu-surface--anchor
                                                                    button.eventcard-menu-button.card-menu-button.mdc-icon-button.material-icons
                                                                        .mdc-icon-button__ripple
                                                                        |  more_vert
                                                                    .mdc-menu.mdc-dropdown-menu.mdc-menu-surface
                                                                        ul.mdc-deprecated-list.mdc-deprecated-list--icon-list(role='menu', aria-hidden='true', aria-orientation='vertical', tabindex='-1')
                                                                            li.mdc-deprecated-list-item.event-show(id="deleteProtocol" + document.id, role='menuitem', data-id=document.id)
                                                                                span.mdc-deprecated-list-item__graphic.material-icons delete
                                                                                span.mdc-deprecated-list-item__text löschen
                                                            //.item-property.gallery-text.completion= document.completion
                                                            //    | % abgeschlossen
                                        .add-smt-button.gallery-add-item.protocol-add
                                            a.add-smt-button-inner()
                                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>



