extends ../app-layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader_index.css')
    link(rel='stylesheet', href='/static/unisams/stylesheets/protocol.css')

    script(src='/dist/protocolEditor.js')

    script.
        window.currentExploredProtocol = !{JSON.stringify(document)}
        window.version ="#{version}";

block app-content
    #wrapper.unisams-app.app-page-wrapper.protocol-app
        #page-container.app-content-container.mdc-drawer-app-content
            #protocol-container





