<div class="componentPage-component eventPostingsComponent">
    <div class="componentPage-component-inner">
        <div class="componentPage-component-header"><span>Dienstposten</span></div>
        <div class="eventPostingsComponent-container eventPostingsComponent-container componentPage-subcomponent">
            <div class="componentPage-component-header"><span></span></div>
            <div class="componentPage-component-content subpage-container">
                <div class="subpage-topbar eventPostingsComponent--topbar">
                    <div class="subpage-options topbar-element">

                    </div>
                    <div class="eventPostingsComponent--displaySelector"></div>
                    <div id="eventPostingsComponent--searchbar" class="searchbar-container topbar-element"></div>
                    <div class="topbar-element topbar-buttonContainer eventPostingsComponent--topBarButtons">
                        <div class="topbar-button" id="eventPostingsComponent--addPositionButton">
                            <button class="mdc-button mdc-button--raised mdc-button--leading">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">
                                    bookmark</i>
                                <span class="mdc-button__label">Abschnitt/Ort hinzufügen</span>
                            </button>
                        </div>
                        <div class="topbar-button" id="eventPostingsComponent--addPostingButton" >
                            <button class="mdc-button mdc-button--raised mdc-button--leading">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">
                                    bookmark</i>
                                <span class="mdc-button__label">Dienstposten hinzufügen</span>
                            </button>
                        </div>



                    </div>
                </div>
                <div class="subpage-content">
                    <div id="eventPostingsComponent--list" class="postingsList-list-container">

                    </div>
                    <div id="eventPostingsComponent--calendar" class="postingsList-calendar-container">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>