<div class="addDBKey-dialog ak-dialog">
    <div class="ak-title">

    </div>
    <div class="ak-body">
        <div class="ak-container">
            <div class="ak-form">
                <div class="ak-item ak-key">
                    <label for="key">Attribut</label>
                    <input class="userForm-inp" id="key" name="key" type="text"/>
                </div>
                <div class="ak-item ak-value">
                    <label for="value">Wert</label>
                    <input class="userForm-inp" id="key" name="value" type="text"/>
                </div>
            </div>
        </div>
    </div>
</div>