
<div id="sidebar" class="sidebar sidebar-multipage">
    <div class="sidebar-top">
        <div class="sidebar-back-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div class="sidebar-title">
            <span>Mitglied anlegen</span>
        </div>
    </div>
    <div id="sidebar-inner" class="sidebar-inner sidebar-page">
        <div class="sidebar-content">
            <div class="sidebar-section top-section">
                <div class="sidebar-title">
                    <span>Neues Mitglied anlegen</span>
                </div>
                <div class="section-content">

                </div>
            </div>
            <div class="sidebar-section body-section">
                <div class="section-content">
                    <div id="addUserForm" class="ak-form">
                        <div class="ak-item ak-text ak-username">
                            <label for="addUserForm-username">username</label>
                            <input class="common-input" id="addUserForm-username" name="addUserForm-username" type="text"/>
                        </div>
                        <div class="ak-item ak-text ak-firstName">
                            <label for="addUserForm-firstName">Vorname</label>
                            <input class="common-input" id="addUserForm-firstName" name="addUserForm-firstName" type="text"/>
                        </div>
                        <div class="ak-item ak-text ak-lastName">
                            <label for="addUserForm-lastName">Nachname</label>
                            <input class="common-input" id="addUserForm-lastName" name="addUserForm-lastName" type="text"/>
                        </div>
                        <div class="ak-item ak-text ak-lastName">
                            <label for="addUserForm-password">Passwort</label>
                            <input class="common-input" id="addUserForm-password" name="addUserForm-password" type="text"/>
                        </div>
                        <div class="ak-item ak-text ak-lastName">
                            <label for="addUserForm-password">Passwort wiederholen</label>
                            <input class="common-input" id="addUserForm-passwordCheck" name="addUserForm-passwordCheck" type="text"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-bottom">
            <a class="sidebar-confirm content-link">Weiter</a>
        </div>
    </div>
</div>
