@use '@material/button/mdc-button';
@use '@material/button';

@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/textfield/helper-text";
@use "@material/textfield/icon";
@use "@material/list";


@import "uppload/dist/uppload.css";
@import "uppload/dist/themes/light.css";

@import "../variables";

@include textfield.core-styles;
@include helper-text.helper-text-core-styles;
@include icon.icon-core-styles;
@include list.core-styles;

.mdc-text-field{
  @include textfield.focused-outline-color(rgba(0, 41, 60, 0.55));
  @include textfield.placeholder-color(#666);
  @include textfield.label-color(#00293c);
  @include textfield.caret-color(#00293c);

}

.mdc-floating-label--required::after {
  content: "";
}

.submit-button {
  @include button.container-fill-color(#c31d34);
}

.addUser-img {
  max-width: 10em;
  img {
    width: 100%;
    border-radius: 50%;
  }
}

#userimg_tmpkey {
  display: none;
}

.form-item {
  margin-bottom: 1.5em;
}