<div class="eventPage-component eventwidget-description">
    <div class="eventPage-component-inner">
        <div class="eventPage-component-header"><span>Beschreibung</span></div>
        <div class="eventPage-component-item editor-container eventDescriptionEditor" id="eventDescriptionEditor">
            <div class="eventinfo-item quill-renderer"></div>
        </div>
    </div>
</div>