<aside class="mdc-drawer">
    <div class="mdc-drawer__content">
        <nav class="mdc-deprecated-list">
            <a class="mdc-deprecated-list-item mdc-deprecated-list-item--activated" href="#" aria-current="page">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">inbox</i>
                <span class="mdc-deprecated-list-item__text">Inbox</span>
            </a>
            <a class="mdc-deprecated-list-item" href="#">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">star</i>
                <span class="mdc-deprecated-list-item__text">Star</span>
            </a>
            <a class="mdc-deprecated-list-item" href="#">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">send</i>
                <span class="mdc-deprecated-list-item__text">Sent Mail</span>
            </a>
            <a class="mdc-deprecated-list-item" href="#">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">drafts</i>
                <span class="mdc-deprecated-list-item__text">Drafts</span>
            </a>

            <hr class="mdc-deprecated-list-divider">
            <h6 class="mdc-deprecated-list-group__subheader">Labels</h6>
            <a class="mdc-deprecated-list-item" href="#">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-deprecated-list-item__text">Family</span>
            </a>
            <a class="mdc-deprecated-list-item" href="#">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-deprecated-list-item__text">Friends</span>
            </a>
            <a class="mdc-deprecated-list-item" href="#">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">bookmark</i>
                <span class="mdc-deprecated-list-item__text">Work</span>
            </a>
        </nav>
    </div>
</aside>
