<div class="userDisplay userDisplay--short">
    <div class="userDisplay-avatar"><img src="/data/uploads/user_images/{{user.id}}/{{user.id}}.jpg"/></div>
    <div class="userDisplay-label">
        <span class="userDisplay-label--name">
            {{getInitials user.generalData.firstName.value user.generalData.lastName.value}}
        </span>
    </div>
</div>