<div class="userDisplay">
    <div class="userDisplay-avatar userDisplay-avatar--placeholder">

    </div>
    <div class="userDisplay-label">
        <span class="userDisplay-label--name">
            {{title}}
        </span>
        <span class="userDisplay-label--text">
            {{text}}
        </span>
    </div>
</div>