<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="login-container" class="actionbox">
    <div id="login-container-inner" class="actionbox-inner">
        <div class="actionbox-part actionbox-label"></div>
        <div class="actionbox-part actionbox-body">
            <form id="login-form01" action="userauth" method="POST" class="actionbox-form">
                <label for="login-inp01"></label>
                <input id="login-inp01" value="name" class="actionbox-form-inp"/>
                <label for="login-inp02"></label>
                <input id="login-inp02" value="password" class="actionbox-form-inp"/>
            </form>
        </div>
    </div>
</div>


</body>
</html>