@import "../color-rules";
@import "../variables";

#wrapper .page-container {
  background-color: $page-bg-color-v2;
}

.subpage-container {

  width: 100%;

}


.dashinfo-container {

  width: 100%;
  background-color: $page-bg-color-v2;

  .dashPage-component-container {
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;

    @media #{$desktop, $tablet-landscape} {
      flex-flow: row wrap;
    }

    .dashPage-component-wrapper {
      display: flex;
      flex-flow: column wrap;
      flex: 1 1 auto;
      margin-bottom: 0;

      &.dashPage-component-wrapper--full {
        flex: 0 0 100%;
      }
      &.dashPage-component-wrapper--half {

        @media #{$desktop, $tablet-landscape} {
          flex: 1 1 50%;
          min-width: 20em;
        }
        .dashPage-component {
          height: 100%;
          .dashPage-component-inner {
            height: 100%;
          }
        }
      }
      .dashPage-component {
        width: 100%;
        .dashPage-component-inner {
          margin: 10px;
          padding-bottom: 10px;
          background-color: $page-bg-color;
          box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
          width: calc(100% - 20px);
          .dashPage-component-header {
            font-size: 120%;
            margin-bottom: .5em;
            color: #666;
            padding: 12px 12px 0 12px;
            font-variant: small-caps;
            letter-spacing: .15em;
          }
          .dashPage-component-item {
            flex: 1 1 auto;
            span.dashinfo-item-label, label.dashinfo-item-label {
              width: 100%;
              float: left;
              display: block;
              margin-bottom: .5em;

              @media #{$desktop, $tablet-landscape} {
                width: auto;
              }

              &.dashinfo-attribute-name {

                width: 100%;
                margin-right: 2em;
                margin-bottom: 0;

                color: #555;

                @media #{$desktop, $tablet-landscape} {
                  width: 8em;
                }
              }
            }
            .dashinfo-item-spacer {
              margin-top: 1em;
            }

            .dashinfo-item-inner {
              margin: .5em;

            }
            &.dash-item-news {
              .dash-news {
                .dash-news-container {
                  .dash-news-list {
                    list-style: none;

                    .dash-news-listItem {
                      display: block;
                      margin: 5px;
                      .dash-newsItem--container {
                        padding: 5px;
                        border: 1px solid #AAA;
                        .dash-newsItem-meta {
                          font-size: 80%;
                          color: #333;
                          .dash-newsItem-meta--date {

                          }
                          .dash-newsItem-meta--user {

                          }
                        }
                        .dash-newsItem--heading {
                          font-size: 120%;
                        }
                        .dash-newsItem--body {
                          font-size: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
            &.dash-item-eventPreview {
              .gallery-item {
                width: 100%;
                margin:     .5em 0;
                max-width: 500px;
                min-width: 200px;
                display: block;

                box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);

                &:hover {
                  .inner {
                    .image {
                      img {
                        -webkit-transform: scale(1.05);
                        transform: scale(1.05);
                        filter: brightness(80%);
                      }
                    }
                  }
                }

                .inner {

                  background-color: $item-bg;

                  text-align:       left;
                  height:           100%;
                  //background-color: #f9f9f9;
                  //max-width: 20em;
                  position:         relative;
                  display:          flex;
                  flex-flow:        column wrap;

                  @media  #{$desktop, $tablet-landscape}  {
                    //margin:           0 1em;
                  }
                  .date {
                    font-size: 90%;
                    color: #333;
                    font-family: "Open Sans",sans-serif;
                    font-weight: lighter;
                  }

                  .image {
                    width:    100%;
                    height:   0;
                    overflow: hidden;
                    padding-bottom: 50%;
                    position: relative;
                    flex: none;

                    .thumbnail-credit {
                      position: absolute;
                      right: 0;
                      top: 0;

                      display: block;
                      padding: .5em .5em;

                      background-color: $col1;
                      color: #fff;

                      writing-mode: vertical-rl;
                      text-orientation: mixed;
                      font-weight: lighter;
                      font-size: 60%;
                    }

                    .image-overlay {
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;

                      background-color: #fff;
                      opacity: 0;

                      .gallery-heading {
                        width: 80%;
                        margin: 1em auto;
                        font-weight: lighter;
                        font-size: 150%;

                        color: $col1;

                        position:   absolute;
                        bottom:     0;
                        left:       0;

                        display: block;
                        padding: .5em 1em;

                        .gallery-heading-inner {
                          font-weight: normal;
                          font-size: 60%;
                        }
                      }
                    }


                    img {
                      width: 100%;
                      -webkit-transform:  scale(1);
                      transform:          scale(1);
                      filter:             brightness(100%);
                      @include transition(500ms);
                    }

                  }

                  .gallery-heading {
                    width: 80%;
                    margin: 1em auto 0 auto;
                    font-weight: lighter;
                    font-size: 130%;

                    color: $col1;

                    display: block;
                    padding: .5em 1em;

                    .gallery-heading-inner {
                      font-size: 80%;
                    }
                  }

                  .gallery-text {
                    width: 80%;
                    margin: .5em auto 0 auto;
                    font-size: 100%;
                  }

                  .gallery-abstract {
                    width: 80%;
                    margin: 1em auto;
                    font-weight: normal;

                    font-size: 100%;
                  }

                  .gallery-link {
                    border-top:    1px solid #fff;
                    margin-top: auto;
                    font-size: 70%;

                    position: absolute;
                    bottom: 0;
                    right: 1em;


                  }
                }
                .gallery-item-actions {
                  width: 100%;
                  display: flex;
                  flex-flow: row nowrap;
                  justify-content: flex-end;
                  .action-button {
                    flex: 1 1 auto;
                  }
                }
              }

            }
          }
        }
      }
    }
  }

  .dashinfo-inner {

    padding: 1em;
    display: flex;
    flex-flow: column nowrap;

    @media #{$desktop, $tablet-landscape} {
      flex-flow: row wrap;
    }

    .dashinfo-section {

      display: flex;
      flex-flow: column wrap;

      margin-bottom: 2em;

      &.dashinfo-card {
        flex: 1 1 auto;
        margin-bottom: 0;


        .dashinfo-section-inner {
          margin: 10px;
          background-color: $page-bg-color;
          box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
          width: calc(100% - 20px);
        }

        &.card-full {
          flex: 0 0 100%;
        }
        &.card-half {

          @media #{$desktop, $tablet-landscape} {
          flex: 1 1 50%;
          min-width: 20em;
        }
          .dashinfo-section-inner {
            height: 100%;
          }
        }
      }
      .dashinfo-sectionheader {
        font-size: 120%;
        margin-bottom: .5em;
        color: #666;
        padding: 12px 12px 0 12px;

        font-variant: small-caps;
        letter-spacing: .15em;
      }

      .dashinfo-itemList {

      }

      ul.qualificationList {
        .inner {
          grid-template-columns: 1fr 1fr;
        }
      }

      .dashinfo-item {

        flex: 1 1 auto;

        span.dashinfo-item-label, label.dashinfo-item-label {
          width: 100%;
          float: left;
          display: block;
          margin-bottom: .5em;

          @media #{$desktop, $tablet-landscape} {
            width: auto;
          }

          &.dashinfo-attribute-name {

            width: 100%;
            margin-right: 2em;
            margin-bottom: 0;

            color: #555;

            @media #{$desktop, $tablet-landscape} {
              width: 8em;
            }
          }
        }
        .dashinfo-item-spacer {
          margin-top: 1em;
        }

        .dashinfo-item-inner {
          margin: .5em;

        }
        &.dashinfo-item-date {
          padding-left: 2em;
          font-weight: lighter;

          &.dashinfo-item-editable.enabled {
            &:hover {
              outline: 1px solid #AAA;
              cursor: pointer;
            }
          }

          //text-align: center;

          .dashinfo-date-day {
            font-size: 220%;
            //font-weight: bold;
          }
          .dashinfo-date-time {
            font-size: 140%;
            //font-weight: bold;
          }
          .dashinfo-date-location {
            font-size: 140%;
            &:before {
              position: relative;
            }
          }
        }
      }
    }
  }
}

/**
special classes
 */
