@import "../color-rules";
@import "../variables";

$item-bg: #fff;

#wrapper .page-container {
  background-color: $page-bg-color-v2;
}

.subpage-container {

  width: 100%;

}


.dashinfo-container {

  width: 100%;
  background-color: $page-bg-color-v2;

  .dashPage-component-container {
    padding: 1em 0;
    display: flex;
    flex-flow: column nowrap;

    @media #{$desktop, $tablet-landscape} {
      flex-flow: row wrap;
      padding: 1em 1em;
    }

    .dashPage-component-wrapper {
      display: flex;
      flex-flow: column wrap;
      flex: 1 1 auto;
      margin-bottom: 0;

      &.dashPage-component-wrapper--full {
        flex: 0 0 100%;
      }
      &.dashPage-component-wrapper--half {

        @media #{$desktop, $tablet-landscape} {
          flex: 1 1 50%;
          min-width: 20em;
        }
        .dashPage-component {
          height: 100%;
          display: flex;
          flex-flow: column wrap;
          .dashPage-component-inner {
            flex: 1 1 auto;
          }
        }
      }
      .dashPage-component {
        width: 100%;
        .dashPage-component-inner {
          margin: 10px 0;
          padding-bottom: 10px;
          background-color: $page-bg-color;
          box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
          width: 100%;

          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-end;

          @media #{$desktop, $tablet-landscape} {
            margin: 10px;
            width: calc(100% - 20px);
          }



          &.dimmed {
            background-color: transparent;
            box-shadow: none;
          }
          .dashPage-component-header {
            font-size: 120%;
            margin-bottom: .5em;
            color: #666;
            padding: 12px 12px 0 12px;
            font-variant: small-caps;
            letter-spacing: .15em;
          }
          .dashPage-component-item {
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 auto;
            span.dashinfo-item-label, label.dashinfo-item-label {
              width: 100%;
              float: left;
              display: block;
              margin-bottom: .5em;

              @media #{$desktop, $tablet-landscape} {
                width: auto;
              }

              &.dashinfo-attribute-name {

                width: 100%;
                margin-right: 2em;
                margin-bottom: 0;

                color: #555;

                @media #{$desktop, $tablet-landscape} {
                  width: 8em;
                }
              }
            }
            .dashinfo-button-container {
              display: flex;
              flex-flow: row nowrap;
              &.center {
                justify-content: center;
              }


              &.dashinfo-button {
                flex: 0 0 auto;
              }
            }

            .dashinfo-item-spacer {
              margin-top: 1em;
            }

            .dashinfo-item-inner {
              margin: .5em;

            }

            &.dash-item-eventPreview, .dash-item-eventPreview {
              .eventCard {
                width:      100%;
                margin:     .5em 0;
                min-width:  200px;
                display:    block;

                &:first-child {
                  border-bottom: 1px solid $menu-border-color;
                }

                //box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);

                &:hover {
                  .inner {
                    cursor: pointer;
                    background-color: $text-hover-color-light;
                    @include transition(300ms);
                  }
                }
                .inner {

                  background-color: $item-bg;

                  text-align:       left;
                  height:           100%;
                  //background-color: #f9f9f9;
                  //max-width: 20em;
                  position:         relative;
                  display:          flex;
                  flex-flow:        column wrap;

                  @media  #{$desktop, $tablet-landscape}  {
                    //margin:           0 1em;
                  }

                  .gallery-heading {
                    width: 80%;
                    margin: .5em auto .5em auto;
                    font-weight: lighter;
                    font-size: 130%;

                    color: $col1;

                    display: block;
                    padding: .5em 1em;

                    .gallery-heading-inner {
                      font-size: 80%;
                    }
                  }

                  .gallery-text {
                    width: 80%;
                    margin: .5em auto 0 auto;
                    font-size: 100%;
                  }

                  .gallery-abstract {
                    width: 80%;
                    margin: 1em auto;
                    font-weight: normal;

                    font-size: 100%;
                  }

                  .gallery-link {
                    border-top:    1px solid #fff;
                    margin-top: auto;
                    font-size: 70%;

                    position: absolute;
                    bottom: 0;
                    right: 1em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .dashinfo-inner {

    padding: 1em;
    display: flex;
    flex-flow: column nowrap;

    @media #{$desktop, $tablet-landscape} {
      flex-flow: row wrap;
    }

    .dashinfo-section {

      display: flex;
      flex-flow: column wrap;

      margin-bottom: 2em;

      &.dashinfo-card {
        flex: 1 1 auto;
        margin-bottom: 0;


        .dashinfo-section-inner {
          margin: 10px;
          background-color: $page-bg-color;
          box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
          width: calc(100% - 20px);
        }

        &.card-full {
          flex: 0 0 100%;
        }
        &.card-half {

          @media #{$desktop, $tablet-landscape} {
          flex: 1 1 50%;
          min-width: 20em;
        }
          .dashinfo-section-inner {
            height: 100%;
          }
        }
      }
      .dashinfo-sectionheader {
        font-size: 120%;
        margin-bottom: .5em;
        color: #666;
        padding: 12px 12px 0 12px;

        font-variant: small-caps;
        letter-spacing: .15em;
      }

      .dashinfo-itemList {

      }

      ul.qualificationList {
        .inner {
          grid-template-columns: 1fr 1fr;
        }
      }

      .dashinfo-item {

        flex: 1 1 auto;

        span.dashinfo-item-label, label.dashinfo-item-label {
          width: 100%;
          float: left;
          display: block;
          margin-bottom: .5em;

          @media #{$desktop, $tablet-landscape} {
            width: auto;
          }

          &.dashinfo-attribute-name {

            width: 100%;
            margin-right: 2em;
            margin-bottom: 0;

            color: #555;

            @media #{$desktop, $tablet-landscape} {
              width: 8em;
            }
          }
        }
        .dashinfo-item-spacer {
          margin-top: 1em;
        }

        .dashinfo-item-inner {
          margin: .5em;

        }
        &.dashinfo-item-date {
          padding-left: 2em;
          font-weight: lighter;

          &.dashinfo-item-editable.enabled {
            &:hover {
              outline: 1px solid #AAA;
              cursor: pointer;
            }
          }

          //text-align: center;

          .dashinfo-date-day {
            font-size: 220%;
            //font-weight: bold;
          }
          .dashinfo-date-time {
            font-size: 140%;
            //font-weight: bold;
          }
          .dashinfo-date-location {
            font-size: 140%;
            &:before {
              position: relative;
            }
          }
        }
      }
    }
  }
}

/**
special classes
 */

.dash-item-activity {
  .dashinfo-activity-entry {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: .4em .5em;
    cursor: default;

    @media #{$desktop} {
      flex-flow: row nowrap;
      align-items: flex-end;
    }

    &:hover {
      background-color: $text-hover-color-light;
      @include transition(250ms);
    }

    .dashinfo-activity-body {
      flex: 1 1 auto;
      display: block;
      color: #777;
    }
    .dashinfo-activity-timestamp {
      flex: 0 1 auto;
      font-size: 80%;
      color: #999;
    }

  }
}

.dashWidget-news {
  .dashPage-component-inner {
    .dashPage-component-header {
      //background-color: $page-bg-color;
      //box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
      //padding: 12px !important;
    }
    .dashPage-component-item {
      &.dash-news {
        .dash-item-news {
          @media #{$phone} {
            margin: 0.5em 0 !important;
          }
          .dash-news-container {
            .dash-news-list {
              list-style: none;
              padding: 0;

              .dash-news-listItem {
                display: block;
                margin: 5px 0 15px 0;

                @media #{$desktop, $tablet-landscape} {
                  margin: 5px 5px 15px 5px;

                }

                background-color: $page-bg-color;
                box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);

                //&:first-child {
                //  border-bottom: 1px solid $menu-border-color;
                //}
                .dash-newsItem--container {
                  padding: 30px 25px;
                  @media #{$desktop, $tablet-landscape} {
                    padding: 30px 50px;
                  }

                  .dash-newsItem--heading-container {
                    display: flex;
                    flex-flow: row nowrap;
                    .dash-newsItem--title {
                      flex: 1 1 100%;
                      font-size: 120%;
                    }
                    .dash-newsItem-meta {
                      flex: 1 1 100%;
                      font-size: 100%;
                    }
                  }

                  .dash-newsItem--body {
                    font-size: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }

  }

}


.hb-templater {

  &.hb-templater-link {

  }
  &.hb-templater--USER {
    color: #444;
  }
  &.hb-templater--EVENT {

  }
  &.hb-templater--GROUP {

  }
  &.hb-templater--QUALIFICATION {

  }
  &.hb-templater--ATTRIBUTE {

  }
  &.hb-templater--TEXT {
    font-style: italic;
  }
  &.hb-templater--VALUE {
    font-style: italic;
  }
}
