@import "/src/lib/evo-calendar/evo-calendar/css/evo-calendar.css";
@import "/src/lib/evo-calendar/evo-calendar/css/evo-calendar.royal-navy.css";
@import "/src/lib/evo-calendar/evo-calendar/css/evo-calendar.midnight-blue.css";
@import "/src/lib/evo-calendar/evo-calendar/css/evo-calendar.orange-coral.css";
@import "/src/lib/evo-calendar/evo-calendar/css/evo-calendar.unisan.css";

.eventlist-container {
  &.hidden {
    display: none !important;
  }
}

.eventcalendar-container {
  //width: 95%;
  margin: 0 auto;

  &.hidden {
    display: none !important;
  }
}
