<div class="dialog-container-inner">
    <div class="dialog-wrapper">
        <div class="dialog-box">
            <div class="dialog-box-inner">
                <div class="dialog-title dialog-part">Bild hochladen</div>
                <div class="dialog-imageViewer dialog-part">
                    <div class="dialog-imageContainer">
                        <img src="/data/uploads/user_images/{{exploreUserId}}/{{exploreUserId}}.jpg">
                    </div>
                </div>
                <div class="dialog-message dialog-part" id="imgUpload-lidlObjTok2">

                </div>
                <div class="dialog-buttons">
                    <div id="confirmBtnlidlObjTok2" class="dialog-button dialog-confirm">Speichern</div>
                    <div class="dialog-button dialog-cancel">Abbrechen</div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>