<div class="select-popup userselect sidebar-select-popup">
    <ul class="event-participants">
    {{#each userlist}}
        <li class="select-popup-entry sidebar-select-entry">
            <div class="content-item participant-item">
                <div class="participant-img">
                    <img src="/data/uploads/user_images/{{this.id}}/{{this.id}}.jpg"/>
                </div>
                <div class="participant-details">
                    {{this.generalData.firstName.value}} {{this.generalData.lastName.value}}
                </div>
            </div>
        </li>
    {{/each}}
    </ul>
</div>
