@publicroute: "../../public/stylesheets";

@import 'color-rules.less';
@import 'variables.less';
@import '@{publicroute}/themes/generic/animations.less';
@import '@{publicroute}/themes/generic/color-rules.less';

@textHoverColor: @col2;


/* common styling */



.content-link {

    color:              white;
    background-color:   @link-bg-color;
    display:            inline-block;
    padding:            1em 1em;
    margin:             1em;
    font-weight:        normal;
    font-size:          100%;

    @media @desktop, @tablet-landscape {
        font-size:          100%;
    }

    .transition(background-color,100ms);
    a {

        display:        inline-block;
        color: white;

    }

    svg.icon {
        width: 1em;
        margin-right: .5em;
    }

    &:hover {


        background-color: @link-hover-color;
        cursor:         pointer;


        .transition(background-color,200ms);

    }

    &.slim {

        color:              white;
        background-color:   @link-bg-color;
        display:            inline-block;
        padding:            0.5em 1em;
        margin:             .5em .5em;

        .transition(background-color,100ms);
        a {

            display:        inline-block;
            color: white;

        }
        &:hover {


            background-color: @link-hover-color;
            cursor:         pointer;
            .transition(background-color,200ms);

        }

        &.light {
            background-color:   transparent;
            color:              @akzent-color;
            border:             1px solid @akzent-color;
            &:hover {
                background-color: @link-hover-color-light;
                cursor:         pointer;
                .transition(background-color,200ms);
            }
        }
    }

    &.light {
        background-color:   transparent;
        color:              @akzent-color;
        border:             1px solid @akzent-color;
        display:            inline-block;
        padding:            0.5em 1em;
        margin:             .5em .5em;



        &.inverse {
            color: #fff;
            border-color:    #fff;
        }
        &:not(.disable-animation, .slim) {
            .sweep-to-right(@akzent-color,.5s);
        }
    }

    &.style1 {
        background-color:   @col1;
        color:              #fff;

        &:hover {
            background-color: @col3;
        }
    }

    &.style2 {
        background-color:   @col3;
        color:              #fff;

        &:hover {
            background-color: @col3_light;
        }
    }

    &.float {
        float: left;
    }
}


a.inline-link {

    display:            inline-block;

    text-decoration:    none;
    color:              @col1;
    font-size:          90%;
    font-weight:        bold;
    border-bottom:      1px solid transparent;

    .transition(200ms);

    &:hover {
        cursor:         pointer;
        border-bottom:  1px solid @col2;

        .transition(200ms);
    }



    &.internal {

    }

    &.external {





        &::before {
            display:        inline-block;
            width:          1em;
            height:         1em;
            float:          left;
            margin-right:   .5ex;
            margin-left:    .5ex;

            @currentCol_uri: escape(@col2); //svg stroke color

            content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 127.16653 128.65965"><g stroke="@{currentCol_uri}" stroke-width="6" fill="none"><path d="m59.144 3.1302h-56.674v123.23h56.497"/><path d="m26.128 63.335h97.102"/><path d="m86.51 99.881 36.37-36.37-36.194-36.193"/></g></svg>');

        }
    }
}


