.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #c31d34;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #de243d;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Sweep To Right */
@name Space "hvr";
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100%;
  background-color: #fff;
  color: #333;
  font-family: "Open Sans", sans-serif;
}
section {
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}
#top {
  position: absolute;
  top: 0;
  left: 0;
}
#outer-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
}
#content-wrapper {
  flex: 1 1 auto;
}
#wrapper {
  position: relative;
  font-size: 100%;
  width: 100%;
  margin: 0;
  color: #333;
  overflow: hidden;
  height: calc(100vh - 5em);
}
#wrapper.wrapper-full-height {
  height: 100vh;
}
#wrapper .page-container {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 100%;
  overflow: scroll;
}
#wrapper .page-container .page-container-inner {
  padding: 2em 5%;
}
#wrapper .page-container .page-container-inner.full-width {
  padding-right: 0;
  padding-left: 0;
}
#wrapper .page-container .page-container-inner.full-height {
  padding-top: 0;
  padding-bottom: 0;
}
#wrapper .page-container .sec-horizontal-padding {
  padding: 0 2em;
}
button {
  outline: none;
}
/*
content sections
 */
/**
special classes
 */
.unisams-label span {
  float: left;
  margin: 0;
}
.unisams-label span.acc1 {
  color: #444;
}
.unisams-label span.acc2 {
  color: #00293c;
}
.unisams-label span.acc3 {
  color: #444;
}
/* subpage */
.subpage-container {
  width: 100%;
}
.subpage-container .subpage-heading {
  padding: 1em;
}
.subpage-container .subpage-heading h3 {
  font-weight: lighter;
  font-size: 200%;
  color: #333;
}
.subpage-container .subpage-heading .sec-heading-label {
  font-size: 200%;
  color: #333;
}
.subpage-container .subpage-menu .subpage-menu-btn {
  display: block;
}
/* common styling */
ul.itemlist {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
}
ul.itemlist li {
  flex: 1 1 auto;
  background-color: #f5f5fc;
}
ul.itemlist li:nth-child(odd) {
  background-color: #f9f9f9;
}
ul.itemlist li .inner {
  display: flex;
  padding: .5em;
}
ul.itemlist li .inner .item-property {
  position: relative;
  float: left;
  margin-left: 1em;
  flex: 0 0 250px;
}
ul.itemlist li .inner .item-property.after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
}
ul.itemlist li .inner .item-property:hover > ul.itemlist li .inner .item-property.after {
  border-bottom-color: #c31d34;
}
.content-link {
  color: white;
  background-color: #c31d34;
  display: inline-block;
  padding: 1em 1em;
  margin: 1em;
  font-weight: normal;
  font-size: 100%;
  -webkit-transition: background-color 100ms ease;
  -moz-transition: background-color 100ms ease;
  -o-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .content-link {
    font-size: 100%;
  }
}
.content-link a {
  display: inline-block;
  color: white;
}
.content-link svg.icon {
  width: 1em;
  margin-right: .5em;
}
.content-link:hover {
  background-color: #de243d;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.content-link.slim {
  color: white;
  background-color: #c31d34;
  display: inline-block;
  padding: 0.5em 1em;
  margin: .5em .5em;
  -webkit-transition: background-color 100ms ease;
  -moz-transition: background-color 100ms ease;
  -o-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}
.content-link.slim a {
  display: inline-block;
  color: white;
}
.content-link.slim:hover {
  background-color: #de243d;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.content-link.slim.light {
  background-color: transparent;
  color: #c31d34;
  border: 1px solid #c31d34;
}
.content-link.slim.light:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.content-link.light {
  background-color: transparent;
  color: #c31d34;
  border: 1px solid #c31d34;
  display: inline-block;
  padding: 0.5em 1em;
  margin: .5em .5em;
}
.content-link.light.inverse {
  color: #fff;
  border-color: #fff;
}
.content-link.light:not(.disable-animation, .slim) {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.content-link.light:not(.disable-animation, .slim):before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c31d34;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.content-link.light:not(.disable-animation, .slim):hover,
.content-link.light:not(.disable-animation, .slim):focus,
.content-link.light:not(.disable-animation, .slim):active {
  color: white;
}
.content-link.light:not(.disable-animation, .slim):hover:before,
.content-link.light:not(.disable-animation, .slim):focus:before,
.content-link.light:not(.disable-animation, .slim):active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.content-link.style1 {
  background-color: #00293c;
  color: #fff;
}
.content-link.style1:hover {
  background-color: #213e54;
}
.content-link.style2 {
  background-color: #213e54;
  color: #fff;
}
.content-link.style2:hover {
  background-color: #225169;
}
.content-link.float {
  float: left;
}
a.inline-link {
  display: inline-block;
  text-decoration: none;
  color: #00293c;
  font-size: 90%;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
a.inline-link:hover {
  cursor: pointer;
  border-bottom: 1px solid #c31d34;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
a.inline-link.external::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  float: left;
  margin-right: .5ex;
  margin-left: .5ex;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 127.16653 128.65965"><g stroke="%23c31d34" stroke-width="6" fill="none"><path d="m59.144 3.1302h-56.674v123.23h56.497"/><path d="m26.128 63.335h97.102"/><path d="m86.51 99.881 36.37-36.37-36.194-36.193"/></g></svg>');
}
/*
 radio group
 */
.radiogroup label.ui-checkboxradio-label {
  background-color: transparent;
  color: #888;
  border: 1px solid #888;
}
.radiogroup label.ui-checkboxradio-label.ui-checkboxradio-checked {
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #00293c;
}
.radiogroup label svg {
  display: block;
  width: 1em;
  margin-right: .5em;
  float: left;
}
.radiogroup label span {
  display: block;
  float: left;
}
/*other things */
.force-select {
  -webkit-user-select: all;
  /* Chrome 49+ */
  -moz-user-select: all;
  /* Firefox 43+ */
  -ms-user-select: all;
  /* No support yet */
  user-select: all;
  /* Likely future */
}
/* breadcrumbs */
.breadcrumbs {
  display: none;
  font-variant: small-caps;
  font-weight: lighter;
  padding: 1em 0;
}
@media only screen and (min-width: 75em) {
  .breadcrumbs {
    display: block;
  }
}
.breadcrumbs .breadcrumbs-part {
  position: relative;
  float: left;
  margin-left: 1em;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 250ms ease;
  -moz-transition: border-color 250ms ease;
  -o-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}
.breadcrumbs .breadcrumbs-part svg {
  width: 1em;
  height: 1em;
}
.breadcrumbs .breadcrumbs-part:hover {
  border-bottom-color: #00293c;
  cursor: pointer;
}
.breadcrumbs .breadcrumbs-part:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>');
  width: 1em;
  height: 1.5em;
  display: block;
  position: absolute;
  left: -1em;
  top: 0.125em;
}
.breadcrumbs .breadcrumbs-part.first:before {
  content: "" !important;
}
/*
dropdown menu
 */
.dropdown-menu {
  position: relative;
  font-size: 90%;
}
.dropdown-menu .dropdown-btn {
  display: block;
  cursor: pointer;
}
.dropdown-menu.dropdown-active .dropdown-btn {
  background-color: #f5f5fc;
}
.dropdown-menu.dropdown-active .dropdown-container {
  display: block;
}
.dropdown-menu .dropdown-container {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: #fff;
  color: #555;
  border: 1px solid #999;
}
.dropdown-menu .dropdown-container .dropdown-entry {
  border-top: 1px solid #AAA;
}
.dropdown-menu .dropdown-container .dropdown-entry:first-of-type {
  border-top: none;
}
.dropdown-menu .dropdown-container .dropdown-entry:hover {
  background-color: rgba(124, 0, 26, 0.2);
}
.dropdown-menu .dropdown-container .dropdown-entry a {
  cursor: pointer;
  padding: .5em;
  display: block;
  white-space: nowrap;
}
/*
    icons
 */
.before-icon:before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .5ex;
  margin-left: .5ex;
}
.before-icon.icon-edit:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></svg>');
}
.before-icon.icon-delete:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>');
}
.before-icon.icon-confirm:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>');
}
.before-icon.icon-reset:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-ccw"><polyline points="1 4 1 10 7 10"></polyline><path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path></svg>');
}
.before-icon.icon-cancel:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>');
}
/*
 tooltipps
 */
.has-tooltip {
  text-decoration: none;
  position: relative;
}
.has-tooltip.disabled span.tt-enabled {
  display: none !important;
}
.has-tooltip.disabled span.tt-disabled {
  display: block;
}
.has-tooltip span {
  font-size: 80%;
  opacity: 0;
  display: block;
  position: absolute;
  border: 1px solid #AAA;
  background-color: #fff;
  padding: .5em .3em;
  z-index: -1;
  cursor: auto;
  -webkit-transition: opacity 350ms ease;
  -moz-transition: opacity 350ms ease;
  -o-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
}
.has-tooltip span:before {
  content: "";
  display: block;
  position: absolute;
  top: -0.3em;
  left: .5em;
  height: .5em;
  width: .5em;
  background-color: #fff;
  transform: rotate(45deg);
  border-left: 1px solid #AAA;
  border-top: 1px solid #AAA;
  z-index: -1;
}
.has-tooltip span.tt-enabled {
  display: block;
}
.has-tooltip span.tt-disabled {
  display: none;
}
.has-tooltip span svg {
  width: 1em;
  margin-right: .5em;
  float: left;
}
.has-tooltip:hover span {
  opacity: 1;
  z-index: 12;
  transition-delay: 1s;
}
.has-tooltip:hover span:before {
  z-index: 13;
}
/*
common form stylings
 */
input.common-input {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #555;
  margin-bottom: 1em;
}
select.common-select {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #555;
  margin-bottom: 1em;
}
select.common-select.select-disabled {
  background-color: #CCC;
  cursor: not-allowed;
  opacity: 0.6;
}
select.common-select option {
  background-color: #fff;
  color: #555;
}
.common-submit {
  display: block;
  border: 1px solid #555;
  background-color: transparent;
  padding: 5px 1em;
  margin: 0;
  border-radius: 0;
  color: #333;
  outline: 0;
}
.common-submit:hover {
  cursor: pointer;
}
.formElement-optional {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1000ms ease;
  -moz-transition: max-height 1000ms ease;
  -o-transition: max-height 1000ms ease;
  transition: max-height 1000ms ease;
}
.formElement-optional.optional-enabled {
  max-height: 100vh;
  -webkit-transition: max-height 2000ms ease;
  -moz-transition: max-height 2000ms ease;
  -o-transition: max-height 2000ms ease;
  transition: max-height 2000ms ease;
}
/*
common list stylings
 */
ul.itemlist li:not(.noSelect):hover {
  background-color: rgba(124, 0, 26, 0.2);
  cursor: pointer;
}
ul.itemlist li.borderBottom {
  border-bottom: 1px solid #333;
}
ul.itemlist li .itemDelete svg {
  width: 1em;
}
/*
common btn styling
*/
.btn-disabled {
  cursor: not-allowed !important;
  opacity: 0.6 !important;
  background-color: #999 !important;
}
.btn-disabled:hover {
  background-color: #999 !important;
}
.btn-addItem {
  width: auto;
  display: inline-block;
  border: 1px solid #AAA;
  padding: .5em .5em;
  cursor: pointer;
  color: #555;
  background-color: transparent;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}
.btn-addItem:hover {
  background-color: #f9f9ff;
}
.btn-addItem.disabled {
  color: #AAA;
  cursor: not-allowed;
}
.btn-addItem svg {
  width: 1em;
  display: block;
  margin-right: .5em;
  float: left;
}
.btn-addItem span {
  display: inline-block;
  float: left;
  line-height: 1em;
}
.btn-listExt {
  background-color: transparent;
  margin-top: 1em;
  width: max-content;
  position: relative;
}
/* common helper classes */
.float {
  float: left;
}
.float-right {
  float: right;
}
.force-nomargin {
  margin: 0 !important;
}
.nomargin {
  margin: 0;
}
.clear {
  float: none !important;
  width: 0 !important;
  clear: both;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*# sourceMappingURL=common.css.map */