.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#sec1 {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 90%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #sec1 {
    font-size: 100%;
  }
}
#sec1 #content1 {
  margin: 0 5%;
  width: 90%;
  font-size: 90%;
  text-align: center;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #sec1 #content1 {
    margin: 0 25% 0 25%;
    width: 50%;
    font-size: 100%;
  }
  #sec1 #content1 .sec-heading .unisams-label {
    display: block !important;
    float: left;
  }
}
#sec1 #content1 .sec-heading {
  display: inline-block;
}
#sec1 #content1 .sec-heading .img-container {
  max-width: 10em;
  float: left;
}
#sec1 #content1 .sec-heading .img-container img {
  max-width: 10em;
}
#sec1 #content1 .sec-heading .unisams-label {
  display: none;
  float: left;
  font-size: 400%;
}
.center-in-container {
  transform: translate(50%, 50%, 0);
}
#error-container {
  text-align: left;
  max-width: 40em;
  margin: 1em auto;
  position: relative;
}
#error-container #error-container-inner {
  width: 100%;
}
#error-container #error-container-inner .errorbox-image {
  width: 100%;
  text-align: center;
}
#error-container #error-container-inner .errorbox-image img {
  max-width: 300px;
}
#error-container #error-container-inner .errorbox-heading {
  color: #00293c;
  font-size: 200%;
}
#error-container #error-container-inner .errorbox-status {
  padding: 0 0 20px 0;
  color: #c31d34;
  font-size: 400%;
}
#error-container #error-container-inner .errorbox-body {
  padding: 0 0 10px 0;
  font-size: 110%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #error-container #error-container-inner .errorbox-body {
    font-size: 100%;
  }
}
#error-container #error-container-inner .errorbox-body.large {
  font-size: 120%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #error-container #error-container-inner .errorbox-body.large {
    font-size: 110%;
  }
}
#error-container #error-container-inner .errorbox-body.hudge {
  font-size: 150%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #error-container #error-container-inner .errorbox-body.hudge {
    font-size: 130%;
  }
}
#error-container #error-container-inner .errorbox-body span {
  display: block;
  width: 100%;
  padding: 0 0 5px 0;
}
#error-container #error-container-inner .errorbox-link {
  margin-left: 0;
}
/*# sourceMappingURL=error.css.map */