.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
form.form {
  width: 100%;
}
form.form input.form-inp {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #666;
  margin-bottom: 1em;
  width: calc(100% - 2em);
  max-width: 15em;
  float: left;
}
form.form textarea.form-inp {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #666;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1em;
  width: calc(100% - 2em);
  max-width: 25em;
  height: 5em;
  font-size: 90%;
}
form.form select.form-select {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #555;
  margin-bottom: 1em;
  width: calc(100% - 2em);
  max-width: 15em;
}
form.form select.form-select.select-disabled {
  background-color: #CCC;
  cursor: not-allowed;
  opacity: 0.6;
}
form.form select.form-select option {
  background-color: #fff;
  color: #555;
}
form.form .form-grid.v2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
form.form .form-float .form-item {
  float: left;
  margin-right: 1em;
}
form.form .form-section {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 2em;
}
form.form .form-section .form-sectionheader {
  font-size: 120%;
  margin-bottom: 1em;
  color: #666;
  font-variant: small-caps;
  letter-spacing: .15em;
}
form.form .form-item {
  flex: 1 1 auto;
}
form.form .form-item span.form-item-label,
form.form .form-item label.form-item-label {
  width: 100%;
  float: left;
  display: block;
  margin-bottom: .5em;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  form.form .form-item span.form-item-label,
  form.form .form-item label.form-item-label {
    width: auto;
  }
}
form.form .form-item span.form-item-label.form-attribute-name,
form.form .form-item label.form-item-label.form-attribute-name {
  width: 100%;
  margin-right: 2em;
  margin-bottom: 0;
  color: #555;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  form.form .form-item span.form-item-label.form-attribute-name,
  form.form .form-item label.form-item-label.form-attribute-name {
    width: 8em;
  }
}
/*# sourceMappingURL=form.css.map */