@import '../../public/stylesheets/fonts.css';
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
body.unisams-body {
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100%;
  background-color: #fff;
  color: #333;
  font-family: "Open Sans", sans-serif;
}
section {
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}
#top {
  position: absolute;
  top: 0;
  left: 0;
}
#outer-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #outer-wrapper {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
  }
}
#content-wrapper {
  flex: 0 0 100%;
  overflow: hidden;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #content-wrapper {
    flex: 1 1 auto;
  }
}
#wrapper {
  position: relative;
  font-size: 100%;
  width: 100%;
  order: 1;
  margin: 0;
  color: #333;
  overflow: hidden;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #wrapper {
    order: 2;
  }
}
#wrapper.wrapper-full-height {
  height: 100vh;
}
#wrapper .page-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow-Y: auto;
  overflow-X: hidden;
}
#wrapper .page-container .page-container-inner {
  padding: 0 5%;
}
#wrapper .page-container .page-container-inner.full-width {
  padding-right: 0;
  padding-left: 0;
}
#wrapper .page-container .page-container-inner.full-height {
  padding-top: 0;
  padding-bottom: 0;
}
#wrapper .page-container .sec-horizontal-padding {
  padding: 0 2em;
}
#wrapper .subpage-container {
  width: 100%;
}
#wrapper .subpage-container .subpage-heading {
  font-size: 100%;
  color: #333;
  display: flex;
  flex-flow: row wrap;
}
#wrapper .subpage-container .subpage-heading .sec-heading-label.propertypage-heading {
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}
#wrapper .subpage-container .subpage-heading .sec-heading-label.propertypage-heading .propertypage-heading-container {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-left: 2em;
}
#wrapper .subpage-container .subpage-heading .sec-heading-label.propertypage-heading .propertypage-heading-container h3 {
  margin: 0;
  padding: 0;
  display: inline-block;
  flex: 0 0 auto;
}
button {
  outline: none;
}
/*
content sections
 */
/**
special classes
 */
.unisams-label span {
  float: left;
  margin: 0;
}
.unisams-label span.acc1 {
  color: #444;
}
.unisams-label span.acc2 {
  color: #00293c;
}
.unisams-label span.acc3 {
  color: #444;
}
/* common styling */
.content-link {
  color: white;
  background-color: #c31d34;
  display: inline-block;
  padding: 1em 1em;
  margin: 1em;
  font-weight: normal;
  font-size: 100%;
  -webkit-transition: background-color 100ms ease;
  -moz-transition: background-color 100ms ease;
  -o-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .content-link {
    font-size: 100%;
  }
}
.content-link a {
  display: inline-block;
  color: white;
}
.content-link svg.icon {
  width: 1em;
  margin-right: 0.5em;
}
.content-link:hover {
  background-color: #de243d;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.content-link.slim {
  color: white;
  background-color: #c31d34;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em 0.5em;
  -webkit-transition: background-color 100ms ease;
  -moz-transition: background-color 100ms ease;
  -o-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}
.content-link.slim a {
  display: inline-block;
  color: white;
}
.content-link.slim:hover {
  background-color: #de243d;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.content-link.slim.light {
  background-color: transparent;
  color: #c31d34;
  border: 1px solid #c31d34;
}
.content-link.slim.light:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.content-link.light {
  background-color: transparent;
  color: #c31d34;
  border: 1px solid #c31d34;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em 0.5em;
}
.content-link.light.inverse {
  color: #fff;
  border-color: #fff;
}
.content-link.light:not(.disable-animation, .slim) {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.content-link.light:not(.disable-animation, .slim):before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c31d34;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.content-link.light:not(.disable-animation, .slim):hover,
.content-link.light:not(.disable-animation, .slim):focus,
.content-link.light:not(.disable-animation, .slim):active {
  color: white;
}
.content-link.light:not(.disable-animation, .slim):hover:before,
.content-link.light:not(.disable-animation, .slim):focus:before,
.content-link.light:not(.disable-animation, .slim):active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.content-link.style1 {
  background-color: #00293c;
  color: #fff;
}
.content-link.style1:hover {
  background-color: #213e54;
}
.content-link.style2 {
  background-color: #213e54;
  color: #fff;
}
.content-link.style2:hover {
  background-color: #225169;
}
.content-link.float {
  float: left;
}
a.inline-link {
  display: inline-block;
  text-decoration: none;
  color: #00293c;
  font-size: 90%;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
a.inline-link:hover {
  cursor: pointer;
  border-bottom: 1px solid #c31d34;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
a.inline-link.external::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  float: left;
  margin-right: 0.5ex;
  margin-left: 0.5ex;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 127.16653 128.65965"><g stroke="%23c31d34" stroke-width="6" fill="none"><path d="m59.144 3.1302h-56.674v123.23h56.497"/><path d="m26.128 63.335h97.102"/><path d="m86.51 99.881 36.37-36.37-36.194-36.193"/></g></svg>');
}
/*
 radio group
 */
.radiogroup label.ui-checkboxradio-label {
  background-color: transparent;
  color: #888;
  border: 1px solid #888;
}
.radiogroup label.ui-checkboxradio-label.ui-checkboxradio-checked {
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #00293c;
}
.radiogroup label svg {
  display: block;
  width: 1em;
  margin-right: 0.5em;
  float: left;
}
.radiogroup label span {
  display: block;
  float: left;
}
/*other things */
.force-select {
  -webkit-user-select: all;
  /* Chrome 49+ */
  -moz-user-select: all;
  /* Firefox 43+ */
  -ms-user-select: all;
  /* No support yet */
  user-select: all;
  /* Likely future */
}
/* breadcrumbs */
.breadcrumbs {
  display: none;
  font-variant: small-caps;
  font-weight: lighter;
  padding: 1em 0;
}
@media only screen and (min-width: 75em) {
  .breadcrumbs {
    display: block;
  }
}
.breadcrumbs .breadcrumbs-part {
  position: relative;
  float: left;
  margin-left: 1em;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 250ms ease;
  -moz-transition: border-color 250ms ease;
  -o-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}
.breadcrumbs .breadcrumbs-part svg {
  width: 1em;
  height: 1em;
}
.breadcrumbs .breadcrumbs-part:hover {
  border-bottom-color: #00293c;
  cursor: pointer;
}
.breadcrumbs .breadcrumbs-part:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>');
  width: 1em;
  height: 1.5em;
  display: block;
  position: absolute;
  left: -1em;
  top: 0.125em;
}
.breadcrumbs .breadcrumbs-part.first:before {
  content: "" !important;
}
/*
select button
 */
/*
dropdown menu
 */
.dropdown-menu {
  position: relative;
  font-size: 90%;
}
.dropdown-menu .dropdown-btn {
  display: block;
  cursor: pointer;
}
.dropdown-menu.dropdown-active .dropdown-btn {
  background-color: #f5f5fc;
}
.dropdown-menu.dropdown-active .dropdown-container {
  display: block;
}
.dropdown-menu.menu-below .dropdown-container {
  top: 100%;
  right: 0;
  bottom: unset;
  left: unset;
  transform: none;
}
.dropdown-menu .dropdown-container {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: #fff;
  color: #555;
}
.dropdown-menu .dropdown-container .dropdown-entry {
  border: 1px solid #999;
}
.dropdown-menu .dropdown-container .dropdown-entry:first-of-type {
  border-bottom: none;
}
.dropdown-menu .dropdown-container .dropdown-entry.last {
  border-bottom: 1px solid #999;
}
.dropdown-menu .dropdown-container .dropdown-entry:hover {
  background-color: rgba(124, 0, 26, 0.2);
}
.dropdown-menu .dropdown-container .dropdown-entry.dropdown-entry-disabled {
  color: #777;
  background-color: #f5f5fc;
}
.dropdown-menu .dropdown-container .dropdown-entry.dropdown-entry-disabled:hover {
  background-color: #f5f5fc;
}
.dropdown-menu .dropdown-container .dropdown-entry.dropdown-entry-disabled a {
  cursor: default;
}
.dropdown-menu .dropdown-container .dropdown-entry a {
  cursor: pointer;
  padding: 0.5em;
  display: block;
  white-space: nowrap;
}
/*
    icons
 */
.before-icon:before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5ex;
  margin-left: 0.5ex;
}
.before-icon.icon-small:before {
  height: 0.8em;
  width: 0.8em;
}
.before-icon.icon-edit:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></svg>');
}
.before-icon.icon-delete:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>');
}
.before-icon.icon-confirm:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>');
}
.before-icon.icon-reset:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-ccw"><polyline points="1 4 1 10 7 10"></polyline><path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path></svg>');
}
.before-icon.icon-cancel:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>');
}
.before-icon.icon-back:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>');
}
.before-icon.icon-info:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>');
}
.before-icon.icon-calendar:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>');
}
.before-icon.icon-user:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>');
}
.before-icon.icon-location:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>');
}
.has-icon svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5ex;
  margin-left: 0.5ex;
}
/*
 tooltipps
 */
.has-tooltip {
  text-decoration: none;
  position: relative;
}
.has-tooltip.disabled span.tooltip.tt-enabled {
  display: none !important;
}
.has-tooltip.disabled span.tooltip.tt-disabled {
  display: block;
}
.has-tooltip span.tooltip {
  font-size: 12px;
  opacity: 0;
  display: block;
  position: absolute;
  border: 1px solid #AAA;
  background-color: #fff;
  color: #555;
  padding: 0.5em 0.3em;
  z-index: -1;
  cursor: auto;
  min-width: 150px;
  -webkit-transition: opacity 350ms ease;
  -moz-transition: opacity 350ms ease;
  -o-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
}
.has-tooltip span.tooltip:before {
  content: "";
  display: block;
  position: absolute;
  top: -0.3em;
  left: 0.5em;
  height: 0.5em;
  width: 0.5em;
  background-color: #fff;
  transform: rotate(45deg);
  border-left: 1px solid #AAA;
  border-top: 1px solid #AAA;
  z-index: -1;
}
.has-tooltip span.tooltip.tt-enabled {
  display: block;
}
.has-tooltip span.tooltip.tt-disabled {
  display: none;
}
.has-tooltip span.tooltip svg {
  width: 1em;
  margin-right: 0.5em;
  float: left;
}
.has-tooltip:hover span {
  opacity: 1;
  z-index: 12;
  transition-delay: 0.5s;
}
.has-tooltip:hover span:before {
  z-index: 13;
}
/*
common form stylings
 */
input.common-input {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #555;
  margin-bottom: 1em;
}
select.common-select {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #555;
  margin-bottom: 1em;
}
select.common-select.select-disabled {
  background-color: #CCC;
  cursor: not-allowed;
  opacity: 0.6;
}
select.common-select option {
  background-color: #fff;
  color: #555;
}
.common-viewBox {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #555;
  margin-bottom: 1em;
}
.common-viewBox.viewBox-disabled {
  background-color: #CCC;
  cursor: not-allowed;
  opacity: 0.6;
}
select:disabled {
  background-color: #CCC;
  cursor: not-allowed;
  opacity: 0.6;
}
.common-submit {
  display: block;
  border: 1px solid #555;
  background-color: transparent;
  padding: 5px 1em;
  margin: 0;
  border-radius: 0;
  color: #333;
  outline: 0;
}
.common-submit:hover {
  cursor: pointer;
}
.formElement-optional {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1000ms ease;
  -moz-transition: max-height 1000ms ease;
  -o-transition: max-height 1000ms ease;
  transition: max-height 1000ms ease;
}
.formElement-optional.optional-enabled {
  max-height: 100vh;
  -webkit-transition: max-height 2000ms ease;
  -moz-transition: max-height 2000ms ease;
  -o-transition: max-height 2000ms ease;
  transition: max-height 2000ms ease;
}
/*
common list stylings
 */
ul.common-list {
  margin: 0;
  list-style: none;
}
ul.common-list li {
  flex: 1 1 auto;
  background-color: #ffffff;
}
ul.common-list li:nth-child(odd) {
  background-color: #f9f9f9;
}
ul.common-list li:not(.noSelect):hover {
  background-color: rgba(124, 0, 26, 0.2);
  cursor: pointer;
}
ul.common-list li.borderBottom {
  border-bottom: 1px solid #666;
}
/*
common cursor styling
 */
.cursor-notAllowed {
  cursor: not-allowed;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
/*
common btn styling
*/
.btn-disabled {
  cursor: not-allowed !important;
  opacity: 0.6 !important;
  background-color: #999 !important;
}
.btn-disabled:hover {
  background-color: #999 !important;
}
.btn-addItem {
  width: auto;
  display: inline-block;
  border: 1px solid #AAA;
  padding: 0.5em 0.5em;
  cursor: pointer;
  color: #555;
  background-color: transparent;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}
.btn-addItem:hover {
  background-color: #f9f9ff;
}
.btn-addItem.disabled {
  color: #AAA;
  cursor: not-allowed;
}
.btn-addItem svg {
  width: 1em;
  display: block;
  margin-right: 0.5em;
  float: left;
}
.btn-addItem span {
  display: inline-block;
  float: left;
  line-height: 1em;
}
.btn-listExt {
  background-color: transparent;
  margin-top: 1em;
  width: max-content;
  position: relative;
}
/* common border classes */
.border-top {
  border-top: 1px solid #AAA;
}
.border-bottom {
  border-bottom: 1px solid #AAA;
}
/* common helper classes */
.limitCharacters {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.limitCharacters > * {
  overflow: hidden;
  text-overflow: ellipsis;
}
.float {
  display: block;
  float: left;
}
.float-right {
  display: block;
  float: right;
}
.nofloat {
  float: none !important;
}
.force-nomargin {
  margin: 0 !important;
}
.nomargin {
  margin: 0;
}
@media only screen and (max-width: 50em) {
  .desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .mobile {
    display: none !important;
  }
}
.clear {
  float: none !important;
  width: 0 !important;
  clear: both;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.add-smt-button {
  font-size: 120%;
  position: absolute;
  opacity: 0.8;
  bottom: 0.5em;
  right: 2em;
  -webkit-transition: transform 200ms ease;
  -moz-transition: transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .add-smt-button {
    font-size: 100%;
  }
}
.add-smt-button .add-smt-button-label {
  display: block;
  padding: 0.6em 0.5em;
  line-height: normal;
}
.add-smt-button a {
  color: white;
  background-color: #c31d34;
  display: inline-block;
  font-size: 100%;
  vertical-align: bottom;
  padding: 0.6em 0.5em;
  text-decoration: none;
  border-radius: 10%;
  line-height: 0;
  box-shadow: 0px 3px 5px #444;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.add-smt-button a:hover {
  background-color: #de243d;
  cursor: pointer;
}
.add-smt-button a svg {
  color: white;
  background-color: inherit;
  width: 1em;
}
@media only screen and (min-width: 75em) {
  .add-smt-button a svg {
    width: 2em;
  }
}
.add-smt-button span {
  padding: 0.25em 0;
  display: block;
  float: right;
}
.btn-fixed {
  position: absolute;
  top: 4.8em !important;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .btn-fixed {
    top: 1.8em !important;
  }
}
.relative {
  position: relative;
}
/* subpage */
.subpage-container {
  width: 100%;
}
.subpage-container .subpage-heading {
  padding: 3em 1em 1em 0;
}
.subpage-container .subpage-heading h3 {
  font-weight: lighter;
  font-size: 100%;
  color: #333;
}
@media only screen and (min-width: 75em) {
  .subpage-container .subpage-heading h3 {
    font-size: 160%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .subpage-container .subpage-heading h3 {
    font-size: 120%;
  }
}
.subpage-container .subpage-heading .sec-heading-label {
  font-size: 200%;
  color: #333;
}
.subpage-container .subpage-topbar {
  padding: 1em 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.subpage-container .subpage-topbar .topbar-heading {
  flex: 0 0 100%;
  margin: 0 0 0 2em;
}
.subpage-container .subpage-topbar .topbar-heading span,
.subpage-container .subpage-topbar .topbar-heading h1,
.subpage-container .subpage-topbar .topbar-heading h2,
.subpage-container .subpage-topbar .topbar-heading h3 {
  font-size: 150%;
  margin: 0.8em 0;
  padding: 0;
  font-weight: normal;
}
.subpage-container .subpage-topbar .topbar-element {
  flex: 0 1 auto;
  float: left;
  margin-left: 2em;
}
.subpage-container .subpage-menu .subpage-menu-btn {
  display: block;
}
.searchbar label {
  float: left;
  margin-right: 1em;
}
.searchbar input.nomargin {
  margin: 0;
}
.itemlist-header-container {
  width: 100%;
  border-bottom: 1px solid #666;
}
.itemlist-content-container ul.itemlist {
  width: 100%;
}
ul.itemlist {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  flex-flow: column wrap;
  font-weight: lighter;
}
ul.itemlist.border li .inner .item-property {
  border-right: 1px solid #AAA;
}
ul.itemlist.row-items-3 li .inner {
  grid-template-columns: 1fr 1fr 1fr;
}
ul.itemlist li {
  flex: 1 1 auto;
  background-color: #ffffff;
}
ul.itemlist li:nth-child(odd) {
  background-color: #f9f9f9;
}
ul.itemlist li.borderBottom {
  border-bottom: 1px solid #666;
}
ul.itemlist li .itemDelete svg {
  width: 1em;
}
ul.itemlist li .inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
ul.itemlist li .inner .item-property {
  padding: 0.5em 0;
  position: relative;
  margin-left: 10px;
  flex: 0 0 240px;
}
ul.itemlist li .inner .item-property.after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
}
ul.itemlist li .inner .item-property:hover > ul.itemlist li .inner .item-property.after {
  border-bottom-color: rgba(124, 0, 26, 0.2);
}
ul.itemlist:not(.itemlist-noSelect) li:not(.noSelect):hover {
  background-color: rgba(124, 0, 26, 0.2);
  cursor: pointer;
}
ul.itemlist:not(.noHover) li:not(.noSelect):hover {
  background-color: rgba(124, 0, 26, 0.2);
}
ul.itemlist.itemlist-style-clean li {
  background-color: transparent;
}
ul.itemlist.itemlist-style-clean li .inner {
  padding-left: 0;
  padding-right: 0;
}
ul.itemlist.itemlist-noSelect li:hover {
  cursor: default;
}
ul.itemlist.itemlist-noSelect li:hover span {
  cursor: text;
}
.gallery-container {
  padding: 0;
  list-style: none;
  width: 90%;
  margin: 0 auto;
  font-size: 100%;
  position: relative;
}
.gallery-container .gallery-add-item {
  position: relative;
  left: 0;
  bottom: 0;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .gallery-container {
    width: 90%;
  }
}
.gallery-container ul.gallery-view {
  padding: 0;
  list-style: none;
  margin: 0 0 2em 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  width: 100%;
}
@media only screen and (min-width: 35em) and (max-width: 50em) {
  .gallery-container ul.gallery-view {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .gallery-container ul.gallery-view {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 75em) {
  .gallery-container ul.gallery-view {
    grid-template-columns: repeat(3, 1fr);
  }
}
.gallery-container ul.gallery-view li.gallery-item {
  width: 100%;
  margin: 0.5em 0;
  max-width: 500px;
  min-width: 200px;
  display: block;
}
.gallery-container ul.gallery-view li.gallery-item:hover .inner .image img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  filter: brightness(80%);
}
.gallery-container ul.gallery-view li.gallery-item .inner {
  text-align: left;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column wrap;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
}
.gallery-container ul.gallery-view li.gallery-item .inner .date {
  font-size: 90%;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  flex: none;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image .thumbnail-credit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  padding: 0.5em 0.5em;
  background-color: #00293c;
  color: #fff;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: lighter;
  font-size: 60%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image .image-overlay .gallery-heading {
  width: 80%;
  margin: 1em auto;
  font-weight: lighter;
  font-size: 150%;
  color: #00293c;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  padding: 0.5em 1em;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image .image-overlay .gallery-heading .gallery-heading-inner {
  font-weight: normal;
  font-size: 60%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  filter: brightness(100%);
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-heading {
  width: 80%;
  margin: 1em auto 0 auto;
  font-weight: lighter;
  font-size: 130%;
  color: #00293c;
  display: block;
  padding: 0.5em 1em;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-heading .gallery-heading-inner {
  font-size: 80%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-text {
  width: 80%;
  margin: 0.5em auto 0 auto;
  font-size: 100%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-abstract {
  width: 80%;
  margin: 1em auto;
  font-weight: normal;
  font-size: 100%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-link {
  border-top: 1px solid #fff;
  margin-top: auto;
  font-size: 70%;
  position: absolute;
  bottom: 0;
  right: 1em;
}
.gallery-container ul.gallery-view li.gallery-item .gallery-item-actions {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.gallery-container ul.gallery-view li.gallery-item .gallery-item-actions .action-button {
  flex: 1 1 auto;
}
.gallery-container ul.gallery-view li.gallery-add-item svg {
  height: 4em;
  width: 4em;
  color: #c31d34;
}
.centered {
  position: relative;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .centered {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.login-page {
  width: 100%;
  height: 100%;
  font-size: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .login-page {
    display: block;
    font-size: 100%;
    height: 100%;
    overflow: hidden;
  }
}
.login-page .login-page-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .login-page .login-page-container {
    font-size: 100%;
    height: 100%;
    flex-flow: row nowrap;
  }
}
.login-page .login-page-container .login-additional-box {
  display: flex;
  height: 100%;
  flex: 1 1 50%;
  position: relative;
  font-size: 80%;
  flex-flow: row wrap;
  justify-content: center;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .login-page .login-page-container .login-additional-box {
    font-size: 100%;
    justify-content: center;
  }
}
.login-page .login-page-container .login-additional-box .additonal-content-container {
  padding: 1em;
  display: flex;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .login-page .login-page-container .login-additional-box .additonal-content-container {
    display: block;
  }
}
.login-page .login-page-container .login-additional-box .additonal-content-container .img-container {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .login-page .login-page-container .login-additional-box .additonal-content-container .img-container {
    max-width: 400px;
  }
}
@media only screen and (min-width: 75em) {
  .login-page .login-page-container .login-additional-box .additonal-content-container .img-container {
    max-width: 500px;
  }
}
.login-page .login-page-container .login-additional-box .additonal-content-container .img-container img {
  width: 100%;
}
.login-page .login-page-container .login-additional-box .additonal-content-container .unisams-label {
  font-size: 500%;
}
.login-page .login-page-container .login-content {
  flex: 1 1 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .login-page .login-page-container .login-content {
    justify-content: flex-start;
  }
}
.login-page .login-page-container .login-content .login-content-inner {
  padding: 1em 5%;
}
.login-page .login-page-container .login-content .login-content-inner .login-form-container .login-form-greeter {
  margin-bottom: 5em;
}
.login-page .login-page-container .login-content .login-content-inner .login-form-container .login-form-greeter .greeter-label {
  font-size: 250%;
}
.login-page .login-page-container .login-content .login-content-inner .login-form-container .login-form-greeter .greeter-content {
  font-size: 150%;
}
.login-page .login-page-container .login-content .login-content-inner .login-form-container .login-form-content {
  font-size: 110%;
}
.login-page .login-page-container .login-content .login-content-inner .login-form-container .login-form-content .login-form label {
  display: block;
  margin-bottom: 1em;
}
.login-page .login-page-container .login-content .login-content-inner .login-form-container .login-form-content .login-form .login-form-inp {
  font-size: 100%;
  position: relative;
}
.login-page .login-page-container .login-content .login-content-inner .login-form-container .login-form-content .login-form .login-form-submit {
  font-size: 100%;
  display: block;
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: #c31d34;
  color: #fff;
  border: none;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.no-js .login-form {
  opacity: 0.65;
  filter: alpha(opacity=65);
  cursor: not-allowed !important;
}
.no-js .login-form input {
  cursor: not-allowed !important;
}
.no-js .login-form-submit {
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
form.form {
  width: 100%;
}
form.form input.form-inp {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #666;
  margin-bottom: 1em;
  width: calc(100% - 2em);
  max-width: 15em;
  float: left;
}
form.form textarea.form-inp {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #666;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1em;
  width: calc(100% - 2em);
  max-width: 25em;
  height: 5em;
  font-size: 90%;
}
form.form select.form-select {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #555;
  margin-bottom: 1em;
  width: calc(100% - 2em);
  max-width: 15em;
}
form.form select.form-select.select-disabled {
  background-color: #CCC;
  cursor: not-allowed;
  opacity: 0.6;
}
form.form select.form-select option {
  background-color: #fff;
  color: #555;
}
form.form .form-grid.v2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
form.form .form-float .form-item {
  float: left;
  margin-right: 1em;
}
form.form .form-section {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 2em;
}
form.form .form-section .form-sectionheader {
  font-size: 120%;
  margin-bottom: 1em;
  color: #666;
  font-variant: small-caps;
  letter-spacing: 0.15em;
}
form.form .form-item {
  flex: 1 1 auto;
  margin-left: 1px;
}
form.form .form-item span.form-item-label,
form.form .form-item label.form-item-label {
  width: 100%;
  float: left;
  display: block;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  form.form .form-item span.form-item-label,
  form.form .form-item label.form-item-label {
    width: auto;
  }
}
form.form .form-item span.form-item-label.form-attribute-name,
form.form .form-item label.form-item-label.form-attribute-name {
  width: 100%;
  margin-right: 2em;
  margin-bottom: 0;
  color: #555;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  form.form .form-item span.form-item-label.form-attribute-name,
  form.form .form-item label.form-item-label.form-attribute-name {
    width: 8em;
  }
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #c31d34;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #de243d;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Sweep To Right */
@name Space "hvr";
@keyframes show-dash {
  from {
    bottom: -400px;
  }
  20% {
    bottom: 0;
  }
  80% {
    bottom: 0;
  }
  to {
    bottom: -400px;
  }
}
#no-js-dash {
  z-index: 10;
  display: none;
  width: calc(100% - 10em);
  overflow: hidden;
  padding: 2em 5em;
  background-color: #00293c;
  bottom: 0;
  position: fixed;
  height: auto;
}
#no-js-dash #no-js-text {
  color: #fff;
  font-size: 100%;
  text-align: center;
}
.no-js #no-js-dash {
  display: block;
}
.no-js .infobar {
  display: none;
}
.no-js .floating-button {
  display: none;
}
/* alignment from common.less */
.no-js .sec-label {
  top: 0 !important;
  height: 100vh;
}
.no-js .sec-label .active {
  background-color: inherit;
  color: inherit;
}
/*
preloader
 */
.no-js .preloader {
  display: none !important;
}
.preloader {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: #f5f5f5;
  color: #00293c;
}
.preloader-content {
  margin: 20vh auto;
  width: 150px;
}
.preloader-content span {
  width: 100%;
  font-family: "Comfortaa Light", "Open Sans", Sans, sans-serif;
  font-size: 180%;
  display: block;
  text-align: center;
}
.preloader-content svg {
  margin-bottom: 3em;
}
.preloader-content svg path {
  width: 50%;
}
.preloader-hidden {
  display: none;
}
.preloader-active {
  display: block;
}
.beat-loader {
  stroke: #00293c;
  /*stroke: #E76E66;*/
  stroke-dasharray: 175;
  stroke-dashoffset: 350;
  -webkit-animation: draw 1.4s linear;
  -moz-animation: draw 1.4s linear;
  animation: draw 1.4s linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
/*# sourceMappingURL=lssc_loader_login.css.map */