@import '../../public/stylesheets/fonts.css';
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* subpage */
.subpage-container {
  width: 100%;
}
.subpage-container .subpage-heading {
  padding: 3em 1em 1em 0;
}
.subpage-container .subpage-heading h3 {
  font-weight: lighter;
  font-size: 100%;
  color: #333;
}
@media only screen and (min-width: 75em) {
  .subpage-container .subpage-heading h3 {
    font-size: 160%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .subpage-container .subpage-heading h3 {
    font-size: 120%;
  }
}
.subpage-container .subpage-heading .sec-heading-label {
  font-size: 200%;
  color: #333;
}
.subpage-container .subpage-topbar {
  padding: 1em 0;
  margin: 0 1em;
  width: 100%;
  font-size: 80%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .subpage-container .subpage-topbar {
    flex-flow: row nowrap;
    font-size: 100%;
  }
}
.subpage-container .subpage-topbar .topbar-heading {
  flex: 0 0 100%;
  margin: 0 2em 0 0;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .subpage-container .subpage-topbar .topbar-heading {
    flex: 0 0 auto;
  }
}
.subpage-container .subpage-topbar .topbar-heading span,
.subpage-container .subpage-topbar .topbar-heading h1,
.subpage-container .subpage-topbar .topbar-heading h2,
.subpage-container .subpage-topbar .topbar-heading h3 {
  font-size: 150%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.subpage-container .subpage-topbar .topbar-element {
  flex: 0 1 auto;
  float: left;
  margin-right: 1em;
}
.subpage-container .subpage-menu .subpage-menu-btn {
  display: block;
}
.subpage-searchbar .searchbar label {
  float: left;
  margin-right: 1em;
}
.subpage-searchbar .searchbar input.nomargin {
  margin: 0;
}
.itemlist-header-container {
  width: 100%;
  border-bottom: 1px solid #666;
}
.itemlist-content-container ul.itemlist {
  width: 100%;
}
ul.itemlist {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  flex-flow: column wrap;
  font-weight: lighter;
}
ul.itemlist.border li .inner .item-property {
  border-right: 1px solid #AAA;
}
ul.itemlist.row-items-3 li .inner {
  grid-template-columns: 1fr 1fr 1fr;
}
ul.itemlist li {
  flex: 1 1 auto;
  background-color: #ffffff;
}
ul.itemlist li:nth-child(odd) {
  background-color: #f9f9f9;
}
ul.itemlist li.borderBottom {
  border-bottom: 1px solid #666;
}
ul.itemlist li .itemDelete svg {
  width: 1em;
}
ul.itemlist li .inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
ul.itemlist li .inner .item-property {
  padding: 0.5em 0;
  position: relative;
  margin-left: 10px;
  flex: 0 0 240px;
}
ul.itemlist li .inner .item-property.after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
}
ul.itemlist li .inner .item-property:hover > ul.itemlist li .inner .item-property.after {
  border-bottom-color: rgba(124, 0, 26, 0.2);
}
ul.itemlist:not(.itemlist-noSelect) li:not(.noSelect):hover {
  background-color: rgba(124, 0, 26, 0.2);
  cursor: pointer;
}
ul.itemlist:not(.noHover) li:not(.noSelect):hover {
  background-color: rgba(124, 0, 26, 0.2);
}
ul.itemlist.itemlist-style-clean li {
  background-color: transparent;
}
ul.itemlist.itemlist-style-clean li .inner {
  padding-left: 0;
  padding-right: 0;
}
ul.itemlist.itemlist-noSelect li:hover {
  cursor: default;
}
ul.itemlist.itemlist-noSelect li:hover span {
  cursor: text;
}
.gallery-container {
  padding: 0;
  list-style: none;
  width: 90%;
  margin: 0 auto;
  font-size: 100%;
  position: relative;
}
.gallery-container .gallery-add-item {
  position: relative;
  left: 0;
  bottom: 0;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .gallery-container {
    width: 90%;
  }
}
.gallery-container ul.gallery-view {
  padding: 0;
  list-style: none;
  margin: 0 0 2em 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  width: 100%;
}
@media only screen and (min-width: 35em) and (max-width: 50em) {
  .gallery-container ul.gallery-view {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .gallery-container ul.gallery-view {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 75em) {
  .gallery-container ul.gallery-view {
    grid-template-columns: repeat(3, 1fr);
  }
}
.gallery-container ul.gallery-view li.gallery-item {
  width: 100%;
  margin: 0.5em 0;
  max-width: 500px;
  min-width: 200px;
  display: block;
}
.gallery-container ul.gallery-view li.gallery-item:hover .inner .image img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  filter: brightness(80%);
}
.gallery-container ul.gallery-view li.gallery-item .inner {
  text-align: left;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column wrap;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
}
.gallery-container ul.gallery-view li.gallery-item .inner .date {
  font-size: 90%;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  flex: none;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image .thumbnail-credit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  padding: 0.5em 0.5em;
  background-color: #00293c;
  color: #fff;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: lighter;
  font-size: 60%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image .image-overlay .gallery-heading {
  width: 80%;
  margin: 1em auto;
  font-weight: lighter;
  font-size: 150%;
  color: #00293c;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  padding: 0.5em 1em;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image .image-overlay .gallery-heading .gallery-heading-inner {
  font-weight: normal;
  font-size: 60%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  filter: brightness(100%);
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-heading {
  width: 80%;
  margin: 1em auto 0 auto;
  font-weight: lighter;
  font-size: 130%;
  color: #00293c;
  display: block;
  padding: 0.5em 1em;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-heading .gallery-heading-inner {
  font-size: 80%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-text {
  width: 80%;
  margin: 0.5em auto 0 auto;
  font-size: 100%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-abstract {
  width: 80%;
  margin: 1em auto;
  font-weight: normal;
  font-size: 100%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-link {
  border-top: 1px solid #fff;
  margin-top: auto;
  font-size: 70%;
  position: absolute;
  bottom: 0;
  right: 1em;
}
.gallery-container ul.gallery-view li.gallery-item .gallery-item-actions {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.gallery-container ul.gallery-view li.gallery-item .gallery-item-actions .action-button {
  flex: 1 1 auto;
}
.gallery-container ul.gallery-view li.gallery-add-item svg {
  height: 4em;
  width: 4em;
  color: #c31d34;
}
body.noscroll {
  overflow: hidden;
}
body #wrapper .page-container {
  -webkit-transition: width 250ms ease;
  -moz-transition: width 250ms ease;
  -o-transition: width 250ms ease;
  transition: width 250ms ease;
}
body #wrapper.sidebar-active {
  overflow: hidden;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  body #wrapper.sidebar-active .page-container {
    width: calc(100% - 20em - 0.1em);
    float: left;
  }
  .page-containerbody #wrapper.sidebar-active.sidebar-static-active {
    width: 100%;
    float: left;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  body #wrapper.sidebar-active .page-container {
    width: 0;
  }
  .page-containerbody #wrapper.sidebar-active.sidebar-static-active {
    width: 100%;
    float: left;
  }
}
body #wrapper.sidebar-active .sidebar-container {
  transform: translateX(0);
}
body #wrapper.sidebar-active .sidebar-container .sidebar-top {
  transform: translateX(0);
}
body #wrapper.sidebar-active .sidebar-back-btn {
  transform: rotate(0);
}
body .sidebar-container {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  transform: translateX(100%);
  position: fixed;
  border-left: 1px solid #999;
  background-color: #fff;
  z-index: 7;
  float: left;
  top: 0;
  right: 0;
  -webkit-transition: transform 250ms ease;
  -moz-transition: transform 250ms ease;
  -o-transition: transform 250ms ease;
  transition: transform 250ms ease;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  body .sidebar-container {
    width: 20em;
    height: calc(100vh - 5em);
    min-height: auto;
    position: absolute;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  body .sidebar-container {
    width: 100%;
  }
}
body .sidebar-container .sidebar {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
body .sidebar-container .sidebar .sidebar-top {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  height: 3em;
  width: 100%;
  border-bottom: 1px solid #999;
  background-color: #f9f9f9;
  transform: translateX(-3em);
  -webkit-transition: transform 250ms ease;
  -moz-transition: transform 250ms ease;
  -o-transition: transform 250ms ease;
  transition: transform 250ms ease;
}
body .sidebar-container .sidebar .sidebar-top .sidebar-back-btn {
  flex: 0 0 1em;
  background-color: #f9f9f9;
  padding: 1em;
  width: 1em;
  float: left;
  border-right: 1px solid #999;
  cursor: pointer;
  transform: rotate(180deg);
}
body .sidebar-container .sidebar .sidebar-top .sidebar-back-btn:hover {
  background-color: #fAfAfA;
}
body .sidebar-container .sidebar .sidebar-top .sidebar-back-btn svg {
  width: 1em;
  display: block;
}
body .sidebar-container .sidebar .sidebar-top .sidebar-title {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1em;
  font-size: 90%;
  color: #333;
}
body .sidebar-container .sidebar .sidebar-inner {
  flex: 1 1 auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  overflow-y: scroll;
}
body .sidebar-container .sidebar .sidebar-inner .label-caps label {
  font-variant: small-caps;
}
body .sidebar-container .sidebar .sidebar-inner .sidebar-bottom {
  position: relative;
  margin-bottom: 1em;
}
body .sidebar-container .sidebar .sidebar-inner .sidebar-content {
  flex: 1 1 auto;
}
body .sidebar-container .sidebar .sidebar-inner .sidebar-content .sidebar-section {
  padding: 1em;
}
body .sidebar-container .sidebar .sidebar-inner .sidebar-content .sidebar-section .content-title {
  font-size: 120%;
  font-weight: bold;
}
body .sidebar-container .sidebar .sidebar-inner .sidebar-content .sidebar-section .section-content .content-item {
  display: block;
  width: 100%;
}
body .sidebar-select-container {
  position: relative;
}
body .sidebar-select-container .sidebar-select-popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
body .sidebar-errorMsg {
  display: block;
  margin: 0 !important;
  padding: 2em 1em;
  width: auto;
  background-color: rgba(255, 0, 26, 0.6);
}
body .sidebar-errorMsg.warnMsg {
  background-color: rgba(255, 215, 89, 0.6);
}
body .sidebar-errorMsg:before {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0.5em;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-octagon"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>');
}
.sidebar-event .sidebar-content .event-participants-container .participant-heading {
  padding-bottom: 1em;
  text-transform: uppercase;
  color: #AAA;
  font-size: 90%;
}
.sidebar-event .sidebar-content .event-participants-container .event-participants .participant-item {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #CCC;
  padding: 5px 0;
}
.sidebar-event .sidebar-content .event-participants-container .event-participants .participant-item .participant-img {
  flex: 0 0 3em;
  margin-right: 1em;
  max-width: 2em;
}
.sidebar-event .sidebar-content .event-participants-container .event-participants .participant-item .participant-img img {
  width: 100%;
  border-radius: 50%;
}
.sidebar-event .sidebar-content .event-participants-container .event-participants .participant-item .participant-details {
  flex: 1 1 auto;
}
.sidebar-event .sidebar-content .event-participants-container .event-participants .participant-item .participant-details a {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
.sidebar-participate-button.hidden {
  display: none !important;
}
.sidebar-user .sidebar-inner {
  font-size: 90%;
}
.sidebar-user .sidebar-inner .sidebar-content .sidebar-userimg {
  cursor: pointer;
  width: 100%;
  height: auto;
  background-image: url("/static/images/bg2.jpg");
  background-size: cover;
}
.sidebar-user .sidebar-inner .sidebar-content .sidebar-userimg .userimg-inner {
  width: 80%;
  margin: 0 10%;
  padding: 2em 0 1em 0;
}
.sidebar-user .sidebar-inner .sidebar-content .sidebar-userimg .userimg-inner .img-container {
  border-radius: 50%;
  width: 7em;
  max-width: 100px;
  overflow: hidden;
}
.sidebar-user .sidebar-inner .sidebar-content .sidebar-userimg .userimg-inner .img-container img {
  width: 100%;
  display: block;
  transform: scale(1.1);
}
.sidebar-user .sidebar-inner .sidebar-content .sidebar-userimg .userimg-inner span {
  padding-top: 15px;
  display: block;
  font-size: 200%;
  font-weight: lighter;
  color: #fff;
  word-break: break-word;
}
.sidebar-user .sidebar-inner .sidebar-content .content-title {
  font-size: 120%;
  font-weight: bold;
}
.sidebar-user .sidebar-inner .sidebar-content .section-title {
  display: block;
  color: #AAA;
  font-size: 110%;
  font-variant: small-caps;
}
.sidebar-user .sidebar-inner .sidebar-content .section-content .content-item {
  display: block;
  width: 100%;
}
.sidebar-participate-button.hidden {
  display: none !important;
}
.sidebar-addParticipant .sidebar-content .addParticipant-container {
  font-size: 110%;
}
.sidebar-addParticipant .sidebar-content .addParticipant-container .participant-heading {
  padding-bottom: 1em;
  text-transform: uppercase;
  color: #AAA;
  font-size: 90%;
}
.sidebar-addParticipant .sidebar-content .addParticipant-container .searchbar {
  width: 100%;
}
.sidebar-addParticipant .sidebar-content .addParticipant-container .searchbar .searchbar-input {
  padding: 5px 1em;
  width: calc(100% - 2em);
}
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-container,
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-result {
  width: 100%;
}
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-container.hidden,
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-result.hidden {
  display: none !important;
}
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-container .event-participants,
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-result .event-participants {
  width: 100%;
  padding: 0;
  list-style: none;
  max-height: 10em;
  overflow: auto;
  border: 1px solid #CCC;
}
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-container .event-participants .participant-item,
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-result .event-participants .participant-item {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-container .event-participants .participant-item:not(:last-child),
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-result .event-participants .participant-item:not(:last-child) {
  border-bottom: 1px solid #DDD;
}
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-container .event-participants .participant-item .participant-img,
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-result .event-participants .participant-item .participant-img {
  flex: 0 0 3em;
  margin-right: 1em;
  max-width: 2em;
}
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-container .event-participants .participant-item .participant-img img,
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-result .event-participants .participant-item .participant-img img {
  width: 100%;
  border-radius: 50%;
}
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-container .event-participants .participant-item .participant-details,
.sidebar-addParticipant .sidebar-content .addParticipant-container .userselect-result .event-participants .participant-item .participant-details {
  flex: 1 1 auto;
}
.sidebar-participate-button.hidden {
  display: none !important;
}
form.form {
  width: 100%;
}
form.form input.form-inp {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #666;
  margin-bottom: 1em;
  width: calc(100% - 2em);
  max-width: 15em;
  float: left;
}
form.form textarea.form-inp {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #666;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1em;
  width: calc(100% - 2em);
  max-width: 25em;
  height: 5em;
  font-size: 90%;
}
form.form select.form-select {
  display: block;
  border: 1px solid #BBB;
  background-color: transparent;
  padding: 5px 1em;
  border-radius: 0;
  color: #555;
  margin-bottom: 1em;
  width: calc(100% - 2em);
  max-width: 15em;
}
form.form select.form-select.select-disabled {
  background-color: #CCC;
  cursor: not-allowed;
  opacity: 0.6;
}
form.form select.form-select option {
  background-color: #fff;
  color: #555;
}
form.form .form-grid.v2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
form.form .form-float .form-item {
  float: left;
  margin-right: 1em;
}
form.form .form-section {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 2em;
}
form.form .form-section .form-sectionheader {
  font-size: 120%;
  margin-bottom: 1em;
  color: #666;
  font-variant: small-caps;
  letter-spacing: 0.15em;
}
form.form .form-item {
  flex: 1 1 auto;
  margin-left: 1px;
}
form.form .form-item span.form-item-label,
form.form .form-item label.form-item-label {
  width: 100%;
  float: left;
  display: block;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  form.form .form-item span.form-item-label,
  form.form .form-item label.form-item-label {
    width: auto;
  }
}
form.form .form-item span.form-item-label.form-attribute-name,
form.form .form-item label.form-item-label.form-attribute-name {
  width: 100%;
  margin-right: 2em;
  margin-bottom: 0;
  color: #555;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  form.form .form-item span.form-item-label.form-attribute-name,
  form.form .form-item label.form-item-label.form-attribute-name {
    width: 8em;
  }
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
@keyframes show-dash {
  from {
    bottom: -400px;
  }
  20% {
    bottom: 0;
  }
  80% {
    bottom: 0;
  }
  to {
    bottom: -400px;
  }
}
#no-js-dash {
  z-index: 10;
  display: none;
  width: 100%;
  overflow: hidden;
  padding: 2em 5em;
  background-color: #f5f5f5;
  bottom: -400px;
  position: fixed;
  height: auto;
  animation-name: show-dash;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-delay: 1s;
}
#no-js-dash #no-js-text {
  color: #c31d34;
  font-size: 100%;
  text-align: center;
}
.no-js #no-js-dash {
  display: block;
}
.no-js .infobar {
  display: none;
}
.no-js .floating-button {
  display: none;
}
/* alignment from common.less */
.no-js .sec-label {
  top: 0 !important;
  height: 100vh;
}
.no-js .sec-label .active {
  background-color: inherit;
  color: inherit;
}
/*# sourceMappingURL=lssc_loader.css.map */