.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.subpage-container {
  width: 100%;
}
.subpage-container .subpage-heading {
  font-size: 100%;
  color: #333;
  display: flex;
  flex-flow: row wrap;
}
.subpage-container .subpage-heading .sec-heading-label.userprofile-heading {
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}
.subpage-container .subpage-heading .sec-heading-label.userprofile-heading .userprofile-heading-container {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.subpage-container .subpage-heading .sec-heading-label.userprofile-heading .userprofile-heading-container h3 {
  margin: 0;
  padding: 0;
  display: inline-block;
  flex: 0 0 auto;
}
.subpage-container .subpage-heading .sec-heading-label.userprofile-heading .userprofile-heading-container .userprofile-dropdown {
  flex: 0 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  margin-left: 1em;
}
.subpage-container .subpage-heading .sec-heading-label.userprofile-heading .userprofile-heading-container .userprofile-dropdown .dropdown-btn {
  position: relative;
}
.subpage-container .subpage-heading .sec-heading-label.userprofile-heading .userprofile-heading-container .userprofile-dropdown .dropdown-btn svg {
  margin-bottom: 5px;
  display: block;
  width: 1em;
}
.subpage-container .subpage-heading .sec-heading-label.userprofile-heading .userprofile-heading-container .userprofile-dropdown .dropdown-container {
  font-size: 50%;
}
.subpage-container .subpage-heading .sec-heading-img {
  flex: 0 0 10em;
}
.userimg-container {
  margin-left: 2em;
}
.userimg-container.sec-heading-img {
  font-size: 100%;
  margin-right: 3em;
}
.userimg-container.sec-heading-img .userimg-overlay,
.userimg-container.sec-heading-img img {
  border-radius: 50%;
}
.userimg-container .userimg {
  width: 100%;
  position: relative;
}
.userimg-container .userimg.hover {
  cursor: pointer;
}
.userimg-container .userimg .userimg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  font-size: 80%;
  background-color: rgba(60, 60, 60, 0.8);
  color: #FFF;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.userimg-container .userimg .userimg-overlay .userimg-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 8em;
  transform: translate(-50%, -50%);
  text-align: center;
}
.userimg-container .userimg .userimg-overlay .userimg-inner svg {
  display: block;
  width: 2em;
  margin: 0 auto 1em auto;
}
.userimg-container .userimg .userimg-overlay .userimg-inner span {
  display: inline-block;
}
.userimg-container .userimg .userimg-overlay:hover {
  opacity: 1;
}
.userimg-container .userimg img {
  display: block;
  width: 100%;
}
.userinfo-heading-container {
  background-color: #f9f9f9;
  padding: 0 !important;
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .userinfo-heading-container {
    padding: 1em;
  }
}
.userinfo-heading-container .userinfo-heading-card {
  flex: 1 1 auto;
  margin-bottom: 0;
  max-width: 100%;
}
.userinfo-heading-container .userinfo-heading-card .userinfo-heading-inner {
  margin: 0;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .userinfo-heading-container .userinfo-heading-card .userinfo-heading-inner {
    margin: 0;
  }
}
.userinfo-heading-container .userinfo-heading-card.card-full {
  flex: 0 0 100%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .userinfo-heading-container .userinfo-heading-card.card-half {
    flex: 1 0 50%;
    min-width: 30em;
  }
}
.userinfo-container {
  width: 100%;
  background-color: #f9f9f9;
}
.userinfo-container .userinfo-inner {
  padding: 1em 0;
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .userinfo-container .userinfo-inner {
    padding: 1em;
  }
}
.userinfo-container .userinfo-inner .userinfo-section .userinfo-section-inner {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 2em;
}
.userinfo-container .userinfo-inner .userinfo-section.userinfo-card {
  flex: 1 1 auto;
  margin-bottom: 0;
}
.userinfo-container .userinfo-inner .userinfo-section.userinfo-card .userinfo-section-inner {
  margin: 20px 0;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .userinfo-container .userinfo-inner .userinfo-section.userinfo-card .userinfo-section-inner {
    margin: 20px;
  }
}
.userinfo-container .userinfo-inner .userinfo-section.userinfo-card.card-full {
  flex: 0 0 100%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .userinfo-container .userinfo-inner .userinfo-section.userinfo-card.card-half {
    flex: 1 0 50%;
    min-width: 30em;
  }
}
.userinfo-container .userinfo-inner .userinfo-section .userinfo-sectionheader {
  font-size: 120%;
  margin-bottom: 0.5em;
  color: #666;
  padding: 12px 12px 0 12px;
  font-variant: small-caps;
  letter-spacing: 0.15em;
}
.userinfo-container .userinfo-inner .userinfo-section ul.qualificationList .inner {
  grid-template-columns: 1fr 1fr;
}
.userinfo-container .userinfo-inner .userinfo-section .userinfo-item {
  flex: 1 1 auto;
}
.userinfo-container .userinfo-inner .userinfo-section .userinfo-item span.userinfo-item-label,
.userinfo-container .userinfo-inner .userinfo-section .userinfo-item label.userinfo-item-label {
  width: 100%;
  float: left;
  display: block;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .userinfo-container .userinfo-inner .userinfo-section .userinfo-item span.userinfo-item-label,
  .userinfo-container .userinfo-inner .userinfo-section .userinfo-item label.userinfo-item-label {
    width: auto;
  }
}
.userinfo-container .userinfo-inner .userinfo-section .userinfo-item span.userinfo-item-label.userinfo-attribute-name,
.userinfo-container .userinfo-inner .userinfo-section .userinfo-item label.userinfo-item-label.userinfo-attribute-name {
  width: 100%;
  margin-right: 2em;
  margin-bottom: 0;
  color: #555;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .userinfo-container .userinfo-inner .userinfo-section .userinfo-item span.userinfo-item-label.userinfo-attribute-name,
  .userinfo-container .userinfo-inner .userinfo-section .userinfo-item label.userinfo-item-label.userinfo-attribute-name {
    width: 8em;
  }
}
#loglist-container {
  position: relative;
  font-size: 90%;
}
#loglist-top-container {
  background-color: #fAfAfA;
  border-bottom: 1px solid #666;
}
#loglist-top {
  border-top: 1px solid #AAA;
  width: 100%;
}
#loglist-top li {
  background-color: #fAfAfA;
}
ul.loglist {
  margin-top: 0;
  margin-bottom: 0;
  position: static;
}
ul.loglist.list-view {
  font-size: 110%;
}
ul.loglist.list-view li .memberid,
ul.loglist.list-view li .username {
  display: none !important;
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  ul.loglist.list-view li .memberid {
    display: block !important;
  }
}
@media only screen and (min-width: 75em) {
  ul.loglist.list-view li .memberid,
  ul.loglist.list-view li .username {
    display: block !important;
  }
}
ul.loglist.list-view li .inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: auto;
}
@media only screen and (min-width: 75em) {
  ul.loglist.list-view li .inner {
    grid-template-columns: 1fr 1fr 1fr 2fr;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  ul.loglist.list-view li .inner {
    grid-template-columns: 1fr 1fr 1fr 2fr;
  }
}
ul.loglist.list-view li .inner .item-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
ul.loglist.list-view li .inner .item-container .item-container-element {
  flex: 1 1 auto;
  display: block;
}
ul.loglist.list-view li .inner .userlist-img {
  margin-right: 1em;
  max-width: 3em;
}
ul.loglist.list-view li .inner .userlist-img img {
  width: 100%;
  border-radius: 50%;
}
ul.loglist.list-view li .inner:not(.noSelect):hover {
  background-color: rgba(124, 0, 26, 0.2);
  cursor: pointer;
}
ul.loglist.list-view li .inner.borderBottom {
  border-bottom: 1px solid #AAA;
}
ul.loglist.list-view li .inner .userDelete svg {
  width: 1em;
}
ul.loglist.gallery-view li {
  display: block;
}
ul.loglist.gallery-view li:not(.noSelect):hover {
  background-color: rgba(124, 0, 26, 0.2);
  cursor: pointer;
}
ul.loglist.gallery-view li.borderBottom {
  border-bottom: 1px solid #AAA;
}
ul.loglist.gallery-view li .userDelete svg {
  width: 1em;
}
.ui-widget {
  font-family: "Open Sans", sans-serif;
}
.ui-tabs-vertical {
  border: none !important;
  border-top: 1px solid #999 !important;
  padding: 0 !important;
  display: flex;
  flex-flow: column nowrap;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .ui-tabs-vertical {
    flex-flow: row nowrap;
  }
}
.ui-tabs-vertical ul.ui-tabs-nav {
  padding: 0;
  float: left;
  flex: 0 0 13em;
  background-color: transparent;
  border: none;
  display: flex;
  flex-flow: row nowrap;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .ui-tabs-vertical ul.ui-tabs-nav {
    flex-flow: column nowrap;
  }
}
.ui-tabs-vertical ul.ui-tabs-nav li {
  clear: left;
  flex: 1 1 auto;
  border: none !important;
  height: 10em;
  color: #999;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .ui-tabs-vertical ul.ui-tabs-nav li {
    flex: 0 0 10em;
  }
}
.ui-tabs-vertical ul.ui-tabs-nav li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(125, 0, 24, 0.74);
  -webkit-transition: height 350ms ease;
  -moz-transition: height 350ms ease;
  -o-transition: height 350ms ease;
  transition: height 350ms ease;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .ui-tabs-vertical ul.ui-tabs-nav li:before {
    width: 0;
    height: 100%;
    -webkit-transition: width 350ms ease;
    -moz-transition: width 350ms ease;
    -o-transition: width 350ms ease;
    transition: width 350ms ease;
  }
}
.ui-tabs-vertical ul.ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: 0.1em;
  background-color: transparent;
  color: #555;
  position: relative;
}
.ui-tabs-vertical ul.ui-tabs-nav li.ui-tabs-active:before {
  height: 0.5em;
  width: 100%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .ui-tabs-vertical ul.ui-tabs-nav li.ui-tabs-active:before {
    height: 100%;
    width: 0.5em;
  }
}
.ui-tabs-vertical ul.ui-tabs-nav li a {
  color: inherit;
  display: block;
  letter-spacing: 0.1em;
  width: calc(100% - 4em);
  height: calc(100% - 2em);
  padding: 1em 2em !important;
  position: relative;
}
.ui-tabs-vertical ul.ui-tabs-nav li a span {
  word-break: break-word;
  white-space: normal;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ui-tabs-vertical .ui-tabs-panel {
  padding: 1em 1em 1em 3em;
  float: left;
  flex: 1 1 auto;
}
/*# sourceMappingURL=lssc_loader_userprofile.css.map */