.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.nav {
  z-index: 5;
  font-size: 200%;
  font-family: "Open Sans", Sans, sans-serif;
  color: #f5f5f5;
}
.nav .nav-static {
  color: #00293c;
  width: calc(100% - 100px);
  height: 50px;
  margin: 0 0 0 100px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  font-size: 100%;
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .nav .nav-static {
    position: fixed;
  }
}
.nav .nav-static .nav-element {
  font-size: 50%;
  flex: 1 1 auto;
}
.nav .nav-static .nav-element .nav-element-inner {
  margin: .5em;
  height: calc(100% - 1em);
}
.nav .nav-static .nav-element .nav-element-inner .nav-item {
  display: flex;
  height: 100%;
  float: left;
  position: relative;
}
.nav .nav-static .nav-element .nav-element-inner .nav-item span,
.nav .nav-static .nav-element .nav-element-inner .nav-item a,
.nav .nav-static .nav-element .nav-element-inner .nav-item svg {
  align-self: flex-end;
  display: inline-block;
  margin-right: .5em;
}
.nav .nav-static .nav-element .nav-element-inner .nav-item svg {
  height: 1em;
}
.nav .nav-static .nav-image {
  flex: 0 0 30%;
  height: 100%;
}
.nav .nav-static .nav-image a {
  width: 100%;
  height: 100%;
  display: block;
}
.nav .nav-static .nav-image a:hover {
  cursor: pointer;
}
.nav .nav-static .nav-image img {
  float: left;
  height: 100%;
}
.nav .nav-static .label {
  width: 0;
  height: 100%;
  font-size: 75%;
}
.nav .nav-static .label span {
  float: left;
  margin: 0;
}
.nav .nav-static .label span.acc1 {
  color: #444;
}
.nav .nav-static .label span.acc2 {
  color: #00293c;
}
.nav .nav-static .label span.acc3 {
  color: #444;
}
.nav .nav-static .right {
  flex: 1 1 auto;
}
.nav .nav-static .menu-button {
  width: 70px;
  height: 100%;
  color: inherit;
  position: absolute;
  right: 10px;
}
.nav .nav-docker {
  height: 100%;
  width: 100px;
  border-right: 1px solid #00293c;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 6;
  background-color: #fff;
  color: #00293c;
}
.nav .nav-docker .docker-wrapper .docker-inner {
  margin: 0;
}
.nav .nav-docker .docker-wrapper .docker-inner .docker-element {
  cursor: pointer;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}
.nav .nav-docker .docker-wrapper .docker-inner .docker-element a {
  padding: 33% 33%;
  width: 33%;
  display: block;
}
.nav .nav-docker .docker-wrapper .docker-inner .docker-element:hover {
  background-color: #f5f5f5;
}
.nav .nav-docker .docker-wrapper .docker-inner .docker-element#docker-home {
  box-shadow: 0 0 4px grey;
  margin-bottom: 4px;
}
.nav .nav-docker .docker-wrapper .docker-inner .docker-element#docker-home a {
  padding: 25% 25%;
  width: 50%;
}
.nav .nav-docker .docker-wrapper .docker-inner .docker-element#docker-home img {
  width: 100%;
}
.nav .nav-docker .docker-wrapper .docker-inner .docker-element svg {
  color: #00293c;
  width: 100%;
}
/* color specific options */
/* no js fallbacks */
.no-js #no-js-header {
  display: block !important;
}
.no-js #nav-static {
  display: none;
}
/*# sourceMappingURL=menu.css.map */