.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* subpage */
.subpage-container {
  width: 100%;
}
.subpage-container .subpage-heading {
  padding: 3em 1em 1em 0;
}
.subpage-container .subpage-heading h3 {
  font-weight: lighter;
  font-size: 100%;
  color: #333;
}
@media only screen and (min-width: 75em) {
  .subpage-container .subpage-heading h3 {
    font-size: 160%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .subpage-container .subpage-heading h3 {
    font-size: 120%;
  }
}
.subpage-container .subpage-heading .sec-heading-label {
  font-size: 200%;
  color: #333;
}
.subpage-container .subpage-topbar {
  padding: 1em 0;
  margin: 0 1em;
  width: 100%;
  font-size: 80%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .subpage-container .subpage-topbar {
    flex-flow: row nowrap;
    font-size: 100%;
  }
}
.subpage-container .subpage-topbar .topbar-heading {
  flex: 0 0 100%;
  margin: 0 2em 0 0;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .subpage-container .subpage-topbar .topbar-heading {
    flex: 0 0 auto;
  }
}
.subpage-container .subpage-topbar .topbar-heading span,
.subpage-container .subpage-topbar .topbar-heading h1,
.subpage-container .subpage-topbar .topbar-heading h2,
.subpage-container .subpage-topbar .topbar-heading h3 {
  font-size: 150%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.subpage-container .subpage-topbar .topbar-element {
  flex: 0 1 auto;
  float: left;
  margin-right: 1em;
}
.subpage-container .subpage-menu .subpage-menu-btn {
  display: block;
}
.subpage-searchbar .searchbar label {
  float: left;
  margin-right: 1em;
}
.subpage-searchbar .searchbar input.nomargin {
  margin: 0;
}
.itemlist-header-container {
  width: 100%;
  border-bottom: 1px solid #666;
}
.itemlist-content-container ul.itemlist {
  width: 100%;
}
ul.itemlist {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  flex-flow: column wrap;
  font-weight: lighter;
}
ul.itemlist.border li .inner .item-property {
  border-right: 1px solid #AAA;
}
ul.itemlist.row-items-3 li .inner {
  grid-template-columns: 1fr 1fr 1fr;
}
ul.itemlist li {
  flex: 1 1 auto;
  background-color: #ffffff;
}
ul.itemlist li:nth-child(odd) {
  background-color: #f9f9f9;
}
ul.itemlist li.borderBottom {
  border-bottom: 1px solid #666;
}
ul.itemlist li .itemDelete svg {
  width: 1em;
}
ul.itemlist li .inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
ul.itemlist li .inner .item-property {
  padding: 0.5em 0;
  position: relative;
  margin-left: 10px;
  flex: 0 0 240px;
}
ul.itemlist li .inner .item-property.after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
}
ul.itemlist li .inner .item-property:hover > ul.itemlist li .inner .item-property.after {
  border-bottom-color: rgba(124, 0, 26, 0.2);
}
ul.itemlist:not(.itemlist-noSelect) li:not(.noSelect):hover {
  background-color: rgba(124, 0, 26, 0.2);
  cursor: pointer;
}
ul.itemlist:not(.noHover) li:not(.noSelect):hover {
  background-color: rgba(124, 0, 26, 0.2);
}
ul.itemlist.itemlist-style-clean li {
  background-color: transparent;
}
ul.itemlist.itemlist-style-clean li .inner {
  padding-left: 0;
  padding-right: 0;
}
ul.itemlist.itemlist-noSelect li:hover {
  cursor: default;
}
ul.itemlist.itemlist-noSelect li:hover span {
  cursor: text;
}
.gallery-container {
  padding: 0;
  list-style: none;
  width: 90%;
  margin: 0 auto;
  font-size: 100%;
  position: relative;
}
.gallery-container .gallery-add-item {
  position: relative;
  left: 0;
  bottom: 0;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .gallery-container {
    width: 90%;
  }
}
.gallery-container ul.gallery-view {
  padding: 0;
  list-style: none;
  margin: 0 0 2em 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  width: 100%;
}
@media only screen and (min-width: 35em) and (max-width: 50em) {
  .gallery-container ul.gallery-view {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .gallery-container ul.gallery-view {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 75em) {
  .gallery-container ul.gallery-view {
    grid-template-columns: repeat(3, 1fr);
  }
}
.gallery-container ul.gallery-view li.gallery-item {
  width: 100%;
  margin: 0.5em 0;
  max-width: 500px;
  min-width: 200px;
  display: block;
}
.gallery-container ul.gallery-view li.gallery-item:hover .inner .image img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  filter: brightness(80%);
}
.gallery-container ul.gallery-view li.gallery-item .inner {
  text-align: left;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column wrap;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
}
.gallery-container ul.gallery-view li.gallery-item .inner .date {
  font-size: 90%;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  flex: none;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image .thumbnail-credit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  padding: 0.5em 0.5em;
  background-color: #00293c;
  color: #fff;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: lighter;
  font-size: 60%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image .image-overlay .gallery-heading {
  width: 80%;
  margin: 1em auto;
  font-weight: lighter;
  font-size: 150%;
  color: #00293c;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  padding: 0.5em 1em;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image .image-overlay .gallery-heading .gallery-heading-inner {
  font-weight: normal;
  font-size: 60%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .image img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  filter: brightness(100%);
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-heading {
  width: 80%;
  margin: 1em auto 0 auto;
  font-weight: lighter;
  font-size: 130%;
  color: #00293c;
  display: block;
  padding: 0.5em 1em;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-heading .gallery-heading-inner {
  font-size: 80%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-text {
  width: 80%;
  margin: 0.5em auto 0 auto;
  font-size: 100%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-abstract {
  width: 80%;
  margin: 1em auto;
  font-weight: normal;
  font-size: 100%;
}
.gallery-container ul.gallery-view li.gallery-item .inner .gallery-link {
  border-top: 1px solid #fff;
  margin-top: auto;
  font-size: 70%;
  position: absolute;
  bottom: 0;
  right: 1em;
}
.gallery-container ul.gallery-view li.gallery-item .gallery-item-actions {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.gallery-container ul.gallery-view li.gallery-item .gallery-item-actions .action-button {
  flex: 1 1 auto;
}
.gallery-container ul.gallery-view li.gallery-add-item svg {
  height: 4em;
  width: 4em;
  color: #c31d34;
}
/*# sourceMappingURL=page-elements.css.map */