@import "color-rules.less";

.userinfo-container {

  width: 100%;


  .userinfo-inner {

    .userinfo-section {

      display: flex;
      flex-flow: column wrap;
      max-width: 500px;

      margin-bottom: 2em;

      .userinfo-sectionheader {
        font-size: 120%;
        margin-bottom: 1em;
        color: #333;
      }


      .userimg {
        width: 50%;
        position: relative;

        cursor: pointer;

        .userimg-overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;

          font-size: 80%;

          background-color: rgba(60,60,60,0.8);
          color: #FFF;

          .transition(opacity, 300ms);

          .userimg-inner {

            position: absolute;
            top: 50%;
            left: 50%;

            width: 50%;
            max-width: 8em;

            transform: translate(-50%, -50%);

            text-align: center;

            svg {
              display: block;
              width: 2em;
              margin: 0 auto 1em auto;
            }

            span {

              display: inline-block;


            }
          }

          &:hover {
            opacity: 1;
          }



        }


        img {
          display: block;
          width: 100%;

        }
      }

      .userinfo-item {

        flex: 1 1 auto;

        span {
          width: 50%;
          float: left;
          display: block;
          &:first-child {
            width: calc(~"50% - 2em");
            margin-right: 2em;
          }
        }
      }
    }
  }
}