<aside class="mdc-drawer mdc-drawer--modal drawer-mobile">
    <div class="mdc-drawer__header">
        <div class="drawer-userimg">
            <div class="userimg-inner">
                <div class="img-container">
                    <img src="/data/uploads/user_images/{{user.id}}/{{user.id}}.jpg"/>
                </div>
            </div>
        </div>
        <h3 class="mdc-drawer__title">{{user.name}}</h3>
        <h6 class="mdc-drawer__subtitle">{{user.contactDefault.value}}</h6>
    </div>
    <hr class="mdc-list-divider">
    <div id="docker-test" class="mdc-drawer__content">
        <nav class="mdc-list">
            <div id="docker-content2" class="docker-content docker-mobile">
                <div id="docker-mainPage" class="docker-mainPage">
                    <div class="docker-elementContainer collapsing" id="dashboardContainer">
                        <div class="docker-element docker-mainElement" id="dashboardMain">
                            <a href="">
                                <svg class="feather feather-home" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                </svg>
                                <span class="docker-element-label">Dashboard</span>
                                <div class="clear"></div>
                            </a>
                        </div>
                        <div class="docker-subElementContainer">
                            <div class="docker-element docker-subElement" id="dashboard">
                                <a href="/unisams/dashboard">
                                    <svg class="feather feather-home" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                    </svg>
                                    <span class="docker-element-label">Dashboard</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="docker-element docker-subElement" id="dashboardEvents">
                                <a href="/unisams/dashboard/events">
                                    <svg class="feather feather-calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                        <line x1="16" y1="2" x2="16" y2="6"></line>
                                        <line x1="8" y1="2" x2="8" y2="6"></line>
                                        <line x1="3" y1="10" x2="21" y2="10"></line>
                                    </svg>
                                    <span class="docker-element-label">Meine Events</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="docker-element docker-subElement" id="dashboardNotifications">
                                <a href="/unisams/dashboard/notifications">
                                    <svg class="feather feather-send" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round">
                                        <line x1="22" y1="2" x2="11" y2="13"></line>
                                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                    </svg>
                                    <span class="docker-element-label">Benachrichtigungen</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="docker-elementContainer collapsing" id="userContainer">
                        <div class="docker-element docker-mainElement" id="usermanagement">
                            <a href="/unisams/user">
                                <svg class="feather feather-users" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="9" cy="7" r="4"></circle>
                                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                </svg>
                                <span class="docker-element-label">Mitglieder</span>
                                <div class="clear"></div>
                            </a>
                        </div>
                        <div class="docker-subElementContainer">
                            <div class="docker-element docker-subElement" id="userlist">
                                <a href="/unisams/user">
                                    <svg class="feather feather-database" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round">
                                        <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                                        <path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path>
                                        <path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path>
                                    </svg>
                                    <span class="docker-element-label">Mitglieder anzeigen</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="docker-element docker-subElement" id="useradd">
                                <a href="/unisams/user/addUser">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                    <span class="docker-element-label">Neu anlegen</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="docker-elementContainer collapsing" id="eventContainer">
                        <div class="docker-element docker-mainElement" id="events">
                            <a href="/unisams/events">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                <span class="docker-element-label">Events</span>
                                <div class="clear"></div>
                            </a>
                        </div>
                        <div class="docker-subElementContainer">
                            {{#if docker.events.read}}
                                <div class="docker-element docker-subElement" id="eventlist">
                                    <a href="/unisams/events/upcoming">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                        <span class="docker-element-label">Bevorstehende Events</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="docker-element docker-subElement" id="eventlist">
                                    <a href="/unisams/events/past">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-archive"><polyline points="21 8 21 21 3 21 3 8"></polyline><rect x="1" y="3" width="22" height="5"></rect><line x1="10" y1="12" x2="14" y2="12"></line></svg>
                                        <span class="docker-element-label">Vergangene Events</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                                <div class="docker-element docker-subElement" id="eventlist">
                                    <a href="/unisams/events">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
                                        <span class="docker-element-label">Alle Events</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                            {{/if}}
                            {{#if docker.events.create}}
                                <div class="docker-element docker-subElement" id="eventadd">
                                    <a href="/unisams/events/addEvent">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                        <span class="docker-element-label">Event anlegen</span>
                                        <div class="clear"></div>
                                    </a>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="docker-elementContainer collapsing" id="settingsContainer">
                        <div class="docker-element docker-mainElement" id="settings">
                            <a href="/unisams/settings">
                                <svg class="feather feather-settings" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="3"></circle>
                                    <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                                </svg>
                                <span class="docker-element-label">Einstellungen</span>
                                <div class="clear"></div>
                            </a>
                        </div>
                        <div class="docker-subElementContainer">
                            <div class="docker-element docker-subElement" id="settingsDatabase"><a
                                    href="/unisams/settings/database">
                                <svg class="feather feather-database" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                                    <path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path>
                                    <path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path>
                                </svg>
                                <span class="docker-element-label">Datenbasis verwalten</span>
                                <div class="clear"></div>
                            </a></div>
                            <div class="docker-element docker-subElement" id="settingsUser">
                                <a href="/unisams/settings/user">
                                    <svg class="feather feather-users" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="9" cy="7" r="4"></circle>
                                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                    </svg>
                                    <span class="docker-element-label">Mitglieder</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="docker-element docker-subElement" id="settingsEvents">
                                <a href="/unisams/settings/events">
                                    <svg class="feather feather-calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                        <line x1="16" y1="2" x2="16" y2="6"></line>
                                        <line x1="8" y1="2" x2="8" y2="6"></line>
                                        <line x1="3" y1="10" x2="21" y2="10"></line>
                                    </svg>
                                    <span class="docker-element-label">Events</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="docker-element docker-subElement" id="settingsLogs">
                                <a href="/unisams/settings/logs">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                    <span class="docker-element-label">Logs</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="docker-element"></div>
                </div>
                <div id="docker-subPage-container" class="docker-subPage-container">

                </div>
            </div>
            <div class="drawer-logout">
                <a class="content-link slim" href="/unisams/logout">Logout
                </a>
            </div>
        </nav>
    </div>
</aside>
<div class="mdc-drawer-scrim"></div>