.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.courses-section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.course {
  flex: 0 0 100%;
  position: relative;
  margin: 1em 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (min-width: 75em), only screen and (min-width: 70em) and (max-width: 75em) {
  .course {
    flex: 0 0 30em;
    margin: 2em 1em;
  }
}
.course .course-inner {
  display: flex;
  flex-flow: row wrap;
}
.course .course-top {
  position: relative;
  flex: 0 0 100%;
}
.course .course-img {
  width: 100%;
}
.course .course-img img {
  width: 100%;
}
.course .course-title {
  position: absolute;
  bottom: 1em;
  left: 10%;
  width: 90%;
  color: white;
  font-size: 120%;
}
.course .course-title h4 {
  font-variant: small-caps;
  display: inline-block;
  margin: 0;
  padding: .1em;
  background-color: #213e54;
  box-decoration-break: clone;
  box-shadow: 10px 0 0 #213e54, -10px 0 0 #213e54;
  /*line end padding hack*/
}
.course .course-body {
  flex: 0 0 90%;
  margin: 1em 5%;
  font-size: 90%;
}
.course .course-body span {
  display: block;
  margin-bottom: .5em;
}
.course .course-tags {
  flex: 0 0 100%;
  margin-bottom: 1.5em;
}
.course .course-tags span {
  position: relative;
  display: block;
  padding: .25em 0;
  width: 27.3%;
  padding-left: 5%;
  float: left;
  border-bottom: 1px solid #213e54;
  font-size: 90%;
  font-variant: small-caps;
}
.course .course-tags span::before {
  display: block;
  width: 1em;
  height: 1em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  margin-right: auto;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .course .course-tags span::before {
    float: left;
    margin-right: 1em;
    margin-bottom: -0.25em;
  }
}
.course .course-tags span::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  height: .5em;
  width: 1px;
  display: block;
  background-color: #213e54;
}
.course .course-tags .part::before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>');
}
.course .course-tags .time::before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>');
}
.course .course-tags .lang::before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>');
}
.contact-box .contact-container {
  font-size: 80%;
}
.contact-container:first-child {
  padding-top: 2em;
}
.contact-container .contact-person {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #AAA;
}
.contact-container .contact-person .person-part {
  flex: 0 0 100%;
  float: left;
  position: relative;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .contact-container .contact-person .person-part {
    flex: 0 0 50%;
  }
}
.contact-container .contact-person .person-image {
  max-width: 250px;
}
.contact-container .contact-person .person-image img {
  width: 100%;
  display: block;
}
.contact-container .contact-person .person-details {
  display: flex;
  flex-flow: column wrap;
}
.contact-container .contact-person .person-details > .spacer {
  flex: 1 0 auto;
}
.contact-container .contact-person .person-details > .wrapper {
  flex: 0 0 auto;
  position: relative;
  bottom: 0;
}
.contact-container .contact-person .person-details span.details {
  font-size: 90%;
}
.contact-container .contact-person .person-details span.details.name {
  font-weight: bold;
}
.contact-container .contact-person .person-details span.details.mail > a {
  font-size: 80%;
  font-weight: bold;
}
.contact-container span {
  display: block;
  margin: 1em;
}
/*# sourceMappingURL=lssc_loader_kurse.css.map */