@import 'fonts.css';
@import 'dev.css';
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.nav {
  z-index: 5;
  font-size: 200%;
  font-family: "Open Sans", Sans, sans-serif;
  color: #f5f5f5;
}
.nav .nav-static {
  display: block;
  width: 100%;
  height: 75px;
  background-color: #00293c;
  border-bottom: 3px solid #c31d34;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: top 500ms ease;
  -moz-transition: top 500ms ease;
  -o-transition: top 500ms ease;
  transition: top 500ms ease;
}
.nav .nav-static.nav-collapsing {
  top: -75px;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .nav .nav-static.nav-collapsing {
    top: 0;
  }
}
.nav .nav-static.nav-collapsing.nav-active {
  top: 0 !important;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .nav .nav-static {
    position: fixed;
  }
}
.nav .nav-static > div {
  width: auto;
  float: left;
}
.nav .nav-static .nav-image {
  width: 30%;
  height: 100%;
}
.nav .nav-static .nav-image a {
  width: 100%;
  height: 100%;
  display: block;
}
.nav .nav-static .nav-image a:hover {
  cursor: pointer;
}
.nav .nav-static .nav-image img {
  float: left;
  height: 100%;
}
.nav .nav-static .label {
  width: 0;
  height: 100%;
}
.nav .nav-static .label label {
  float: left;
}
@media only screen and (min-width: 75em) {
  .nav .nav-static .right {
    width: 0;
    font-size: 70%;
    height: 100%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape), only screen and (max-width: 50em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .nav .nav-static .right {
    width: 0;
    height: 100%;
  }
}
.nav .nav-static .menu-button {
  width: 70px;
  height: 100%;
  color: inherit;
  position: absolute;
  right: 10px;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .nav .nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait), only screen and (max-width: 50em) {
  .nav .nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
}
.nav #menu {
  position: fixed;
  width: 0;
  right: 0;
  top: 75px;
  margin-top: 3px;
  overflow: auto;
  z-index: 5;
  background-color: #00293c;
  font-size: 100%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .nav #menu {
    font-size: 90%;
  }
}
.nav #menu #no-js-header {
  display: none;
  width: 100%;
}
.nav #menu #no-js-header img {
  width: 100%;
}
@media only screen and (min-width: 75em) {
  .nav #menu .menu-entries {
    font-size: 80%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .nav #menu .menu-entries {
    font-size: 70%;
  }
}
@media only screen and (max-width: 50em) {
  .nav #menu .menu-entries {
    font-size: 80%;
  }
}
@media only screen and (min-width: 25em) and (max-width: 35em) {
  .nav #menu .menu-entries {
    font-size: 75%;
  }
}
@media only screen and (min-width: 75em) {
  .nav #menu .menu-entries #menu-entry-fb {
    display: none;
  }
}
.nav #menu .menu-entries #menu-entry-fb:hover {
  color: #4267b2;
}
@media only screen and (max-width: 25em) {
  .nav #menu .menu-entries .menu-entry-collapsing {
    min-width: auto;
    flex: 1 25%;
  }
}
@media only screen and (max-width: 25em) {
  .nav #menu .menu-entries .menu-entry-collapsing span {
    display: none;
  }
}
.nav #menu .menu-entries .icons-hidden ul li svg {
  display: none;
}
.nav #menu .menu-entries div {
  width: auto;
  text-align: center;
}
.nav #menu .menu-entries ul {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 10px 0;
  list-style: none;
  margin: 0;
}
.nav #menu .menu-entries ul li {
  flex: 1 40%;
  /*width: 80%;*/
  min-width: 10em;
  font-size: 80%;
  display: block;
  text-align: center;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}
@media only screen and (min-width: 75em) {
  .nav #menu .menu-entries ul li {
    flex: 1 80%;
    font-size: 100%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape), only screen and (min-height: 35em) and (max-height: 45em) and (min-width: 75em) {
  .nav #menu .menu-entries ul li {
    font-size: 100%;
    flex: 1 40%;
  }
}
@media only screen and (max-height: 35em) and (min-width: 75em) {
  .nav #menu .menu-entries ul li {
    font-size: 80%;
    flex: 1 40%;
  }
}
@media only screen and (min-width: 25em) and (max-width: 35em) {
  .nav #menu .menu-entries ul li {
    min-width: 40%;
  }
}
@media only screen and (max-width: 25em) {
  .nav #menu .menu-entries ul li {
    flex: 1 80%;
  }
}
.nav #menu .menu-entries ul li a {
  padding: 1em 0.8em;
  display: block;
}
.nav #menu .menu-entries ul li a:hover {
  cursor: pointer;
  color: #c31d34;
  outline: 1px solid #2e2e5f;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}
.nav #menu .menu-entries ul li span {
  display: inline;
  text-align: center;
  padding: auto;
}
.nav #menu .menu-entries svg {
  width: 1em;
}
.nav #menu .menu-icons {
  padding: 10px 20%;
  width: 60%;
}
.nav #menu .menu-icons a {
  display: block;
}
.nav #menu .menu-icons svg {
  width: 60%;
  max-width: 5em;
}
.nav #menu #fb-banner-menu {
  position: absolute;
  bottom: 0;
}
@media only screen and (max-width: 50em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .nav #menu #fb-banner-menu {
    display: none;
  }
}
.nav #menu #fb-banner-menu:hover {
  cursor: pointer;
}
.nav #menu #fb-banner-menu:hover .cls-1 {
  fill: #4267b2;
}
.nav #menu #fb-banner-menu .cls-1 {
  fill: #fff;
  -webkit-transition: fill 300ms ease;
  -moz-transition: fill 300ms ease;
  -o-transition: fill 300ms ease;
  transition: fill 300ms ease;
}
@media only screen and (max-width: 50em) {
  .nav #menu.menu-active {
    width: 100% !important;
  }
}
@media only screen and (min-width: 75em) {
  .nav #menu.menu-active {
    width: 25% !important;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .nav #menu.menu-active {
    width: 50% !important;
  }
}
@media only screen and (max-height: 35em) and (min-width: 75em), only screen and (min-height: 35em) and (max-height: 45em) and (min-width: 75em) {
  .nav #menu.menu-active {
    width: 50% !important;
  }
}
@media only screen and (min-height: 45em) and (max-height: 70em) and (min-width: 75em) {
  .nav #menu.menu-active {
    width: 25% !important;
  }
}
.nav #menu.menu-transition {
  -webkit-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -moz-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -o-transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: all 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
/**
class for big nav bar
 */
/* color specific options */
.drop-down-menu li:hover {
  /*color: #002557;*/
  color: #c31d34;
  cursor: pointer;
}
.drop-down-menu li:hover span {
  /*border-bottom: 1px solid #ff9900;*/
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}
/* no js fallbacks */
.no-js #no-js-header {
  display: block !important;
}
.no-js #nav-static {
  display: none;
}
.no-js #menu {
  position: relative !important;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #00293c;
  color: #f5f5f5;
}
@media only screen and (min-width: 75em) {
  .no-js #menu {
    font-size: 60%;
  }
}
.no-js #menu .menu-entries {
  border-bottom: 3px solid #c31d34;
}
.no-js #menu .menu-entries ul {
  padding: 0;
}
@media only screen and (min-width: 75em) {
  .no-js #menu .menu-entries ul li {
    position: relative;
    flex: 0 0 10% !important;
    margin: auto 0 0 0;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 10px 0;
  }
}
.no-js #menu .menu-entries ul li:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #c31d34;
  -webkit-transition: height 500ms ease;
  -moz-transition: height 500ms ease;
  -o-transition: height 500ms ease;
  transition: height 500ms ease;
}
@media only screen and (max-width: 50em) {
  .no-js #menu .menu-entries ul li:before {
    display: none;
  }
}
.no-js #menu .menu-entries ul li:hover:before {
  height: 6px;
}
@media only screen and (min-width: 75em) {
  .no-js #menu .menu-entries ul li a:hover {
    outline: none !important;
    color: inherit !important;
  }
}
.no-js #menu .menu-entries ul li.no-js-item {
  display: block !important;
}
.no-js #menu .menu-entries ul li.no-js-item#no-js-header {
  flex: 0 0 40% !important;
  max-width: 20em;
  padding: 0;
}
@media only screen and (max-width: 50em) {
  .no-js #menu .menu-entries ul li.no-js-item#no-js-header {
    flex: 0 0 100% !important;
    max-width: unset;
  }
}
.no-js #menu .menu-entries ul li.no-js-item#no-js-header a {
  padding-top: 0;
  padding-bottom: 0;
}
.no-js #menu .menu-entries ul li.no-js-item#no-js-header a img {
  display: block;
  margin: auto 0 0 0;
}
.no-js #menu .menu-entries ul li#menu-entry-fb {
  display: block !important;
}
.no-js #menu #fb-banner-menu {
  display: none !important;
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100%;
  background-color: #00293c;
  font-family: "Open Sans", sans-serif;
}
section {
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}
#top {
  position: absolute;
  top: 0;
  left: 0;
}
#wrapper {
  position: relative;
  font-size: 130%;
  width: 100vw;
  margin: 75px 0 0 0;
  color: #333;
}
.content-wrapper {
  width: 100%;
}
.clear {
  float: none !important;
  width: 0 !important;
  clear: both;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button {
  outline: none;
}
.force-right {
  float: right !important;
}
.floating-button {
  font-size: 100%;
  position: fixed;
  opacity: 0.8;
  -webkit-transition: transform 200ms ease;
  -moz-transition: transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;
}
.floating-button a {
  color: white;
  background-color: #c31d34;
  display: inline-block;
  font-size: 100%;
  vertical-align: bottom;
  padding: 0.6em 0.5em;
  text-decoration: none;
  border-radius: 10%;
  line-height: 0;
}
.floating-button a svg {
  color: white;
  background-color: #c31d34;
  width: 1em;
}
@media only screen and (min-width: 75em) {
  .floating-button a svg {
    width: 2em;
  }
}
.floating-button span {
  padding: 0.25em 0;
  display: block;
  float: right;
}
.btn-fixed {
  position: absolute;
  top: 4.8em !important;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .btn-fixed {
    top: 1.8em !important;
  }
}
.floating-image {
  width: 30%;
  position: absolute;
  right: 0;
}
.floating-image-test {
  overflow: hidden;
  width: 30%;
}
.floating-image-test img {
  width: 100%;
}
.btn-jmptop {
  bottom: -7em;
  right: 1em;
  font-size: 120%;
  z-index: 2;
}
@media only screen and (min-width: 75em) {
  .btn-jmptop {
    right: 3em;
    bottom: -5em;
    font-size: 150%;
  }
}
.bullet-list {
  text-decoration: none;
}
.header-image {
  width: 100%;
  position: relative;
  max-height: 25em;
  overflow: hidden;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .header-image .img-mobile {
    display: none;
  }
}
.header-image .img-desktop {
  display: none;
  min-width: 80em;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .header-image .img-desktop {
    display: inline;
  }
}
.header-image img {
  width: 100%;
  margin-top: 0;
}
@media only screen and (min-width: 75em) {
  .header-image img {
    margin-left: 0;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .header-image img {
    margin-left: -5em;
  }
}
.header-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  margin: 0 10% 0 10%;
  color: #fff;
  height: 100%;
}
.header-image-overlay .overlay-title {
  width: 70%;
  font-size: 140%;
  position: absolute;
  bottom: 10%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .header-image-overlay .overlay-title {
    position: relative;
    margin: 1vw 0;
    padding: 1em 0;
    bottom: auto;
  }
}
@media only screen and (min-width: 75em) {
  .header-image-overlay .overlay-title {
    font-size: 200%;
    width: 30%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .header-image-overlay .overlay-title {
    width: 50%;
    font-size: 150%;
  }
}
.header-image-overlay .overlay-title span {
  padding: 7px;
  background-color: #00293c;
  box-decoration-break: clone;
  box-shadow: 10px 0 0 #00293c, -10px 0 0 #00293c;
  /*line end padding hack*/
}
.header-image-overlay .overlay-content {
  font-weight: lighter;
  display: none;
  position: absolute;
  bottom: 1em;
  font-size: 120%;
  margin-bottom: 3em;
  width: 50%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .header-image-overlay .overlay-content {
    display: block;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .header-image-overlay .overlay-content {
    width: 60%;
  }
}
.header-image-overlay .overlay-content span {
  padding: 7px;
  background-color: #213e54;
  box-decoration-break: clone;
  box-shadow: 10px 0 0 #213e54, -10px 0 0 #213e54;
  /*line end padding hack*/
  line-height: 1.5;
}
.header-image-overlay .overlay-links {
  font-size: 100%;
  display: none;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
}
@media only screen and (min-width: 75em) {
  .header-image-overlay .overlay-links {
    width: 100%;
  }
}
.header-image-overlay .overlay-links div {
  float: none;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .header-image-overlay .overlay-links div {
    float: left;
    margin: 0 2em 0 0;
  }
}
.header-image-overlay .overlay-links div a {
  text-decoration: none;
  display: inline-block;
  padding: 1em;
  border: 0.15em solid #ffffff;
  color: #ffffff;
  background-position: 100% 0;
  background-size: 200% 100%;
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: background-position 0.75s;
}
.header-image-overlay .overlay-links div a:hover {
  background-position: 0 0;
  cursor: pointer;
}
.header-image-overlay .overlay-links .link-prime {
  background-image: linear-gradient(to right, #c31d34 50%, transparent 50%);
}
.header-image-overlay .overlay-links .link-secondary {
  background-image: linear-gradient(to right, #00293c 50%, transparent 50%);
}
/*
content sections
 */
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .content-section .content-page {
    height: 80vh;
  }
}
.sec-content {
  width: 100%;
  padding: 10vh 0 10vh 0;
}
.sec-content.no-padding {
  padding: 0;
}
.sec-content .sec-heading {
  display: inline-block;
  font-size: 150%;
  margin: 0 0 2em 0;
}
.sec-content .sec-heading.absolute {
  position: absolute;
  top: 2em;
  left: 0;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .sec-content .sec-heading {
    font-size: 180%;
  }
}
.sec-content .sec-heading h1,
.sec-content .sec-heading h2,
.sec-content .sec-heading h3,
.sec-content .sec-heading h4,
.sec-content .sec-heading h5 {
  display: inline-block;
  font-size: 100%;
  font-weight: lighter;
  margin: 0;
  padding: 5px 1em;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .sec-content .sec-heading h1,
  .sec-content .sec-heading h2,
  .sec-content .sec-heading h3,
  .sec-content .sec-heading h4,
  .sec-content .sec-heading h5 {
    padding: 10px 2em;
  }
}
.sec-content .center {
  text-align: center;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .sec-content.full-height {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.sec-content.sec-flex,
.sec-content .sec-flex {
  display: flex;
  flex-flow: row wrap;
}
.sec-content.sec-flex .flex-part,
.sec-content .sec-flex .flex-part {
  flex: 1 0 50%;
}
.sec-content.sec-flex .flex-part.no-margin,
.sec-content .sec-flex .flex-part.no-margin {
  margin: 0;
}
.sec-content.sec-flex .flex-part.flex-bg-img,
.sec-content .sec-flex .flex-part.flex-bg-img {
  flex: 1 0 20%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .sec-content.sec-flex .flex-part.flex-bg-img,
  .sec-content .sec-flex .flex-part.flex-bg-img {
    flex: 1 0 35%;
  }
}
.sec-content.sec-flex .flex-part.flex-bg-img > div,
.sec-content .sec-flex .flex-part.flex-bg-img > div {
  width: 100%;
}
.sec-content-part {
  margin: 0 5% 0 5%;
  font-size: 110%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .sec-content-part {
    font-size: 120%;
  }
}
.sec-content-text {
  width: 90%;
  margin: 0 5% 0 5%;
}
@media only screen and (min-width: 75em) {
  .sec-content-text {
    width: 40%;
    margin: 0;
    padding: 0 5% 0 10%;
  }
}
.sec-content-text .content-link {
  font-size: 70%;
}
.sec-content-text .content-heading h1,
.sec-content-text .content-heading h2,
.sec-content-text .content-heading h3,
.sec-content-text .content-heading h4 {
  position: relative;
  display: inline-block;
  font-size: 130%;
  font-weight: normal;
  font-stretch: condensed;
  margin-bottom: 1em;
}
.sec-content-text .content-text {
  margin-top: 2em;
  font-size: 90%;
  font-weight: lighter;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .sec-content-text .content-text {
    margin-top: 4em;
  }
}
.sec-content-text .content-text span {
  display: block;
  margin-bottom: 1em;
}
.sec-content-text .content-text .content-text-part {
  display: block;
  margin-bottom: 2em;
}
.sec-content-text .content-text .quote {
  font-style: italic;
}
.sec-content-text .content-text .subheading {
  font-size: 110%;
}
.sec-content-text .content-text h3,
.sec-content-text .content-text h4 {
  font-size: 100%;
  margin-top: 2em;
  font-weight: normal;
}
.sec-content-text h3 {
  font-size: 100%;
  margin-top: 2em;
  font-weight: normal;
}
.sec-content-img {
  margin: 2em 10% 1em 10%;
  width: 80%;
}
@media only screen and (min-width: 75em) {
  .sec-content-img {
    width: 40%;
    margin: 0 0 0 5%;
  }
}
.sec-content-img img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sec-content-img.img-fullheight img {
  width: auto;
  height: 100%;
}
.sec-content-img {
  margin: 2em 10% 1em 10%;
  width: 80%;
}
@media only screen and (min-width: 75em) {
  .sec-content-img {
    width: 40%;
    margin: 0 0 0 5%;
  }
}
.sec-content-img img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sec-icons img {
  width: 50%;
  margin: 0 25% 0 25%;
  border-radius: 50%;
}
a.inline-link {
  display: inline-block;
  text-decoration: none;
  color: #c31d34;
  font-size: 90%;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
a.inline-link:hover {
  cursor: pointer;
  border-bottom: 1px solid #c31d34;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
a.inline-link.external::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  float: left;
  margin-right: 0.5ex;
  margin-left: 0.5ex;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 127.16653 128.65965"><g stroke="%23c31d34" stroke-width="6" fill="none"><path d="m59.144 3.1302h-56.674v123.23h56.497"/><path d="m26.128 63.335h97.102"/><path d="m86.51 99.881 36.37-36.37-36.194-36.193"/></g></svg>');
}
.content-list {
  list-style: square;
}
.content-list li {
  margin-top: 0.5em;
}
.content-link {
  color: white;
  background-color: #c31d34;
  display: inline-block;
  padding: 1em 1em;
  margin: 1em;
  font-weight: normal;
  font-size: 100%;
  -webkit-transition: background-color 100ms ease;
  -moz-transition: background-color 100ms ease;
  -o-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .content-link {
    font-size: 100%;
  }
}
.content-link a {
  display: inline-block;
  color: white;
}
.content-link:hover {
  background-color: #de243d;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.content-link.slim {
  color: white;
  background-color: #c31d34;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em 0.5em;
  -webkit-transition: background-color 100ms ease;
  -moz-transition: background-color 100ms ease;
  -o-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}
.content-link.slim a {
  display: inline-block;
  color: white;
}
.content-link.slim:hover {
  background-color: #de243d;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.content-link.light {
  background-color: transparent;
  color: #c31d34;
  border: 1px solid #c31d34;
  padding: 0.5em 1em;
  margin: 0.5em 0.5em;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.content-link.light:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c31d34;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.content-link.light:hover,
.content-link.light:focus,
.content-link.light:active {
  color: white;
}
.content-link.light:hover:before,
.content-link.light:focus:before,
.content-link.light:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.content-link.light.inverse {
  color: #fff;
  border-color: #fff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.content-link.light.inverse:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c31d34;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.content-link.light.inverse:hover,
.content-link.light.inverse:focus,
.content-link.light.inverse:active {
  color: white;
}
.content-link.light.inverse:hover:before,
.content-link.light.inverse:focus:before,
.content-link.light.inverse:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.send-a-fish {
  color: white;
  display: inline-block;
  margin: 1em;
  font-size: 80%;
  line-height: 100%;
  background-position: 100% 0;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #de243d 50%, #c31d34 50%);
  -webkit-transition: background-position 500ms ease;
  -moz-transition: background-position 500ms ease;
  -o-transition: background-position 500ms ease;
  transition: background-position 500ms ease;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .send-a-fish {
    margin: 1em;
  }
}
.send-a-fish a {
  font-size: 90%;
  display: inline-block;
  padding: 1em 2em;
  border-left: 1px solid #BBB;
}
.send-a-fish:hover {
  background-position: 0 0;
  cursor: pointer;
}
.send-a-fish::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  float: left;
  margin-right: 0.5ex;
  margin-left: 0.5ex;
  padding: 1em 0.5em;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>');
}
.send-a-fish .mail-body-hidden,
.send-a-fish .mail-body-collapsing {
  margin: 0 0 !important;
  display: inline !important;
}
.send-a-fish .mail-body-hidden:before,
.send-a-fish .mail-body-collapsing:before,
.send-a-fish .mail-body-hidden:after,
.send-a-fish .mail-body-collapsing:after {
  display: none;
}
.content-section .sec-full-width {
  width: 90%;
  margin: 0 5% 0 5%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .content-section .sec-full-width {
    width: 50%;
    margin: 0 25% 0 25%;
  }
}
.content-section .sec-labeled-left {
  width: 100%;
}
@media only screen and (min-width: 75em) {
  .content-section .sec-labeled-left {
    width: 100%;
  }
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .content-section .sec-labeled-left .mobile-heading {
    display: none;
  }
}
.content-section .sec-labeled-left .sec-label {
  font-weight: lighter;
  width: 25%;
  padding: 0;
  margin: 0;
  font-size: 100%;
  height: calc(100vh - 75px);
  left: 0;
  position: -webkit-sticky !important;
  /* Safari */
  position: sticky !important;
  top: 75px !important;
}
.no-js .content-section .sec-labeled-left .sec-label {
  top: 0 !important;
}
@media only screen and (max-width: 50em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .content-section .sec-labeled-left .sec-label {
    display: none;
  }
}
.content-section .sec-labeled-left .sec-label .sec-label-inner {
  padding: 6em 0 0 0;
}
.content-section .sec-labeled-left .sec-label .sec-label-inner .sec-heading {
  margin: 0 10%;
}
.content-section .sec-labeled-left .sec-label .sec-label-inner .sec-heading h2 {
  padding: 0;
}
.content-section .sec-labeled-left .sec-label .sec-label-inner ul {
  position: absolute;
  right: 0;
  top: auto;
  margin-top: 2em;
  list-style: none;
}
.content-section .sec-labeled-left .sec-label .sec-label-inner li a {
  display: block;
  padding: 0.5em 1em;
  margin: 1em 0;
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}
.content-section .sec-labeled-left .sec-label .sec-label-inner li a:hover,
.content-section .sec-labeled-left .sec-label .sec-label-inner ul li .active {
  color: #00293c;
  background-color: #f5f5f5;
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}
.content-section .sec-nomargin {
  width: 100%;
  margin: 0 0;
}
.content-inner .content-inner-part {
  padding-top: 0;
  padding-bottom: 3em;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .content-inner .content-inner-part {
    padding-top: 2em;
  }
}
.content-inner .last {
  margin-bottom: 6em;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .content-inner .last {
    margin-bottom: 40vh;
  }
}
.page-link {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.page-link .link-label {
  font-size: 140%;
}
/**
Alignment
 */
.split-horizontally {
  position: relative;
  height: 100%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape), only screen and (max-width: 50em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .split-vertically > .split-part {
    position: relative;
    float: left;
  }
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape), only screen and (max-width: 50em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .split-horizontally > .split-part {
    position: relative;
    width: 100% !important;
  }
}
@media only screen and (min-width: 75em) {
  .split-v2 > .heightOfParent {
    height: 100%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .split-v2 > .heightOfParent {
    height: 100%;
  }
}
@media only screen and (max-width: 50em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .split-v2 > .heightOfParent {
    height: auto;
  }
}
@media only screen and (min-width: 75em) {
  .split-v3 > .heightOfParent {
    height: 100%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .split-v3 > .heightOfParent {
    height: auto;
  }
}
@media only screen and (max-width: 50em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .split-v3 > .heightOfParent {
    height: auto;
  }
}
.split-vertically > .widthOfParent {
  width: 100%;
}
@media only screen and (min-width: 75em) {
  .split-v2 > .split-part {
    width: 50%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .split-v2 > .split-part {
    width: 50%;
  }
}
@media only screen and (max-width: 50em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .split-v2 > .split-part {
    width: 100%;
  }
}
@media only screen and (min-width: 75em) {
  .split-v3 > .split-part {
    width: 33%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .split-v3 > .split-part {
    width: 50%;
  }
}
@media only screen and (max-width: 50em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .split-v3 > .split-part {
    width: 100%;
  }
}
@media only screen and (min-width: 75em) {
  .split-v4 > .split-part {
    width: 25%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .split-v4 > .split-part {
    width: 50%;
    height: 100%;
  }
}
@media only screen and (max-width: 50em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .split-v4 > .split-part {
    width: 100%;
  }
}
@media only screen and (min-width: 75em) {
  .split-h3 > .split-part {
    height: 33%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .split-h3 > .split-part {
    width: 50%;
  }
}
@media only screen and (max-width: 50em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .split-h3 > .split-part {
    width: 100%;
  }
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape), only screen and (max-width: 50em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: portrait) {
  .split-h2 > .split-part {
    height: 50%;
  }
}
/**
special classes
 */
.color-light {
  background-color: #fffcf5;
  color: #333;
}
.color-light .color-invert {
  color: #fffcf5;
  background-color: #333;
}
.color-dark {
  background-color: #464646;
  color: #fffcf5;
}
.color-dark .color-invert {
  color: #464646;
  background-color: #fffcf5;
}
.color-blue {
  background-color: #3f597c;
}
.color-transparent {
  color: #00293c;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}
.color-generic {
  background-color: #f5f5f5;
  color: #00293c;
}
.color-generic .color-invert {
  color: #f5f5f5;
  background-color: #00293c;
}
.color-generic-v2 {
  background-color: #f9f9f9;
  color: #00293c;
}
.color-generic-v2 .color-invert {
  color: #f9f9f9;
  background-color: #00293c;
}
.color-generic-v3 {
  background-color: #213e54;
  color: #ffffff;
}
.color-generic-v3 .color-invert {
  color: #213e54;
  background-color: #ffffff;
}
.color-generic-v3-inverse {
  background-color: #ffffff;
  color: #213e54;
}
.color-generic-v3-inverse .color-invert {
  color: #ffffff;
  background-color: #213e54;
}
.color-generic-v4 {
  background-color: #1e3b48;
  color: #ffffff;
}
.color-generic-v4 .color-invert {
  color: #1e3b48;
  background-color: #ffffff;
}
.color-generic-v4-inverse {
  background-color: #ffffff;
  color: #1e3b48;
}
.color-generic-v4-inverse .color-invert {
  color: #ffffff;
  background-color: #1e3b48;
}
.color-white {
  background-color: #ffffff;
  color: #00293c;
}
.color-white .color-invert {
  color: #ffffff;
  background-color: #00293c;
}
.color-generic-inverse {
  background-color: #213e54;
  color: #f5f5f5;
}
.color-generic-inverse .color-invert {
  color: #213e54;
  background-color: #f5f5f5;
}
/*other things */
.force-select {
  -webkit-user-select: all;
  /* Chrome 49+ */
  -moz-user-select: all;
  /* Firefox 43+ */
  -ms-user-select: all;
  /* No support yet */
  user-select: all;
  /* Likely future */
}
.no-js #wrapper {
  margin-top: 0;
}
.no-js .content-section .sec-labeled-left .sec-label {
  height: 100vh;
}
/* breadcrumbs */
.breadcrumbs {
  display: none;
  font-variant: small-caps;
  font-weight: lighter;
  padding: 1em 0;
}
@media only screen and (min-width: 75em) {
  .breadcrumbs {
    display: block;
  }
}
.breadcrumbs .breadcrumbs-part {
  position: relative;
  float: left;
  margin-left: 1em;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 250ms ease;
  -moz-transition: border-color 250ms ease;
  -o-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}
.breadcrumbs .breadcrumbs-part svg {
  width: 1em;
  height: 1em;
}
.breadcrumbs .breadcrumbs-part:hover {
  border-bottom-color: #00293c;
  cursor: pointer;
}
.breadcrumbs .breadcrumbs-part:before {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>');
  width: 1em;
  height: 1.5em;
  display: block;
  position: absolute;
  left: -1em;
  top: 0.125em;
}
.breadcrumbs .breadcrumbs-part.first:before {
  content: "" !important;
}
#f2 #contact-mobile .cm-part {
  outline: 1px solid #fffcf5;
  width: 50%;
  flex: 0 auto;
}
#f2 #contact-mobile .cm-part img {
  width: 30%;
  margin: auto;
}
#footer-mobile {
  position: relative;
  width: 100%;
  background-color: #00293c;
  color: #f5f5f5;
}
#footer-mobile svg {
  width: 1em;
}
#footer-mobile #footer-mobile-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#footer-mobile #footer-mobile-container #footer-top {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (min-width: 75em) {
  #footer-mobile #footer-mobile-container #footer-top {
    flex: 0 0 80%;
    padding: 0 10%;
  }
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries {
  flex: 0 0 100%;
  order: 1;
  margin: 0 auto;
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries ul {
  display: flex;
  flex-flow: row wrap;
  max-width: 80em;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  list-style: none;
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries ul li {
  flex: 1 auto;
  text-align: center;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries ul li:hover {
  cursor: pointer;
  color: #c31d34;
  outline: 1px solid #2e2e5f;
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries ul li a {
  padding: 1em 0.8em;
  display: block;
}
@media only screen and (min-width: 75em) {
  #footer-mobile #footer-mobile-container #footer-top .footer-entries ul li a {
    padding: 1em;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #footer-mobile #footer-mobile-container #footer-top .footer-entries ul li a {
    padding: 1.5em 0.8em;
  }
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries ul li span {
  display: inline;
  text-align: center;
  padding: auto;
}
@media only screen and (min-width: 25em) and (max-width: 35em) {
  #footer-mobile #footer-mobile-container #footer-top .footer-entries ul li span {
    display: none !important;
  }
}
@media only screen and (max-width: 25em) {
  #footer-mobile #footer-mobile-container #footer-top .footer-entries ul li span {
    display: none !important;
  }
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries ul li svg {
  width: 1em;
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries div {
  width: auto;
  text-align: center;
}
@media only screen and (min-width: 75em) {
  #footer-mobile #footer-mobile-container #footer-top .footer-entries .menu-entry-fb {
    display: none;
  }
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries .menu-entry-fb:hover {
  color: #4267b2;
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries #footer-entry-fb {
  display: none;
}
@media only screen and (min-width: 75em) {
  #footer-mobile #footer-mobile-container #footer-top .footer-entries #footer-entry-fb {
    display: block;
  }
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries #footer-entry-fb:hover {
  color: #4267b2 !important;
}
#footer-mobile #footer-mobile-container #footer-middle {
  flex: 0 0 100%;
  order: 2;
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (min-width: 75em) {
  #footer-mobile #footer-mobile-container #footer-middle {
    flex: 0 0 80%;
    padding: 0 10%;
  }
}
#footer-mobile #footer-mobile-container #footer-middle .footer-img {
  background-color: #00293c;
  width: 100%;
  flex: 1 1 100%;
  order: 1;
  min-width: 250px;
  max-width: 650px;
}
@media only screen and (min-width: 75em) {
  #footer-mobile #footer-mobile-container #footer-middle .footer-img {
    flex: 0 0 50%;
    clear: both;
  }
}
#footer-mobile #footer-mobile-container #footer-middle .footer-img img {
  width: 60%;
  margin: 0 10%;
  max-width: 30em;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-img img.desktop {
  display: none;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #footer-mobile #footer-mobile-container #footer-middle .footer-img img.desktop {
    display: initial;
  }
}
#footer-mobile #footer-mobile-container #footer-middle .footer-img img.phone {
  display: initial;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #footer-mobile #footer-mobile-container #footer-middle .footer-img img.phone {
    display: none;
  }
}
#footer-mobile #footer-mobile-container #footer-middle .footer-middle-part {
  font-size: 100%;
  width: 90%;
  flex: 0 0 90%;
  padding-left: 10%;
  max-width: 80em;
  margin: 0 auto;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #footer-mobile #footer-mobile-container #footer-middle .footer-middle-part {
    padding-left: 2.5%;
  }
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social {
  order: 4;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social .heading {
  color: #fff;
  font-size: 90%;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 1.5em;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: auto;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container {
    justify-content: left;
  }
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container a {
  flex: 0 0 auto;
  font-size: 120%;
  display: block;
  float: left;
  width: 2em;
  padding: 0.5em;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container a svg {
  width: 100%;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  -o-transition: color 250ms ease;
  transition: color 250ms ease;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container a svg:hover {
  color: #c31d34;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container a .fb:hover {
  color: #3c5a99;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container a .twitter:hover {
  color: #1da1f2;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container a .github:hover {
  color: #1da1f2;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links {
  flex: 0 0 100%;
  order: 3;
  margin-top: 3em;
  padding-bottom: 3em;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container {
  max-width: 80em;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column {
  font-size: 110%;
  flex: 1 1 100%;
  min-width: 200px;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column {
    flex: 1 1 25%;
  }
}
@media only screen and (min-width: 25em) and (max-width: 35em), only screen and (min-width: 35em) and (max-width: 50em) {
  #footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column {
    flex: 1 1 50%;
  }
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column .column-inner {
  width: 80%;
  margin: 1em 10%;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column .column-inner span {
  display: block;
  width: 100%;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column .column-inner span.head {
  color: #fff;
  font-size: 80%;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 1.5em;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column .column-inner span.cont {
  margin-top: 1em;
  color: #fff;
  font-size: 80%;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column .column-inner span.cont:hover {
  color: #c5c5c5;
  cursor: pointer;
}
#footer-mobile #footer-mobile-container .footer-bottom {
  order: 3;
  flex: 0 0 100%;
  clear: both;
  width: 100%;
  margin: 2em 0;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner {
  max-width: 80em;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 80%;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner .content-item {
  flex: 1 1 29%;
  font-size: 90%;
  min-width: 150px;
  margin: 0.5em 2%;
  position: relative;
}
@media only screen and (max-width: 25em) {
  #footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner .content-item {
    flex: 1 1 80%;
  }
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner span {
  position: relative;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner span:before {
  content: "";
  width: 1.5em;
  display: block;
  color: #f5f5f5;
  float: left;
  margin-right: 0.7em;
  position: relative;
  bottom: 0.25em;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-location div {
  text-align: left;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-location svg,
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-location span {
  float: left;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-location svg {
  width: 1em;
  margin-right: 0.5em;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-location span:before {
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>');
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger {
  display: inline-block;
  position: relative;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  height: 1px;
  width: 0;
  -webkit-transition: 350ms ease;
  -moz-transition: 350ms ease;
  -o-transition: 350ms ease;
  transition: 350ms ease;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger:hover {
  cursor: pointer;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger:hover:after {
  width: 100%;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger span:before {
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>');
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger span:after {
  width: 1em;
  display: block;
  color: #f5f5f5;
  float: right;
  margin-left: 0.5em;
  position: relative;
  top: 0.15em;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger .trigger-overlay {
  width: 100%;
  position: absolute;
  bottom: 100%;
  opacity: 0;
  visibility: hidden;
  padding-bottom: 1em;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger .trigger-overlay .trigger-overlay-inner ul {
  margin: 0;
  padding: 1em 0;
  text-decoration: none;
  list-style: none;
  color: #00293c;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger .trigger-overlay .trigger-overlay-inner ul li {
  display: block;
  padding: 1em 1em;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger .trigger-overlay .trigger-overlay-inner ul li:hover {
  background-color: #f5f5f5;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger .trigger-overlay .trigger-overlay-inner ul li.soon {
  position: relative;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger .trigger-overlay .trigger-overlay-inner ul li.soon:after {
  content: "coming soon!";
  display: block;
  position: relative;
  width: 100%;
  font-size: 80%;
  float: left;
  color: #333;
  font-style: italic;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger.active .trigger-overlay {
  visibility: visible;
  opacity: 1;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-cp div span {
  display: block;
  float: left;
  margin-bottom: 0.5em;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-cp div span svg {
  color: #aaaaaa;
  font-size: 170%;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  -o-transition: color 250ms ease;
  transition: color 250ms ease;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-cp div span svg:hover {
  color: #c31d34;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-cp div span .fb:hover {
  color: #3c5a99;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-cp div span .twitter:hover {
  color: #1da1f2;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-cp div span .github:hover {
  color: #1da1f2;
}
#footer-mobile #footer-mobile-container .footer-border-bottom {
  border-bottom: 1px solid #213e54;
  margin-bottom: 1em;
}
#footer-mobile #footer-mobile-container .footer-info-hover a:hover {
  color: #c31d34;
  cursor: pointer;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}
@keyframes show-dash {
  from {
    bottom: -400px;
  }
  20% {
    bottom: 0;
  }
  80% {
    bottom: 0;
  }
  to {
    bottom: -400px;
  }
}
#no-js-dash {
  z-index: 10;
  display: none;
  width: 100%;
  overflow: hidden;
  padding: 2em 5em;
  background-color: #f5f5f5;
  bottom: -400px;
  position: fixed;
  height: auto;
  animation-name: show-dash;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-delay: 1s;
}
#no-js-dash #no-js-text {
  color: #c31d34;
  font-size: 100%;
  text-align: center;
}
.no-js #no-js-dash {
  display: block;
}
.no-js .infobar {
  display: none;
}
.no-js .floating-button {
  display: none;
}
/* alignment from common.less */
.no-js .sec-label {
  top: 0 !important;
  height: 100vh;
}
.no-js .sec-label .active {
  background-color: inherit;
  color: inherit;
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #c31d34;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #de243d;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Sweep To Right */
@name Space "hvr";
/*# sourceMappingURL=lssc_loader.css.map */