<div class="protocol-renderer protocol--divi">
    <div class="protocol-grid-row protocol-row--1">
        <div class="protocol-grid-item  divi--stammdaten1">
            <div class="protocol-form-set">
                <div class="protocol-form-set-header">
                    <h3 class="small-caps">Pat.-Stammdaten</h3>
                    <span>(ggf. mit Aufkleber überkleben / überdrucken)</span>
                </div>
                <div class="protocol-form-inputSet">
                    <label>Name</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>Vorname</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet protocol-form-dateInput divi--stammdaten1-geburtstag">
                    <label>Geb.-Datum</label>
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                        <div class="seperator-small"></div>
                    </div>
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date day2" maxlength="1">
                        <div class="seperator-big"></div>
                    </div>
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date month1" maxlength="1">
                        <div class="seperator-small"></div>
                    </div>
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date month2" maxlength="1">
                        <div class="seperator-big"></div>
                    </div>
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date year1" maxlength="1">
                        <div class="seperator-small"></div>
                    </div>
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date year2" maxlength="1">
                        <div class="seperator-small"></div>
                    </div>
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date year3" maxlength="1">
                        <div class="seperator-small"></div>
                    </div>
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date year4" maxlength="1">
                        <div class="seperator-big"></div>
                    </div>
                    <div class="protocol-select-labeled">
                        <input type="checkbox" />
                        <label>Pseudonym</label>
                    </div>
                </div>
                <div class="protocol-form-inputSet">
                    <label>Straße</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>PLZ, Ort</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>Kasse / Nr.</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>Vers.-Nr.</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
            </div>
        </div>
        <div class="protocol-grid-item divi--stammdaten2">
            <div class="divi--stammdaten2-sec1">
                <div>Geschlecht</div>
                <div class="protocol-form-radioSet radioset--geschlecht">
                    <div class="radio-input-container">
                        <input type="radio" name="geschlecht">
                        <label>männlich</label>
                    </div>
                    <div class="radio-input-container">
                        <input type="radio" name="geschlecht">
                        <label>weiblich</label>
                    </div>
                    <div class="radio-input-container">
                        <input type="radio" name="geschlecht">
                        <label>divers</label>
                    </div>
                </div>
            </div>

            <div class="divi--stammdaten2-sec2">
                <div class="protocol-input-label normal">BMI</div>
                <div class="protocol-form-radioSet radioset--bmi">
                    <div class="radio-input-container">
                        <input type="radio" name="bmi">
                        <label>&#8804;40</label>
                    </div>
                    <div class="radio-input-container">
                        <input type="radio" name="bmi">
                        <label>>40</label>
                    </div>
                </div>
                <div class="protocol-helper-text"><span>(Gewicht&nbsp;[kg])</span><span>(Größe&nbsp;[m])2</span></div>
            </div>

            <div class="protocol-form-inputSet protocol-form-dateInput divi--stammdaten2-sec3">
                <div><span>Alter</span></div>
                <div class="age-container">
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                        <div class="seperator-big"></div>
                    </div>
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                    </div>
                </div>
                <div><span>Jahre</span></div>

                <div></div>
                <div class="radio-input-container">
                    <input type="radio" name="age">
                    <label>1-7 Tg</label>
                </div>
                <div class="radio-input-container">
                    <input type="radio" name="age">
                    <label>8 - 28 Tg</label>
                </div>

            </div>
        </div>
        <div class="protocol-grid-item divi--stammdaten3">
            <div class="divi-label"><h3>NOTFALL-EINSATZPROTOKOLL</h3><span class="small-caps">Version 6.0</span></div>
            <div class="divi-label-subtext"><span class="small-caps">Empfehlung der DIVI 2020&nbsp;</span><span>(www.divi.de)</span></div>
        </div>
        <div class="protocol-grid-item divi--stammdaten4">
            <div class="radioset--nummer">
                <div class="radio-input-container">
                    <input type="radio" name="age">
                    <label>Einsatz&nbsp;Nr.</label>
                </div>
                <div class="radio-input-container">
                    <input type="radio" name="age">
                    <label>Pat./Auftr.&nbsp;Nr.</label>
                </div>
            </div>
            <div class="inputset--nummer protocol-form-inputSet protocol-form-dateInput">
                <div class="date-input-container">
                    <input class="protocol-form-input protocol-form-input--date" name="einsatznummer1" maxlength="1">
                    <div class="seperator-big"></div>
                </div>
                <div class="date-input-container">
                    <input class="protocol-form-input protocol-form-input--date year2" name="einsatznummer2" maxlength="1">
                    <div class="seperator-big"></div>
                </div>
                <div class="date-input-container">
                    <input class="protocol-form-input protocol-form-input--date year3" name="einsatznummer3" maxlength="1">
                    <div class="seperator-big"></div>
                </div>
                <div class="date-input-container">
                    <input class="protocol-form-input protocol-form-input--date year4" name="einsatznummer4" maxlength="1">
                    <div class="seperator-big"></div>
                </div>
                <div class="date-input-container">
                    <input class="protocol-form-input protocol-form-input--date year1" name="einsatznummer5" maxlength="1">
                    <div class="seperator-big"></div>
                </div>
                <div class="date-input-container">
                    <input class="protocol-form-input protocol-form-input--date year2" name="einsatznummer6" maxlength="1">
                    <div class="seperator-big"></div>
                </div>
                <div class="date-input-container">
                    <input class="protocol-form-input protocol-form-input--date year3" name="einsatznummer7" maxlength="1">
                </div>
            </div>
            <div class="protocol-form-inputSet protocol-form-dateInput inputset--persnummer">
                <div class="label"><span>Pers&nbsp;Nr.</span></div>
                <div class="age-container">
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                        <div class="seperator-small"></div>
                    </div>
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                        <div class="seperator-small"></div>
                    </div>
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                    </div>
                </div>
            </div>
            <div class="protocol-form-inputSet inputset--standort">
                <div class="label"><span>Standort</span></div>
                <input class="protocol-form-input protocol-form-input--border">
            </div>
            <div class="protocol-form-inputSet protocol-form-dateInput inputset--leitstelle">
                <div class="label"><span>Leitstelle</span><span class="protocol-helper-text">(Kfz-Kennz.)</span></div>
                <div class="kfz-container">
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                        <div class="seperator-small"></div>
                    </div>
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                        <div class="seperator-small"></div>
                    </div>
                    <div class="date-input-container">
                        <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                    </div>
                </div>
            </div>
        </div>
        <div class="protocol-grid-item divi--einsatzdaten">
            <div class="protocol-form-set">
                <div class="divi--einsatzdaten-header">
                    <div class="divi--einsatzdaten-header-text small-caps">
                        Einsatztechnische Daten
                    </div>
                    <div class="protocol-form-selectSet divi--einsatzdaten-select">
                        <div class="label">Beteiligt</div>
                        <div class="protocol-select-labeled r1c2">
                            <input type="checkbox" />
                            <label>NEF</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <div class="checkmark"></div>
                            <label>NAW</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <div class="checkmark"></div>
                            <label>KTW</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <div class="checkmark"></div>
                            <label>ITH</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <div class="checkmark"></div>
                            <label>Bergrettung</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <label>TeleNA</label>
                        </div>
                        <div class="protocol-select-labeled r2c2">
                            <input type="checkbox" />
                            <label>Selbstfahrer</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <label>RTW</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <label>RTH</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <label>sonst.</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <label>Wasserrettung</label>
                        </div>
                    </div>
                </div>
                <div class="divi--einsatzdaten-body">
                    <div class="divi--einsatzdaten-col1">
                        <div class="protocol-form-inputSet protocol-form-dateInput divi--einsatzdaten-datum">
                            <label>Einsatz-Datum</label>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day2" maxlength="1">
                                <div class="seperator-big"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month2" maxlength="1">
                                <div class="seperator-big"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date year1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date year2" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date year3" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date year4" maxlength="1">
                            </div>
                        </div>
                        <div class="protocol-form-inputSet">
                            <label>Einsatz-Ort</label>
                            <input class="protocol-form-input protocol-form-input--border" placeholder="Straße oder GPS-Breitengrad">
                        </div>
                        <div class="protocol-form-inputSet divi--einsatzdaten-plz">
                            <input class="protocol-form-input protocol-form-input--border plz" placeholder="Plz">
                            <input class="protocol-form-input protocol-form-input--border ort" placeholder="Ort oder GPS-Längengrad">
                        </div>
                        <div class="protocol-form-inputSet divi--einsatzdaten-ort protocol-form-radioSet">
                            <div class="radioset--ort">
                                <div class="radio-input-container">
                                    <input type="radio" name="age">
                                    <label>Wohnung</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio" name="age">
                                    <label>Arztpraxis</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio" name="age">
                                    <label>öff. Raum</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio" name="age">
                                    <label>Bildungseinrichtung</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio" name="age">
                                    <label>Altenheim</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio" name="age">
                                    <label>Krankenhaus</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio" name="age">
                                    <label>Straße</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio" name="age">
                                    <label>Massenveranstaltung</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio" name="age">
                                    <label>Arbeitsplatz</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio" name="age">
                                    <label>Geburtshaus</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio" name="age">
                                    <label>Schule</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio" name="age">
                                    <label>sonstiges</label>
                                </div>
                                <div class="radio-input-container sportstaette">
                                    <input type="radio" name="age">
                                    <label>Sportstätte</label>
                                    <input class="protocol-form-input protocol-form-input--border-bottom"/>
                                </div>
                            </div>
                        </div>
                        <div class="protocol-form-inputSet divi--einsatzdaten-art protocol-form-radioSet">
                            <div class="label">Einsatzart</div>
                            <div class="radioset--art">
                                <div class="radio-input-container">
                                    <input type="radio">
                                    <label>Primäreinsatz</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio">
                                    <label>Notarzt-Nachforderung</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio">
                                    <label>Folgeeinsatz</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio">
                                    <label>Sekundäreinsatz z.B. Verlegung</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio">
                                    <label class="fehleinsatz">Fehleinsatz</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio">
                                    <label>vorsorgliche Bereitstellung</label>
                                </div>
                            </div>
                        </div>
                        <div class="protocol-form-inputSet divi--einsatzdaten-fehleinsatz protocol-form-radioSet">
                            <div class="radioset--fehleinsatz">
                                <div class="radio-input-container">
                                    <input type="radio">
                                    <label>kein Patient</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio">
                                    <label>Pat. bereits abtransportiert</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio">
                                    <label>abbestellt</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio">
                                    <label>böswillige Alarmierung</label>
                                </div>
                                <div class="radio-input-container">
                                    <label>Einsatzabbruch</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="radio" name="abbruch">
                                    <label>technische Gründe</label>
                                    <input type="radio" name="abbruch">
                                    <label>Wetter</label>
                                    <input type="radio" name="abbruch">
                                    <label>Sonstige</label>
                                </div>
                            </div>
                        </div>
                        <div class="protocol-form-inputSet">
                            <label>Transportziel</label>
                            <input class="protocol-form-input protocol-form-input--border">
                        </div>
                        <div class="protocol-form-inputSet protocol-form-radioSet divi--einsatzdaten-ziel">
                            <div class="radio-input-container">
                                <input type="checkbox">
                                <label>Voranmeldung</label>
                            </div>
                            <div class="radio-input-container">
                                <input type="radio">
                                <label>Stroke&nbsp;Unit</label>
                            </div>
                            <div class="radio-input-container">
                                <input type="radio">
                                <label>Herzkatheter</label>
                            </div>
                            <div class="radio-input-container">
                                <input type="radio">
                                <label>Traumazentrum</label>
                            </div>
                        </div>
                        <div class="protocol-form-inputSet">
                            <label>Notarzt</label>
                            <input class="protocol-form-input protocol-form-input--border">
                        </div>
                        <div class="protocol-form-inputSet">
                            <label>Assistenz</label>
                            <input class="protocol-form-input protocol-form-input--border">
                        </div>
                        <div class="protocol-form-inputSet">
                            <label>RTW-Team</label>
                            <input class="protocol-form-input protocol-form-input--border">
                        </div>
                    </div>
                    <div class="divi--einsatzdaten-col2">
                        <div class="protocol-form-inputSet protocol-form-dateInput divi--einsatzdaten-uhrzeit">
                            <label>Symptom-Beginn</label>
                            <div class="date-input-container border-left">
                                <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day2" maxlength="1">
                                <div class="seperator-big"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container border-right">
                                <input class="protocol-form-input protocol-form-input--date month2" maxlength="1">
                            </div>
                            <div class="protocol-form-inputSet divi--einsatzdaten-symptombeginn-radioSet">
                                <div class="protocol-select-labeled">
                                    <input type="checkbox">
                                    <label>vor&nbsp;über&nbsp;24h</label>
                                </div>
                                <div class="protocol-select-labeled ">
                                    <input type="checkbox">
                                    <label>Kollaps&nbsp;beobachtet</label>
                                </div>
                                <div class="protocol-select-labeled ">
                                    <input type="checkbox">
                                    <label>unbekannt</label>
                                </div>
                            </div>
                        </div>

                        <div class="protocol-form-inputSet protocol-form-dateInput divi--einsatzdaten-uhrzeit">
                            <label>Alarm</label>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day2" maxlength="1">
                                <div class="seperator-big"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month2" maxlength="1">
                            </div>
                        </div>
                        <div class="protocol-form-inputSet protocol-form-dateInput divi--einsatzdaten-uhrzeit">
                            <label>Ankunft<span class="protocol-helper-text">(Einsatzort)</span></label>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day2" maxlength="1">
                                <div class="seperator-big"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month2" maxlength="1">
                            </div>
                        </div>
                        <div class="protocol-form-inputSet protocol-form-dateInput divi--einsatzdaten-uhrzeit">
                            <label>Ankunft<span class="protocol-helper-text">(am Pat.)</span></label>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day2" maxlength="1">
                                <div class="seperator-big"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month2" maxlength="1">
                            </div>
                        </div>
                        <div class="protocol-form-inputSet protocol-form-dateInput divi--einsatzdaten-uhrzeit">
                            <label>Abfahrt</label>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day2" maxlength="1">
                                <div class="seperator-big"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month2" maxlength="1">
                            </div>
                        </div>
                        <div class="protocol-form-inputSet protocol-form-dateInput divi--einsatzdaten-uhrzeit">
                            <label>Übergabe</label>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day2" maxlength="1">
                                <div class="seperator-big"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month2" maxlength="1">
                            </div>
                        </div>
                        <div class="protocol-form-inputSet protocol-form-dateInput divi--einsatzdaten-uhrzeit">
                            <label>Einsatzbereit</label>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day2" maxlength="1">
                                <div class="seperator-big"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month2" maxlength="1">
                            </div>
                        </div>
                        <div class="protocol-form-inputSet protocol-form-dateInput divi--einsatzdaten-uhrzeit">
                            <label>Ende</label>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day2" maxlength="1">
                                <div class="seperator-big"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month2" maxlength="1">
                            </div>
                        </div>
                        <div class="divi--einsatzdaten-facharzt">
                            <div class="protocol-form-inputSet divi--einsatzdaten-facharzt-radioSet">
                                <div class="radio-input-container">
                                    <input type="checkbox">
                                    <label>Arzt in Weiterb.</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="checkbox">
                                    <label>Facharzt</label>
                                </div>
                            </div>
                            <div class="protocol-form-inputSet divi--einsatzdaten-facharzt-select">
                                <div class="protocol-select-labeled">
                                    <input type="checkbox">
                                    <label>Anästesie</label>
                                </div>
                                <div class="protocol-select-labeled">
                                    <input type="checkbox">
                                    <label>Pädiatrie</label>
                                </div>
                                <div class="protocol-select-labeled">
                                    <input type="checkbox">
                                    <label>Chirurgie</label>
                                </div>
                                <div class="protocol-select-labeled">
                                    <input type="checkbox">
                                    <label>Neurologie</label>
                                </div>
                                <div class="protocol-select-labeled">
                                    <input type="checkbox">
                                    <label>Innere</label>
                                </div>
                                <div class="protocol-select-labeled">
                                    <input type="checkbox">
                                    <label>Allg. Medizin</label>
                                </div>
                                <div class="protocol-select-labeled double-column">
                                    <input type="checkbox">
                                    <label>Klinische Akutmedizin</label>
                                </div>
                                <div class="protocol-select-labeled">
                                    <input type="checkbox">
                                    <label>Intensivmed.</label>
                                </div>
                                <div class="protocol-select-labeled">
                                    <input type="checkbox">
                                    <label>Andere</label>
                                </div>
                            </div>
                        </div>
                        <div class="divi--einsatzdaten-rs">
                            <div class="protocol-form-inputSet divi--einsatzdaten-rs-radioSet">
                                <div class="radio-input-container">
                                    <input type="checkbox">
                                    <label>Rett.Ass.</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="checkbox">
                                    <label>Rett.San.</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="checkbox">
                                    <label>Notfall&nbsp;San</label>
                                </div>
                                <div class="radio-input-container">
                                    <input type="checkbox">
                                    <label>(Int.)Pfleg.</label>
                                </div>
                            </div>
                        </div>
                        <div class="protocol-form-inputSet input-funkkenner">
                            <label>Rufname<br>eigenes Fahrzeug</label>
                            <input class="protocol-form-input protocol-form-input--border">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="protocol-grid-row protocol-row-2">
        <div class="protocol-grid-item divi--notfallgeschehen">
            <div class="protocol-form-set divi--notfallgeschehen-grid">
                <div class="divi--notfallgeschehen-text1">
                    <div class="protocol-form-set-header">
                        <h3 class="small-caps">Notfallgeschehen, Anamnese, Erstbefund, Vormedikation, Vorbehandlung</h3>
                    </div>
                    <input class="protocol-form-input protocol-form-input--border-bottom">
                    <input class="protocol-form-input protocol-form-input--border-bottom">
                    <input class="protocol-form-input protocol-form-input--border-bottom">
                </div>
                <div class="divi--notfallgeschehen-selects">
                    <div>AZ des Pat. vor dem Ereignis</div>
                    <div class="protocol-form-radioSet row-items-3">
                        <div class="radio-input-container">
                            <input type="radio" name="az">
                            <label>gesund</label>
                        </div>
                        <div class="radio-input-container">
                            <input type="radio" name="az">
                            <label>leicht eingeschränkt</label>
                        </div>
                        <div class="radio-input-container">
                            <input type="radio" name="az">
                            <label>deutlich eingeschränkt</label>
                        </div>
                    </div>
                    <div class="indent">(entspr. ASA)</div>
                    <div class="protocol-form-radioSet row-items-2">
                        <div class="radio-input-container">
                            <input type="radio" name="az">
                            <label>akut lebensgefährdet</label>
                        </div>
                        <div class="radio-input-container">
                            <input type="radio" name="az">
                            <label>Moribund</label>
                        </div>
                    </div>
                    <div>Versorgungssituation</div>
                    <div class="protocol-form-radioSet row-items-3">
                        <div class="radio-input-container">
                            <input type="radio" name="vers">
                            <label>unabhängig</label>
                        </div>
                        <div class="radio-input-container">
                            <input type="radio" name="vers">
                            <label>Pflege zuhause</label>
                        </div>
                        <div class="radio-input-container">
                            <input type="radio" name="vers">
                            <label>Pflege in Institution</label>
                        </div>
                    </div>
                    <div>Antikoagulanzienmedikation</div>
                    <div class="protocol-form-radioSet row-items-2">
                        <div class="radio-input-container">
                            <input type="checkbox">
                            <label>TZ-Aggregationshemmer</label>
                        </div>
                        <div class="radio-input-container">
                            <input type="checkbox">
                            <label>VitK-Antagonist</label>
                        </div>
                    </div>
                    <div class="indent">(vor dem Ereignis)</div>
                    <div class="protocol-form-radioSet row-items-3">
                        <div class="radio-input-container">
                            <input type="checkbox">
                            <label>DOAK</label>
                        </div>
                        <div class="radio-input-container">
                            <input type="checkbox">
                            <label>Heparin</label>
                        </div>
                        <div class="radio-input-container">
                            <input type="checkbox">
                            <label>Sonstige</label>
                        </div>
                    </div>
                    <div>Ersthelfermaßnahmen&nbsp;(Laien)</div>
                    <div class="protocol-form-radioSet row-items-3">
                        <div class="radio-input-container">
                            <input type="radio" name="eh">
                            <label>suffizient</label>
                        </div>
                        <div class="radio-input-container">
                            <input type="radio" name="eh">
                            <label>insuffizient</label>
                        </div>
                        <div class="radio-input-container">
                            <input type="radio" name="eh">
                            <label>keine</label>
                        </div>
                    </div>
                    <div>First&nbsp;Responder</div>
                    <div class="protocol-form-radioSet row-items-2">
                        <div class="radio-input-container">
                            <input type="checkbox">
                            <label>vor Ort - ggf Uhrzeit des Eintreffens:</label>
                        </div>
                        <div class="protocol-form-inputSet protocol-form-dateInput divi--einsatzdaten-uhrzeit">
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date day2" maxlength="1">
                                <div class="seperator-big"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month1" maxlength="1">
                                <div class="seperator-small"></div>
                            </div>
                            <div class="date-input-container">
                                <input class="protocol-form-input protocol-form-input--date month2" maxlength="1">
                            </div>
                        </div>
                    </div>
                    <div class="protocol-form-radioSet row-items-1 double-column">
                        <div class="radio-input-container">
                            <input type="checkbox">
                            <label>Besiedelung mit multiresistenten Keimen (MRSA, MRSE, ESBL etc) vorbekannt</label>
                            <input type="radio" name="mrsa">
                            <label>offen</label>
                            <input type="radio" name="mrsa">
                            <label>abgedeckt</label>
                        </div>
                    </div>

                </div>
                <div class="divi--notfallgeschehen-text2">
                    <input class="protocol-form-input protocol-form-input--border-bottom">
                    <input class="protocol-form-input protocol-form-input--border-bottom">
                </div>
            </div>

        </div>
    </div>
    <div class="protocol-grid-row protocol-row-3">
        <div class="protocol-grid-item  divi--erstbefunde1">
            <div class="protocol-form-set">
                <div class="protocol-form-set-header">
                    <h3 class="small-caps">Erstbefunde - Neurologie</h3>
                </div>
                <div class="protocol-form-radioset">
                    <div class="radio-input-container">
                        <input type="checkbox">
                        <label>ohne path. Befund</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="protocol-grid-item  divi--erstbefunde2">
            <div class="protocol-form-set">
                <div class="protocol-form-set-header">
                    <h3 class="small-caps">Messwerte initial</h3>
                </div>
            </div>
        </div>
    </div>
</div>