<div class="protocol-renderer protocol--divi">
    <div class="protocol-grid-row protocol-row--1">
        <div class="protocol-grid-item  divi--stammdaten1">
            <div class="protocol-form-set">
                <div class="protocol-form-set-header small-caps">
                    Pat.-Stammdaten
                </div>
                <div class="protocol-form-inputSet">
                    <label>Name</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>Vorname</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>Geb.-Datum</label>
                    <input class="protocol-form-input protocol-form-input--date" type="date">
                </div>
                <div class="protocol-form-inputSet">
                    <label>Straße</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>PLZ, Ort</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>Kasse / Nr.</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>Vers.-Nr.</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
            </div>
        </div>
        <div class="protocol-grid-item divi--stammdaten2">
            Geschlecht
        </div>
        <div class="protocol-grid-item divi--stammdaten3">
            DIVI Protokoll
        </div>
        <div class="protocol-grid-item divi--stammdaten4">
            stamm4
        </div>
        <div class="protocol-grid-item divi--einsatzdaten">
            <div class="protocol-form-set">
                <div class="divi--einsatzdaten-header">
                    <div class="divi--einsatzdaten-header-text small-caps">
                        Einsatztechnische Daten
                    </div>
                    <div class="protocol-form-selectSet divi--einsatzdaten-select">
                        <div class="label">Beteiligt</div>
                        <div class="protocol-select-labeled r1c2">
                            <input type="checkbox" />
                            <label>NEF</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <div class="checkmark"></div>
                            <label>NAW</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <div class="checkmark"></div>
                            <label>KTW</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <div class="checkmark"></div>
                            <label>ITH</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <div class="checkmark"></div>
                            <label>Bergrettung</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <label>TeleNA</label>
                        </div>
                        <div class="protocol-select-labeled r2c2">
                            <input type="checkbox" />
                            <label>Selbstfahrer</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <label>RTW</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <label>RTH</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <label>sonst.</label>
                        </div>
                        <div class="protocol-select-labeled ">
                            <input type="checkbox" />
                            <label>Wasserrettung</label>
                        </div>
                    </div>
                </div>

                <div class="protocol-form-inputSet">
                    <label>Name</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>Vorname</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>Geb.-Datum</label>
                    <input class="protocol-form-input protocol-form-input--date">
                </div>
                <div class="protocol-form-inputSet">
                    <label>Straße</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>PLZ, Ort</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>Kasse / Nr.</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
                <div class="protocol-form-inputSet">
                    <label>Vers.-Nr.</label>
                    <input class="protocol-form-input protocol-form-input--border">
                </div>
            </div>
        </div>
    </div>
</div>