<form class="form form-paged">
    <div class="form-page">
        <div class="form-section">
            <div class="form-sectionheader has-icon">
                <span>Rechte und Rollen</span>
            </div>
        </div>
        <div class="form-item useredit-item" id="eventitem-roles">
            Coming soon!
        </div>
    </div>
</form>
