<form class="form form-paged">
    <div class="form-page">
        <div class="form-section">
            <div class="form-sectionheader has-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                <span>Allgemeines</span></div>
            <div class="form-sectionheader"></div>
            <div class="form-item useredit-item" id="eventitem-username">
                <label class="test1 mdc-text-field mdc-text-field-selector mdc-text-field--outlined">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" id="label1">username</span></span>
                    <span class="mdc-notched-outline__trailing"></span></span>
                    <input class="mdc-text-field__input pageslider-page-dataElement form-inp" id="eventinp-username" name="username" type="text"  aria-labelledby="label1" required="required"/>
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-helper-text" id="my-helper-id" >username zur Anmeldung bei unisanServer</div>
                </div>
            </div>
            <div class="test1 form-item useredit-item" id="eventitem-firstname">
                <label class="test1 mdc-text-field mdc-text-field-selector mdc-text-field--outlined">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" id="label2">Vorname</span></span>
                    <span class="mdc-notched-outline__trailing"></span></span>
                    <input class="mdc-text-field__input pageslider-page-dataElement form-inp" id="eventinp-firstname" name="firstname" type="text" aria-labelledby="label2" required="required"/>
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" id="my-helper-id" >Bitte Vornamen angeben</div>
                </div>
            </div>
            <div class="form-item useredit-item" id="eventitem-lastname">
                <label class="test1 mdc-text-field mdc-text-field-selector mdc-text-field--outlined">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="label3">Nachname</span></span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input class="mdc-text-field__input pageslider-page-dataElement form-inp" id="eventinp-lastname" name="lastname" type="text"  aria-labelledby="label3" required="required"/>
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" id="my-helper-id" >Bitte Nachnamen angeben</div>
                </div>
            </div>
        </div>
    </div>
</form>
