<form class="form form-paged">
    <div class="form-page">
        <div class="form-section">
            <div class="form-sectionheader has-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                <span>Passwort</span>
            </div>
            <div class="form-item useredit-item" id="eventitem-password">
                <label id="password" class="mdc-text-field mdc-text-field--outlined">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" id="label_pw">Passwort</span></span>
                    <span class="mdc-notched-outline__trailing"></span></span>
                    <input class="mdc-text-field__input pageslider-page-dataElement form-inp" id="eventinp-password" name="password" type="password" aria-labelledby="label_pw" required="required"/>
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" id="my-helper-id" >mind. 8 Zeichen, davon mind. eine Zahl</div>
                </div>
            </div>
            <div class="form-item useredit-item" id="eventitem-passwordCheck">
                <label id="passwordCheck" class="mdc-text-field mdc-text-field--outlined">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" id="label_pw2">Passwort bestätigen</span></span>
                    <span class="mdc-notched-outline__trailing"></span></span>
                    <input class="mdc-text-field__input pageslider-page-dataElement form-inp" id="eventinp-passwordCheck" name="passwordCheck" type="password" aria-labelledby="label_pw2" required="required"/>
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" id="passwordCheck-helper" >Passwort wiederholen</div>
                </div>
            </div>
        </div>
    </div>
</form>
