<form class="form form-paged">
    <div class="form-page">
        <div class="form-section">
            <div class="form-sectionheader"><span>Bild</span></div>
            <div class="userimg-container addUser-img">
                <div class="userimg">
                    <div class="userimg-overlay changeProfilePicture">
                        <div class="userimg-inner">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                            <span>Bild ändern</span>
                        </div>
                    </div>
                    <img id="userProfileImage" class="userProfileImage" src="/data/user_images/dummy.jpg"/>
                </div>
            </div>

            <div class="form-item useredit-item" id="eventitem-passwordCheck">
                <div class="content-link imgUpload">Bild hochladen</div>
                <input class="hidden pageslider-page-dataElement form-inp" id="userimg_tmpkey" name="userimg_tmpkey" type="text" />
                <div class="clear"></div>
            </div>

        </div>
    </div>
</form>
