
if (user !== undefined)
    script.
        window.userId = "#{user._id}";

if (acl !== undefined)
    script.
        window.dockerAcl =!{JSON.stringify(acl)};

if (dockerArgs !== undefined)
    script.
        window.dockerArgs = !{JSON.stringify(dockerArgs)};
else
    script.
        window.dockerArgs = {}

//
  ***********************************
  ** fonts
  ***********************************
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600' rel='stylesheet')
link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
//
  ***********************************
  ** js libs
  ***********************************
script(src='/lib/jquery/jquery-3.3.1.js')
script(src='/lib/jquery-ui-1.12.1/jquery-ui.js')
script(src='/lib/waypoints/jquery.waypoints.min.js')
//
  ***********************************
  ** js files
  ***********************************
script(src='/dist/init.js')

//
  ***********************************
  ** css libs
  ***********************************
link(rel='stylesheet' type='text/css' href='/lib/hamburgers/hamburgers.css')
link(rel='stylesheet' type='text/css' href='/lib/jquery-ui-1.12.1/jquery-ui.css')

//
  ***********************************
  ** css files
  ***********************************
link(rel='stylesheet' type='text/css' href='/static/unisams/stylesheets/lssc_loader.css')
//
  ***********************************
  ** no js fallback
  ***********************************
noscript
    link(rel='stylesheet' type='text/css' href='/static/unisams/stylesheets/no-js.css')
