#content-wrapper.content-wrapper
    #nav-top.nav-top.nav-collapsing.nav-big.nav-active.desktop
        #nav-label.nav-element.label
            .nav-element-inner
                span.acc1 uni
                span.acc2 Sams
                span.acc3 |  alpha v0.1r
        #nav-right.nav-element.right
            .nav-element-inner
                #changeLang.nav-item
                #userinfo.nav-item
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user") <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle>

                    if locals.user
                        a#username.inline-link(href="/unisams/user/view/"+user.username)= user.username
                    else
                        a#username.inline-link login
                    div#logout
    block content