doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name="robots" content="noindex, nofollow")
    //link(rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=")

    include favicon

    include common_includes
    block page_includes


  body.unisams-body
    include preloader
    #outer-wrapper.outer-wrapper
      include docker
      include content-wrapper
