extends layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/user.css')
    script(src="/static/unisams/js/settings.js")


    script.
        window.activeDockerSection = "settings";


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            h3 database: qualifications
                        #content1-text.sec-content
                            .subpage-options
                                #addQualButton.before-icon.icon-edit Hinzufügen
                            .subpage-content
                                ul.userlist.itemlist
                                    li.user-entry.noSelect.borderBottom
                                        .inner
                                            .item-property type
                                            .item-property title

                                    each qual in qualificationList
                                        li.user-entry.quallist-entry(id= "qualId"+ qual.id data-qualid= qual.id)
                                            a.inner()
                                                .item-property= qual.qualType
                                                .item-property= qual.name
                                                .clear
                            #usermanagment-menu.subpage-menu
                                #btn01.subpage-menu-btn




