@use "@material/snackbar/mdc-snackbar";
@use '@material/button/mdc-button';
@use '@material/button';


@import "~material-icons-font/material-icons-font.css";


@import "../color-rules";
@import "../variables";


.mdc-snackbar {
  .mdc-snackbar__action {
    color: #f5f5f5;
    outline: 1px solid #f5f5f5;
    display: none;
  }
  &.show-action {
    .mdc-snackbar__action {
      display: block;
    }
  }
}