@use "@material/snackbar/mdc-snackbar";
@use '@material/button/mdc-button';
@use '@material/button';


@import "~material-icons-font/material-icons-font.css";


@import "../color-rules";
@import "../variables";


.mdc-snackbar {
  @include button.ink-color(#f5f5f5);
  .mdc-snackbar__action {
    color: #f5f5f5 !important;
    display: none;
  }
  &.show-action {
    .snackbar-action-seperator {
      height: 1em;
      width: 1px;
      border-left: 1px solid #fafafa;
    }
    .mdc-snackbar__action {
      display: block;
    }
  }
}