@import "../../color-rules";
@import "../../variables";

.componentPage-component-container {
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;

  @media #{$desktop, $tablet-landscape} {
    flex-flow: row wrap;
  }

  .componentPage-component-wrapper {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    margin-bottom: 0;

    &.componentPage-component-wrapper--full {
      flex: 0 0 100%;
    }
    &.componentPage-component-wrapper--half {

      @media #{$desktop, $tablet-landscape} {
        flex: 1 1 50%;
        min-width: 20em;
      }
      .componentPage-component {
        height: 100%;
        .componentPage-component-inner {
          height: 100%;
        }
      }
    }
    .componentPage-component {
      width: 100%;

      .componentPage-component-inner {


        margin: 10px;
        padding-bottom: 10px;
        background-color: $page-bg-color;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
        width: calc(100% - 20px);
        &.transparent {
          background-color: transparent;
          box-shadow: unset;
        }

        .componentPage-component-header {
          font-size: 120%;
          margin-bottom: .5em;
          color: #666;
          padding: 12px 12px 0 12px;
          font-variant: small-caps;
          letter-spacing: .15em;
        }
        .componentPage-component-item {
          flex: 1 1 auto;
          padding: 12px 12px 0 12px;
          &__full {
            padding: 0;
          }
        }
      }
    }
  }
}

/**
special classes
 */
