<form class="form form-paged">
    <div class="form-page">
        <div class="form-section">
            <div class="form-sectionheader"><span>Passwort</span></div>
            <div class="form-item useredit-item" id="eventitem-password"><label class="form-item-label form-attribute-name nofloat" for="eventinp-password">Passwort:</label>
                <input class="pageslider-page-dataElement form-inp" id="eventinp-password" name="password" type="password"/>
                <div class="clear"></div>
            </div>
            <div class="form-item useredit-item" id="eventitem-passwordCheck"><label class="form-item-label form-attribute-name nofloat" for="eventinp-passwordCheck">Passwort bestätigen</label>
                <input class="pageslider-page-dataElement form-inp" id="eventinp-passwordCheck" name="passwordCheck" type="password" />
                <div class="clear"></div>
            </div>

        </div>
    </div>
</form>
