<form class="form form-paged">
    <div class="form-page">
        <div class="form-section">
            <div class="form-sectionheader"><span>Datum und Uhrzeit</span></div>
            <div class="form-item useredit-item" id="eventitem-date"><label class="form-item-label form-attribute-name nofloat" for="eventinp-date">Datum:</label>
                <input class="pageslider-page-dataElement form-inp" id="eventinp-date" name="date" type="date" />
                <div class="clear"></div>
            </div>
            <div class="form-float">
                <div class="form-item useredit-item form-griditem" id="eventitem-timeStart"><label class="form-item-label form-attribute-name nofloat" for="eventinp-timeStart">von:</label>
                    <input class="pageslider-page-dataElement form-inp timepicker" id="eventinp-timeStart" name="timeStart" type="time" value="19:00" />
                    <div class="clear"></div>
                </div>
                <div class="form-item useredit-item form-griditem" id="eventitem-timeEnd"><label class="form-item-label form-attribute-name nofloat" for="eventinp-timeEnd">bis:</label>
                    <input class="pageslider-page-dataElement form-inp timepicker" id="eventinp-timeEnd" name="timeEnd" type="time" value="21:00" />
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="form-section">
            <div class="form-sectionheader"><span>Location</span></div>
            <div class="form-item useredit-item" id="eventitem-date"><label class="form-item-label form-attribute-name nofloat" for="eventinp-location">Adresse:</label>
                <input class="pageslider-page-dataElement form-inp" id="eventinp-location" name="location" type="text" />
                <div class="clear"></div>
            </div>
        </div>
    </div>
</form>
