<form class="form form-paged">
    <div class="form-page">
        <div class="form-section">
            <div class="form-sectionheader"><span>Allgemeines</span></div>
            <div class="form-sectionheader"></div>
            <div class="form-item useredit-item" id="eventitem-username"><label class="form-item-label form-attribute-name nofloat" for="eventinp-title">username</label>
                <input class="pageslider-page-dataElement form-inp" id="eventinp-username" name="username" type="text" />
                <div class="clear"></div>
            </div>
            <div class="form-item useredit-item" id="eventitem-firstname"><label class="form-item-label form-attribute-name nofloat" for="eventinp-title">Vorname:</label>
                <input class="pageslider-page-dataElement form-inp" id="eventinp-firstname" name="firstname" type="text" />
                <div class="clear"></div>
            </div>
            <div class="form-item useredit-item" id="eventitem-lastname"><label class="form-item-label form-attribute-name nofloat" for="eventinp-title">Nachname:</label>
                <input class="pageslider-page-dataElement form-inp" id="eventinp-lastname" name="lastname" type="text" />
                <div class="clear"></div>
            </div>
        </div>
    </div>
</form>
