@import "../color-rules";
@import "../variables";


.subpage-topbar {
  //border-bottom: 1px solid #333;
}

#participantslist-container {
  position: relative;
}

#userlist-top-container {
  background-color: #fAfAfA;
  border-bottom: 1px solid #666;
}

#userlist-top {
  border-top: 1px solid #AAA;
  width: 100%;
  li {
    background-color: #fAfAfA;
  }
}
.participants-list {
  .user-participate-button {
    &.hidden {
      display: none !important;
    }
  }
}

.participant-menu-container {
  .mdc-menu {
    .mdc-deprecated-list {
      li {
        font-size: 80%;
        .mdc-deprecated-list-item__graphic {

        }
        .mdc-deprecated-list-item__text {

        }
      }
    }
  }
}
