<div class="dashPage-component dashWidget-news">
    <div class="dashPage-component-inner">
        <div class="dashPage-component-header"><span>Mein nächstes Event:</span></div>
        <div class="dashPage-component-item">
            <div class="dashinfo-item-inner dash-item-eventPreview">
                <div class="eventCard" data-viewkey={{event.id}}>
                    <div class="inner">
                        <div class="item-property title gallery-heading eventcard-heading">
                            {{{event.title.html}}}
                            <div class="gallery-heading-inner date">{{{event.type.value}}}</div>
                            <div class="gallery-heading-inner date">{{{event.dateRangeString}}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eventinfo-item-spacer"></div>
        </div>
    </div>
</div>