
<div id="sidebar" class="sidebar">
    <div class="sidebar-top">
        <div class="sidebar-back-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div class="sidebar-title">
            <span>{{group.title}}</span>
        </div>
    </div>
    <div id="sidebar-inner" class="sidebar-inner">
        <div class="sidebar-content">
            <div class="sidebar-section top-section">
                <div class="sidebar-title">
                    <span>Rolle bearbeiten</span>
                </div>
                <div class="section-content">

                </div>
            </div>
            <div class="sidebar-section body-section">
                <div class="section-content">
                    <div class="ak-form">
                        <div class="ak-item ak-value">
                            <label for="changeGroupForm-operation">operation</label>
                            <select class="common-select" id="changeGroupForm-operation" name="changeGroupForm-operation">
                                    <option value="">NOT IMPLEMENTED</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-bottom">
            <a class="sidebar-confirm content-link">Speichern</a>
        </div>
    </div>
</div>
