@page-bg: #fff;
@item-bg: #fff;

.protocol--divi {
  //font-family: arial, sans-serif;

  .divi-page {
    display: none;
    &.active  {
      display: block;
    }
  }
  input {
    font-family: monospace;
  }
  .indent  {
    margin-left: 1em;
  }
  .space-below {
    margin-bottom: 1em;
  }
  .col-gap5 {
    column-gap: 5px;
  }
  .span2 {
    grid-column: span 2;
  }
  .span3 {
    grid-column: span 3;
  }
  .span4 {
    grid-column: span 4;
  }
  .row-span2 {
    grid-row: span 2;
  }
  .row-span3 {
    grid-row: span 3;
  }
  .row-span4 {
    grid-row: span 4;
  }
  .double-column {
    grid-column: 1 / span 2;
  }
  .triple-column {
    grid-column: 1 / span 3;
  }
  .double-row {
    grid-row: 1 / span 2;
  }
  .row-items-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    &.min-content {
      grid-template-columns: repeat(4, min-content) !important;
    }
    &.auto {
      grid-template-columns: repeat(4, auto) !important;
    }
  }
  .row-items-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    &.min-content {
      grid-template-columns: repeat(3, min-content) !important;
    }
    &.auto {
      grid-template-columns: repeat(3, auto) !important;
    }
  }
  .row-items-2{
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    &.min-content {
      grid-template-columns: repeat(2, min-content) !important;;
    }
    &.auto {
      grid-template-columns: repeat(2, auto) !important;
    }
  }
  .row-items-1{
    display: grid;
    grid-template-columns: auto !important;
  }
  .shrink-rows {
    .shrinking-row {
      &.auto {}
    }
    .shrinking-row-2 {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(2, min-content) !important;
      &.min-auto {
        grid-template-columns: min-content auto !important;
      }
    }
    .shrinking-row-3 {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(3, min-content) !important;
    }
    .shrinking-row-4 {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(4, min-content) !important;
    }
    .shrinking-row-5 {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(5, min-content) !important;
    }
  }
  .protocol-grid-item {
    padding: .5em .5em;
    border: 1px solid #000;
  }

  .page1 {
    .protocol-row--1 {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: auto;
      grid-template-areas:
              "stammdaten1 einsatzdaten"
              "stammdaten2 einsatzdaten"
              "stammdaten3 einsatzdaten"
              "stammdaten4 einsatzdaten";

      .divi--stammdaten1 {
        grid-area: stammdaten1;

        .divi--stammdaten1-geburtstag {
          display: grid;
          //grid-template-columns: 30% 6% 6% 6% 6% 5% 5% 5% 5% 1fr;
          grid-template-columns: 30% repeat(8, 25px) 1fr;
          .protocol-select-labeled {
            font-size: 70%;
            color: #666;

            display: flex;
            flex-flow: row nowrap;
            input, label {
              flex: 0 0 auto;
            }
          }
        }
      }
      .divi--stammdaten2 {
        font-size: 80%;
        grid-area: stammdaten2;
        display: grid;
        grid-template-columns: 30% 30% 40%;

        .divi--stammdaten2-sec1, .divi--stammdaten2-sec2, .divi--stammdaten2-sec3 {
          border-left: 1px solid #333;
        }


        .divi--stammdaten2-sec1 {
          border:none;
          display: grid;
          grid-template-columns: min-content auto;
          grid-template-rows: auto;

          .protocol-form-radioSet {

          }

          .radioset--geschlecht {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 33% 33% 33%;
          }
        }
        .divi--stammdaten2-sec2 {
          display: grid;
          grid-template-columns: min-content auto;
          padding: 0 .5em;
          .radioset--bmi {
            grid-column: 2;
            grid-row: 1 / span 2;

            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 50% 50%;
          }
          .protocol-helper-text {
            span {
              display: block;
              font-size: 90%;
              &:first-of-type {
                border-bottom: 1px solid #333;
              }
            }
          }
        }
        .divi--stammdaten2-sec3 {
          display: grid;
          grid-template-columns: 30% 33% 30%;
          grid-template-rows: 2fr 1fr;
          row-gap: 4px;
          text-align: center;
          .age-container {
            width: 100%;
            display:grid;
            grid-template-columns: 25px 25px;
            input:last-of-type {
              border-right: 1px solid #333;
            }
          }
          .radio-input-container {
            font-size: 80%;
          }
        }
      }
      .divi--stammdaten3 {
        background-color: #EEE;
        grid-area: stammdaten3;
        display: flex;
        flex-flow: column nowrap;
        .divi-label {
          flex: 0 0 min-content;
          display: flex;
          flex-flow: row nowrap;
          font-weight: bold;
          h3, span {
            flex: 1 1 auto;

          }
          h3 {
            margin: 0;
            font-size: 150%;
          }
        }
        .divi-label-subtext {
          font-size: 80%;
        }
      }
      .divi--stammdaten4 {
        font-size: 80%;
        grid-area: stammdaten4;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: min-content auto 33%;
        grid-row-gap: 4px;
        grid-column-gap: 4px;
        .radioset--nummer {
          display: grid;
          grid-template-rows: 50% 50%;
          grid-template-columns: auto;
        }
        .inputset--nummer {
          display: grid;
          grid-template-columns: repeat(7, 25px)
        }
        .inputset--persnummer {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto;
          align-content: end;
          width: auto;
          .label {
            vertical-align: center;
          }
          .age-container {
            width: 100%;
            display:grid;
            grid-template-columns: min-content min-content min-content;
            .protocol-form-input--date {
              width: 25px;
            }
          }
        }
        .inputset--standort {
          grid-row: 2;
          grid-column: 1 / span 2;
        }
        .inputset--leitstelle{
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto;
          align-content: end;
          width: auto;
          .label {
            vertical-align: center;
          }
          .kfz-container {
            width: 100%;
            display:grid;
            grid-template-columns: min-content min-content min-content;
            .protocol-form-input--date {
              width: 25px;
            }
          }
        }
      }
      .divi--einsatzdaten {
        grid-area: einsatzdaten;

        .divi--einsatzdaten-header {
          display: grid;
          grid-template-columns: min-content 1fr;

          .divi--einsatzdaten-header-text {
            font-weight: bold;
            white-space: nowrap;
          }

          .divi--einsatzdaten-select {
            font-size: 80%;

            justify-items: end;
            display: grid;
            grid-template-columns: repeat(8, auto);
            grid-template-rows: 1fr 1fr;
            .label {
              grid-column: 1;
              grid-row: 1 / span 2;
            }

            .protocol-select-labeled {
              display: flex;
              flex-flow: row nowrap;
              input, label {
                flex: 0 0 auto;
              }
            }
            .r1c2 {
              grid-column: 2 / span 2;
              grid-row: 1;
            }
            .r2c2 {
              grid-column: 2 / span 2;
              grid-row: 2;
            }
          }

        }
        .divi--einsatzdaten-body {
          display: grid;
          grid-template-columns: 60% 40%;
          grid-column-gap: 10px;

          .divi--einsatzdaten-col1 {
            .divi--einsatzdaten-datum {
              display: grid;
              grid-template-columns: 30% repeat(8, 25px);
              .protocol-select-labeled {
                font-size: 70%;
                color: #666;

                display: flex;
                flex-flow: row nowrap;
                input, label {
                  flex: 0 0 auto;
                }
              }
            }
            .divi--einsatzdaten-plz {
              .plz {
                margin-left: 40%;
                margin-right: 5px;
              }
              .ort {

              }

            }
            .divi--einsatzdaten-ort {
              font-size: 70%;
              grid-template-columns: auto;
              .radioset--ort {
                margin-left: 15%;
                display: grid;
                grid-template-columns: repeat(4, min-content);
                grid-template-rows: repeat(4, min-content);
                .sportstaette {
                  grid-column: 1 / span 3;
                  grid-row: 4;
                }
              }
            }
            .divi--einsatzdaten-art {
              font-size: 100%;
              grid-template-columns: 30% 70%;
              .label {
                font-size: 80%;
              }
              .radioset--art {
                font-size: 70%;
                margin-left: 10%;
                display: grid;
                grid-template-columns: repeat(2, min-content);
                grid-template-rows: repeat(3, min-content);
                .fehleinsatz {
                  position: relative;
                  &:after {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    bottom: -12px;
                    left: 0;
                    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg>');
                  }
                }
              }
            }
            .divi--einsatzdaten-fehleinsatz {
              font-size: 70%;
              grid-template-columns: auto;
              .radioset--fehleinsatz {
                border: 1px solid #666;
                margin-left: 15%;
                display: grid;
                grid-template-columns: repeat(2, min-content);
                grid-template-rows: repeat(2, min-content);
              }
            }
            .divi--einsatzdaten-ziel {
              font-size: 70%;
              padding-left: 5%;
              display: grid;
              grid-template-columns: repeat(4, min-content);
              grid-template-rows: auto;

            }
          }
          .divi--einsatzdaten-col2 {
            .protocol-select-labeled {
              font-size: 70%;
              color: #666;
              display: flex;
              flex-flow: row nowrap;
              width: 100%;
              input, label {
                flex: 0 0 auto;
                white-space: nowrap;
              }
            }
            padding-right: 20px;
            justify-content: end;
            .divi--einsatzdaten-symptombeginn-radioSet {
              display: flex;
              flex-flow: column nowrap;
              input {
                margin: 0;
              }
            }
            .divi--einsatzdaten-facharzt {

              display: grid;
              grid-template-columns: 40% 60%;

              .divi--einsatzdaten-facharzt-radioSet {
                font-size: 80%;
                display: flex;
                flex-flow: column nowrap;
                .radio-input-container {
                  flex: 0 0 auto;
                }

              }
              .divi--einsatzdaten-facharzt-select {
                border: 1px solid #AAA;
                display: grid;
                grid-template-rows: auto auto auto auto;
                grid-template-columns: auto auto;

                .double-column {
                  grid-row: 4;
                  grid-column: 1 / span 2;
                }

                input {
                  margin: 0;
                }
              }
            }
            .divi--einsatzdaten-rs {
              font-size: 80%;
              .divi--einsatzdaten-rs-radioSet {
                display: grid;
                grid-template-columns: repeat(4, auto);
                grid-template-rows: auto;
              }

            }
            .input-funkkenner {
              grid-template-columns: min-content auto;
              grid-column-gap: 5px;
            }
            .divi--einsatzdaten-uhrzeit {
              display: grid;
              grid-template-columns: auto repeat(4, 25px);

            }
          }
        }


      }
    }
    .protocol-row-2 {

      .divi--notfallgeschehen {
        .divi--notfallgeschehen-grid {
          display: grid;
          grid-template-columns: 60% 40%;
          grid-template-rows: auto auto;


          .divi--notfallgeschehen-selects {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(8, auto);
            font-size: 70%;

            .indent  {
              padding-left: 20px;
            }
            input {
              margin: 0;
            }
            .double-column {
              grid-column: 1 / span 2;
            }
          }

          .divi--notfallgeschehen-text1 {

            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto 1fr 1fr 1fr;
            input.protocol-form-input {
              width: 90%;
              height: 1.5em;
            }
          }
          .divi--notfallgeschehen-text2 {
            input.protocol-form-input {
              width: 100%;
              height: 1.5em;
            }
            grid-row: 2;
            grid-column: 1 / span 2;
            margin-bottom: 1em;
          }
        }
      }

    }
    .protocol-row-3 {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;

      .divi--erstbefunde1 {

        .divi--erstbefunde1-row1 {
          grid-template-columns: auto min-content;

          .divi--erstbefunde1-uhrzeit {
            display: grid;
            grid-template-columns: min-content repeat(4, 25px);
            grid-template-rows: auto;
            label {
              margin-right: 1em;
            }
          }
        }
        .divi--erstbefunde1-container {
          display: grid;
          grid-template-columns: 50% 50%;
          font-size: 80%;

          .divi--erstbefunde1-container-column {
            margin-left: 1em;


            .divi--erstbefunde1-container-item {
              margin-bottom: .5em;
              .container-item-title {
                font-weight: bold;
                display: block;
              }
              .container-item-content {
                margin-left: 1em;
                display: grid;
                grid-template-columns: auto min-content;

                &.gcs-content {
                  grid-template-columns: auto min-content 100px;

                  .gcs-input {
                    margin-left: 2em;
                    grid-area: ~"1  / 3 / 6 / 3";
                    input {
                      margin: auto .5em auto auto;
                      width: 20px;
                      height: 20px;
                      padding: 15px;
                      border: 1px solid #333;
                    }
                  }
                  .gcs-input-labeled {
                    margin-left: 1em;
                    grid-area: ~"1  / 3 / 6 / 3";
                    display: grid;
                    grid-template-rows: min-content 25px 25px;
                    grid-template-columns: min-content 25px 25px;
                    span {
                      margin-right: 2px;
                    }
                    input {
                      border: 1px solid #333;
                    }
                  }
                }

                .container-item-content-subsection {
                  margin-left: 1em;
                  display: grid;
                  grid-template-columns: auto min-content;
                }
              }
            }

            .gcs-summary-item {
              display: grid;
              grid-template-rows: auto auto;
              grid-template-columns: auto 100px;
              justify-items: flex-end;
              .container-item-title {
                font-size: 110%;
              }
              .gcs-summary-input {
                margin: auto .5em auto auto;
                width: auto;
                grid-template-columns: 25px 25px;
              }
              .subtext {
                font-size: 70%;
                color: #666;
              }
            }
          }
          .divi--erstbefunde1-container-column--right {
            .container-radio-content {
              grid-template-columns: auto auto;
              &.grid-mid {
                grid-template-columns: 1fr 1fr;
              }
            }
          }
        }
      }

      .divi--erstbefunde2 {

        .divi--erstbefunde2-row1 {
          grid-template-columns: auto min-content;

          .divi--erstbefunde2-schmerzen {
            grid-template-columns: min-content auto;
            grid-column-gap: 10px;

            .form-input-scale {
              display: grid;
              grid-template-rows: auto;
              grid-template-columns: repeat(10, minmax(auto, 1.5em));
              grid-column-gap: 9px;

              .scale-item {
                border: 1px solid #333;
                position: relative;

                &.selectable-scale-item {

                  cursor: pointer;

                  &.selected {
                    .checkmark {
                      display: block !important;
                    }
                  }
                  .checkmark {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: none;
                    //transform: translateY(-50%);
                    background-color: rgba(0,0,0,0.6);


                    &:before {
                      transform: rotate(-45deg);
                    }

                    &:after {
                      transform: rotate(45deg);
                    }
                  }
                }

                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 50%;
                  right: -10px;
                  width: 10px;
                  height: 1px;
                  background-color: #333;
                }

                &.last {
                  &:after {
                    display: none;
                  }
                }

                .scale-overlay {
                  margin: 0 5px;
                  width: auto;
                  font-size: 90%;
                }
                input {
                  margin: 0;
                }
              }
            }
          }
        }

        .divi--erstbefunde2-row2 {
          display: grid;
          grid-template-columns: 2fr 1fr 1fr;
          grid-template-rows: auto;

          .rr-container {
            display: grid;
            grid-template-columns: min-content min-content;
            grid-template-rows: auto auto;
            grid-column-gap: 5px;
            .rr-part {
              grid-template-columns: min-content repeat(3,25px);
              grid-template-rows: 2em;
              .font-big {
                font-size: 120%;
              }
            }
          }
          .hf-container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 2em auto;
            grid-column-gap: 5px;
            .hf-part {
              grid-template-columns: min-content repeat(3,25px);
            }
            .hf-radio {
              font-size: 80%;
            }
          }
          .bz-container {
            display: grid;
            grid-template-columns: min-content min-content;
            grid-template-rows: 2em auto;
            grid-column-gap: 5px;
            .bz-part {
              grid-template-columns: min-content repeat(3,25px);
            }
            .bz-radio {
              font-size: 80%;
            }
            .bz-button {
              display: grid;
              grid-template-columns: auto;
              grid-template-rows: auto auto;
              div {
                border: 1px solid #666;
                font-size: 60%;
                font-weight: bold;
                &.selected {
                  background-color: #f82f2f;
                }
              }

            }
          }
        }
        .divi--erstbefunde2-row3 {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: auto auto;

          .af-container {
            display: grid;
            grid-template-columns: min-content;
            grid-template-rows: auto auto;
            grid-column-gap: 5px;

            .af-part {
              grid-template-columns: min-content repeat(2, 25px);
              grid-template-rows: 2em;
            }
          }

          .spo2-container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 2em auto;
            grid-column-gap: 5px;

            .spo2-part {
              grid-template-columns: min-content repeat(3, 25px);
            }

            .spo2-radio {
              font-size: 80%;
            }
          }

          .temp-container, .co2-container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 2em auto;
            grid-column-gap: 5px;

            .temp-part, .co2-part {
              grid-template-columns: min-content repeat(3, 25px);
            }
          }
          .sofa-container {
            display: grid;
            grid-template-columns: min-content auto;
            grid-template-rows: 2em auto;
            grid-column-gap: 10px;

            .protocol-helper-text {
              font-size: 60%;
            }

            .sofa-part {
              grid-template-columns: min-content repeat(1, 25px);
            }
          }
        }

        .divi--erstbefunde2-row4 {
          display: grid;
          grid-template-columns: auto;
          grid-row-gap: .5em;
          .title {
            font-variant: small-caps;
            font-weight: bold;
          }
          .divi--erstbefunde2--ekg {
            display: grid;
            grid-template-rows: auto auto auto auto auto;
            grid-template-columns: 20% repeat(3, 1fr)

          }
          .divi--erstbefunde2--atmung {
            display: grid;
            grid-template-rows: auto auto auto auto;
            grid-template-columns: 20% repeat(4, 1fr);

            .span3 {
              grid-column: 2 / span 3;
            }
          }
          .divi--erstbefunde2--haut {
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: 20% repeat(3, 1fr);
          }
          .divi--erstbefunde2--psych {
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: 20% repeat(4, 1fr);
          }
        }
      }

    }
    .protocol-row-4 {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto;

      .divi--erkrankungen {
        grid-row: 1 / span 2;
        grid-column: 1;

        .divi--erkrankungen-row1 {
          grid-template-columns: auto min-content;

        }
        .divi--erkrankungen-container {
          display: grid;
          grid-template-columns: 50% 50%;
          font-size: 80%;

          .divi--erkrankungen-container-column {
            margin-left: 1em;


            .divi--erkrankungen-container-item {
              margin-bottom: .5em;
              .container-item-title {
                font-weight: bold;
                display: block;
              }
              .container-item-content, .container-radio-content {
                margin-left: 1em;
                display: grid;
                grid-template-columns: auto min-content;

                .container-item-content-subsection {
                  margin-left: 1em;
                  display: grid;
                  grid-template-columns: auto min-content;
                }
              }
            }
          }
          .divi--erkrankungen-container-column--right {
            .container-radio-content {
              grid-template-columns: auto auto;
              &.grid-mid {
                grid-template-columns: 1fr 1fr;
              }
            }
            .intox {
              position: relative;
              &:after {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                right: -35px;
                transform: scaleX(1.3);
                content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="0" y1="12" x2="24" y2="12"></line><polyline points="17 7 24 12 17 17"></polyline></svg>');
              }
            }
            .psych-box {
              grid-row: 2 / span 4;
              grid-column: 2;
              border: 1px solid #333;
              display: grid;
              grid-template-columns: min-content auto;
              grid-template-rows: repeat(4,auto);
            }
          }
        }
      }

      .divi--verletzungen {
        grid-row: 1;
        grid-column: 2;
        .divi--verletzungen-topRow {
          display: grid;
          grid-template-columns: auto min-content;
          grid-template-rows: auto auto;
          margin-bottom: 1em;

          .toprow-element {
            display: flex;
            flex-flow: row nowrap;
            white-space: nowrap;
            justify-content: flex-end;
          }
        }
        .divi--verletzungen-row1 {
          font-size: 80%;
          margin-bottom: 2em;
          &.divi--verletzungen-grid {
            display: grid;
            grid-template-columns: min-content auto auto auto 1px auto auto 1px auto;
            grid-template-rows: repeat(11, auto);
            grid-column-gap: 5px;
            white-space: nowrap;
            word-break: keep-all;
            justify-items: center;

            .grid-seperator {
              width: 1px;
              height: 100%;
              background-color: #333;
              grid-row: 1 / span 11;
              &.col5 {
                grid-column: 5;
              }
              &.col8 {
                grid-column: 8;
              }
            }
          }
        }
        .divi--verletzungen-row2 {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: auto;
          grid-column-gap: 1em;


          .divi--verletzungen-row2-left {
            display: grid;
            grid-template-columns: auto;
            border-right: 1px solid #333;
            .number-input {
              width: 2em;
            }
          }
          .divi--verletzungen-row2-right {
            display: grid;
            grid-template-columns: auto min-content  1fr 1fr;
            grid-template-rows: repeat(9, auto);
          }
        }
      }

      .divi--erstdiagnose {
        .divi--erstdiagnose-row1 {
          margin-bottom: 1em;
          .text-input {
            width: 98%;
            margin: auto;
          }
        }
        .divi--erstdiagnose-row2 {
          display: grid;
          grid-template-columns: min-content 1fr 1fr 1fr min-content;
          grid-template-rows: auto auto auto;
          grid-column-gap: 5px;

          .score {
            grid-column: 1;
            grid-row: 2 / span 2;
          }
          .iv {
            grid-column: 2;
            grid-row: 2 / span 2;
          }
          .pal {
            grid-column: 5;
            grid-row: 1 / span 3;
            border-left: 1px solid #333;
            padding-left: 5px;
            label {
              white-space: normal;
              flex: 1 1 auto;
            }
          }
        }
      }
    }
  }
  .page2 {
    .protocol-row-1 {
      display: grid;
      grid-template-columns: 55% 45%;
      grid-template-rows: auto auto auto;

      .divi--verlauf {
        .divi--verlauf-row1 {
          grid-template-columns: auto min-content;
        }
        .divi--verlauf-container {
          display: block;
          .divi--verlauf-img {
            img {
              width: 100%;
            }
          }
        }
      }
      .divi--medikation {
        display: block;
        .divi--medikation-topRow {
          display: grid;
          grid-template-columns: min-content min-content;
          grid-column-gap: 1em;
          .toprow-element {
            display: flex;
            flex-flow: row nowrap;
            white-space: nowrap;
            justify-content: flex-end;
          }
        }
        .divi--medikation-container {
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-rows: repeat(7, auto);
          column-gap: 5px;

          font-size: 80%;
          .medikation-table {
            display: grid;
            grid-template-columns: 50% 50%;
            .title {
              font-size: 80%;
              padding: 5px;
            }
            > div {
              border: 1px solid #333;
              border-bottom: none;
              border-right: none;
              &.last-row {
                border-bottom: 1px solid #333;
              }
              &.last-col {
                border-right: 1px solid #333;
              }
            }
            .medikation-table-input {
              input {
                width: calc(~"100% - 10px");
                margin: 0 auto;
                padding: 3px;
                border: 0
              }
            }
          }
        }
        .medikation-bottomRow {
          display: grid;
          grid-template-columns: auto auto;
          grid-column-gap: 10px;
          font-size: 80%;
          .medikation-int-container {
            border: 1px solid #333;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto;
            column-gap: 5px;
            .text-input {
              width: 95%;
              margin-left: auto;
              margin-right: auto;
            }
          }
          .medikation-lyse-container {

            border-top: 1px solid #333;
            display: grid;
            grid-template-columns: min-content auto auto;
            grid-template-rows: auto auto auto auto;
            column-gap: 5px;

          }
        }
      }
      .divi--tod {
        display: flex;
        flex-flow: column nowrap;
        .divi--tod-topRow {
          display: grid;
          grid-template-columns: min-content auto;
          grid-gap: 1em;

        }
        .tod-header {
          display: flex;
          flex-flow: row nowrap;
          align-items: baseline;
          font-size: 120%;
          .header-part {
            flex: 0 0 auto;
            margin-right: 10px;
          }
        }
        .divi--tod-container {
          display: grid;
          grid-template-columns: auto auto;

          font-size: 80%;

          .sonst-inp {
            max-width: 6em;
          }
        }
      }
      .divi--massnahmen {
        grid-row: ~"1 / span 3";
        grid-column: 2;
        .divi--massnahmen-zu-container {
          .divi--massnahmen-zu-container-content {
            display: grid;
            grid-template-columns: min-content auto min-content;
            grid-column-gap: 10px;
            grid-row-gap: 5px;
          }
        }
        .divi--massnahmen-at-container {
          .divi--massnahmen-at-container-content {
            display: grid;
            grid-template-columns: min-content auto auto;
            grid-column-gap: 5px;
            label {
              white-space: nowrap;
            }
          }
        }
        .divi--massnahmen-be-container {
          .divi--massnahmen-be-container-content {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-column-gap: 5px;
            label {
              white-space: nowrap;
            }
          }
        }
        .divi--massnahmen-defi-container {
          .divi--massnahmen-defi-container-content {
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 5px;
            label {
              white-space: nowrap;
            }
          }
        }
        .divi--massnahmen-rea-container {
          .divi--massnahmen-rea-container-content {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-column-gap: 5px;
            label {
              white-space: nowrap;
            }
          }
        }
        .divi--massnahmen-sonst-container {
          .divi--massnahmen-sonst-container-content {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-column-gap: 5px;
            label {
              white-space: nowrap;
            }
          }
        }
      }
    }
    .protocol-row-2 {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto;
      border: 1px solid #333;
      font-size: 80%;
      .protocol-grid-item {
        border: none;
      }

      .divi--uebergabe-werte {

        display: grid;
        grid-row-gap: 5px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        label {
          &.center-vertically {
            align-self: center;
          }
        }

        .rr-container {
          display: grid;
          grid-template-columns: min-content min-content;
          grid-template-rows: auto auto;
          grid-column-gap: 5px;
          .rr-part {
            grid-template-columns: min-content repeat(3,25px);
            grid-template-rows: 2em;
            .font-big {
              font-size: 120%;
            }
          }
        }
        .hf-container {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 2em auto;
          grid-column-gap: 5px;
          .hf-part {
            grid-template-columns: min-content repeat(3,25px);
          }
          .hf-radio {
            font-size: 80%;
          }
        }
        .bz-container {
          display: grid;
          grid-template-columns: min-content min-content;
          grid-template-rows: 2em auto;
          grid-column-gap: 5px;
          .bz-part {
            grid-template-columns: min-content repeat(3,25px);
          }
          .bz-radio {
            font-size: 80%;
          }
          .bz-button {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            div {
              border: 1px solid #666;
              font-size: 60%;
              font-weight: bold;
              &.selected {
                background-color: #f82f2f;
              }
            }
          }
        }
        .af-container {
          display: grid;
          grid-template-columns: min-content;
          grid-template-rows: auto auto;
          grid-column-gap: 5px;

          .af-part {
            grid-template-columns: min-content repeat(2, 25px);
            grid-template-rows: 2em;
          }
        }
        .spo2-container {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 2em auto;
          grid-column-gap: 5px;

          .spo2-part {
            grid-template-columns: min-content repeat(3, 25px);
          }

          .spo2-radio {
            font-size: 80%;
          }
        }
        .temp-container, .co2-container {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 2em auto;
          grid-column-gap: 5px;

          .temp-part, .co2-part {
            grid-template-columns: min-content repeat(3, 25px);
          }
        }
        .divi--uebergabe-schmerzen {
          font-size: 110%;
          grid-template-columns: min-content auto;
          grid-column-gap: 10px;

          .form-input-scale {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(10, minmax(auto, 1.5em));
            grid-column-gap: 9px;

            .scale-item {
              border: 1px solid #333;
              position: relative;

              &.selectable-scale-item {

                cursor: pointer;

                &.selected {
                  .checkmark {
                    display: block !important;
                  }
                }
                .checkmark {
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  display: none;
                  //transform: translateY(-50%);
                  background-color: rgba(0,0,0,0.6);


                  &:before {
                    transform: rotate(-45deg);
                  }

                  &:after {
                    transform: rotate(45deg);
                  }
                }
              }

              &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: -10px;
                width: 10px;
                height: 1px;
                background-color: #333;
              }

              &.last {
                &:after {
                  display: none;
                }
              }

              .scale-overlay {
                margin: 0 5px;
                width: auto;
                font-size: 90%;
              }
              input {
                margin: 0;
              }
            }
          }
        }
      }
      .title {
        font-size: 120%;
        font-variant: small-caps;
        font-weight: bold;
      }
      .divi--uebergabe--ekg {
        font-size: 90%;
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto repeat(3, auto)

      }
      .divi--uebergabe--atmung {
        font-size: 90%;
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto repeat(4, auto);

        .span3 {
          grid-column: 2 / span 3;
        }
      }
      .divi--uebergabe-bewusstsein {
        font-size: 90%;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto repeat(4, auto)
      }
    }
    .protocol-row-3 {
      font-size: 70%;
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-rows: auto auto;
      .divi--einsatzverlauf  {
        padding: 0;
        display: grid;
        grid-template-columns: auto;
      }
      .divi--ende {
        padding: 0;
        display: grid;
        grid-template-columns: auto auto;
        .t-inp {
          width: 80%;
        }
      }
      .divi--bemerkungen {
        display: grid;
        grid-template-columns: auto;
        .unterschrift {
          width: 40%;
          margin-left: auto;
          margin-right: 0;
          input {
            width: 100%;
          }
        }

      }
    }

  }


  .protocol-form-set {
    width: 100%;
    .protocol-form-set-header {
      margin-bottom: .2em;
      display: flex;
      flex-flow: row nowrap;
      h3 {
        font-weight: bold;
        margin: 0;
        font-size: 110%;
        flex: 1 1 auto;
      }
      span {
        font-size: 70%;
        color: #AAA;
        flex: 1 1 auto;
      }
    }
  }

  .protocol-form-inputSet {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: .5em;

    &.unlabeled {
      grid-template-columns: auto;
    }
    &.label-after {
      grid-template-columns: auto min-content;
    }

    &.single-input {
      input {
        width: 25px;
      }
    }
    &.protocol-form-dateInput {
      &.input-2 {
        display: grid;
        grid-template-columns: 25px 25px;
        &.label-after {
          grid-template-columns: 25px 25px min-content;
        }
        &.label {
          grid-template-columns: min-content 25px 25px;
        }
      }
      &.input-4 {
        display: grid;
        grid-template-columns: repeat(4, 25px);
        &.label-after {
          grid-template-columns: repeat(4, 25px) min-content;
        }
        &.label {
          grid-template-columns: min-content repeat(4, 25px);
        }
      }
    }



    label {
      display: block;
      color: #333;
      font-size:80%;
      //width: 30%;
      white-space: nowrap;


    }

    input {
      display: block;
      //width: 70%;
    }

    &.protocol-form-dateInput {
      grid-template-columns: repeat(8, 25px);
      grid-column-gap: 0;


      .date-input-container {
        position: relative;
        &:first-of-type {

        }

        input.protocol-form-input--date {
          width: 25px;
          //min-width: 25px;
          text-align: center;
        }
        &:first-of-type {
          input.protocol-form-input--date {
            border-left: 1px solid #666;
          }
        }
        &.border-left {
          input.protocol-form-input--date {
            border-left: 1px solid #666;
          }
        }
        &.border-right {
          input.protocol-form-input--date {
            border-right: 1px solid #666;
          }
        }
        &:last-of-type {
          input.protocol-form-input--date {
            border-right: 1px solid #666;
          }
        }
      }

      input.protocol-form-input--date {
        border: none;
        border-bottom: 1px solid #666;
        padding: 0;
        height: 100%;


      }

      .seperator-small, .seperator-big {
        width: 1px;
        background-color: #333;
        position: absolute;
        bottom: 0;
        right: 0;

      }

      .seperator-small {
        height: .6em;
      }

      .seperator-big {
        height: 1em;
      }
    }
  }

  .radio-input-container {
    display: flex;
    flex-flow: row nowrap;
    vertical-align: center;
    input, label {
      margin: 0 2px 0 2px;
      flex: 0 0 auto;
      justify-content: flex-end;
    }
  }
  .protocol-form-input {
    display: block;

    &.protocol-form-input--border {
      border: 1px solid #666;
      border-top: none;
    }
    &.protocol-form-input--border-bottom {
      border: none;
      border-bottom: 1px solid #666;
    }
  }

  .checkbox-square {
    position: relative;

    input {
      position: absolute;
      width: 25px;
      height: 15px;
      opacity: 0;
      margin: 0;

      &:checked ~ .checkmark {
      }
      &:checked ~ .checkmark:after, &:checked ~ .checkmark:before {
        display: block;
      }
    }
    .checkmark {
      top:0;
      left: 0;
      height: 15px;
      width: 25px;
      border: 1px solid #666;
      //background-color: #333;
      &:before, &:after {
        content: "";
        position: absolute;
        display: none;
        background-color: #666;

        left: 12px;
        top: -3px;
        width: 1px;
        height: 24px;
      }
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }
  .divi-container-item {
    margin-bottom: .5em;
    font-size: 80%;
    .container-item-title {
      font-weight: bold;
      display: block;
    }
    .container-content, .container-item-content, .container-radio-content {
      margin-left: 1em;
      display: grid;

      .container-item-content-subsection {
        margin-left: 1em;
        display: grid;
        grid-template-columns: auto min-content;
      }
    }
    .container-item-content, .container-radio-content {
      grid-template-columns: auto min-content;
    }

  }

  .font-small {
    font-size: 80%;
  }
  .font-big {
    font-size: 120%;
  }
  .font-bold {
    font-weight: bold;
  }

  .center {
    text-align: center;
  }

  .nowrap {
    white-space: nowrap;
  }

  .protocol-helper-text {
    font-size: 70%;
    color: #666;
    display: block;
  }
  .hidden {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .selectable {
    cursor: pointer;
  }


}