
<div id="sidebar" class="sidebar sidebar-user">
    <div class="sidebar-top">
        <div class="sidebar-back-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
        </div>
        <div class="sidebar-title">
            <span>{{exploreUser.username}}</span>
        </div>
    </div>
    <div id="sidebar-inner" class="sidebar-inner">
        <div class="sidebar-content">
            <div class="sidebar-section top-section">
                <div class="sidebar-title">
                    <span>{{sidebarTitle}}</span>
                </div>
                <div class="section-content">

                </div>
            </div>
            <div class="sidebar-section body-section">
                <div class="section-content">
                    <form class="ak-form" autocomplete="off">
                        <div class="ak-item ak-value useredit-item useredit-item-passwordField" id="useritem-currentPass">
                            <label id="passwordCurrent" class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label" id="label_pw">aktuelles Passwort</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                                <input class="mdc-text-field__input pageslider-page-dataElement form-inp" id="eventinp-password" name="password" type="password" aria-labelledby="label_pw" required="required"  autocomplete="false"/>
                            </label>
                            <div class="mdc-text-field-helper-line">
                                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" id="my-helper-id" >Die Aktion erfordert die Eingabe des aktuellen Passworts.</div>
                            </div>
                        </div>
                        <div class="ak-item ak-value useredit-item useredit-item-passwordField" id="useritem-password">
                            <label id="password" class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label" id="label_pw">neues Passwort</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                                <input class="mdc-text-field__input pageslider-page-dataElement form-inp" id="eventinp-password" name="password" type="password" aria-labelledby="label_pw" required="required"  autocomplete="new-password"/>
                            </label>
                            <div class="mdc-text-field-helper-line">
                                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" id="my-helper-id" >mind. 8 Zeichen, davon mind. eine Zahl</div>
                            </div>
                        </div>
                        <div class="ak-item ak-value useredit-item useredit-item-passwordField" id="useritem-passwordCheck">
                            <label id="passwordCheck" class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label" id="label_pw2">neues Passwort bestätigen</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                                <input class="mdc-text-field__input pageslider-page-dataElement form-inp" id="eventinp-passwordCheck" name="passwordCheck" type="password" aria-labelledby="label_pw2" required="required"/>
                            </label>
                            <div class="mdc-text-field-helper-line">
                                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" id="passwordCheck-helper" >Passwort wiederholen</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sidebar-bottom sidebar-bottom--padding">
            <a class="sidebar-confirm sidebar-bottom-element">
                <button class="mdc-icon-button material-icons">
                    <div class="mdc-icon-button__ripple"></div>
                    check
                </button>
            </a>
            <a class="sidebar-cancel sidebar-bottom-element">
                <button class="mdc-icon-button material-icons">
                    <div class="mdc-icon-button__ripple"></div>
                    close
                </button>
            </a>
        </div>
    </div>
</div>
