<form class="form form-paged">
    <div class="form-page">
        <div class="form-section">
            <div class="form-sectionheader"><span>Allgemeines</span></div>
            <div class="form-sectionheader"></div>
            <div class="form-item-heading editableTextField-heading nofloat">Bezeichnung:</div>
            <div class="form-item useredit-item" id="eventitem-title"></div>
            <div class="form-item useredit-item" id="eventitem-type"><label class="form-item-label form-attribute-name nofloat" for="eventinp-type">Art:</label>
                <select class="pageslider-page-dataElement form-select common-select" id="eventinp-type" name="type"><option class="form-option">Ausbildungsabend</option><option class="form-option">Sanitätswachdienst</option><option class="form-option">Seminar</option><option class="form-option">Anderes</option></select>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</form>
