<form class="form form-paged">
    <div class="form-page">
        <div class="form-section">
            <div class="form-sectionheader"><span>Beschreibung</span></div>
            <div class="form-item useredit-item" id="eventitem-shortdesc"><label class="form-item-label form-attribute-name nofloat" for="eventinp-shortdesc">Kurzbeschreibung:</label>
                <input class="pageslider-page-dataElement form-inp" id="eventinp-shortdesc" name="shortDesc" type="text" />
                <div class="clear"></div>
            </div>
            <div class="form-item useredit-item" id="useritem-passwordCheck">
                <label class="form-item-label form-attribute-name nofloat" for="eventinp-longdesc">Ausführliche Beschreibung</label>
                <textarea class="pageslider-page-dataElement form-inp" id="eventinp-longdesc" name="longDesc"></textarea>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</form>
