extends ./settings

block page_includes

    script.
        window.jsmodule = {
            module: "settings",
            loaders: ["settings.notifications"],
        };
        window.dockerArgs.activeContainer = "personalSettingsContainer";
        window.dockerArgs.activeElementId = "personalSettings_notifications";
        window.allowedit = #{allowedit};

    //link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader_userprofile.css')
    //link(rel='stylesheet', href='/static/unisams/stylesheets/editUser.css')

    script(src="/dist/settings.js")

