extends ../layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/user.css')
    link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader_userprofile.css')
    script(src="/dist/settings.js")



    script.
        //used to tell the bundled js which modules to load.
        window.jsmodule = {
            module: "settings",
            loaders: ["qualifications"],
        };
        window.dockerArgs.activeContainer = "settingsContainer";
        window.dockerArgs.activeElementId = "settingsQualifications";


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width.full-height
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            .sec-heading-label.propertypage-heading
                                .propertypage-heading-container
                                    h3#userProfileName.limitCharacters
                                        | Qualifikationen
                                    .clear
                                .clear
                        #content1-text.sec-content.border-top.userlogs-container.logs-container
                            .subpage-content
                                .userinfo-container
                                    #tab-userinfo-general.userinfo-inner
                                        .userinfo-section.userinfo-card.card-full.userwidget-description

                                            .userinfo-section.userinfo-card.card-full.userwidget-description
                                                .userinfo-section-inner
                                                    .userinfo-sectionheader
                                                    .itemlist-content-container.userlist-content-container
                                                        #quallist-container
                                                        .userinfo-item.useredit-item.useredit-addItem
                                                            #addQualButton.useredit-addGeneralItemBtn.btn-addItem.btn-listExt.addQualificationButton
                                                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                                span Hinzufügen
                                                                .clear
                                .add-smt-button.addQualificationButton
                                    if acl.settings.qualifications
                                        a.add-smt-button-inner()
                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>




