extends ../layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/user.css')
    script(src="/static/unisams/js/qualificationActions.js")
    //script(src="/static/unisams/js/settings.js")
    script(src="/dist/settings.js")



    script.
        //used to tell the bundled js which modules to load.
        window.jsmodule = {
            module: "settings",
            loaders: ["groups"],
        };
        window.dockerArgs.activeContainer = "settingsContainer";
        window.dockerArgs.activeElementId = "settingsRoles";


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            h3 Rechte und Rollen
                        #content1-text.sec-content
                            .subpage-options
                            .subpage-content
                                ul.userlist.itemlist
                                    li.user-entry.noSelect.borderBottom
                                        .inner
                                            .item-property Bezeichnung
                                            .item-property Beschreibung


                                    each group in groups
                                        li.user-entry.grouplist-entry(id= "groupId"+ group.id data-groupId= group.id)
                                            a.inner(href="/unisams/settings/roles/" + group.id)
                                                .item-property= group.title
                                                .item-property= group.description
                                                .clear

                                    #addRoleButton.btn-addItem.btn-listExt.addRoleButton
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        span Hinzufügen
                                        .clear
                            #usermanagment-menu.subpage-menu
                                #btn01.subpage-menu-btn




