extends ../layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/user.css')
    script(src="/static/unisams/js/qualificationActions.js")
    script(src="/static/unisams/js/settings.js")



    script.
        window.dockerArgs.activeContainer = "settingsContainer";
        window.dockerArgs.activeElementId = "settings";


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            h3 database: qualifications
                        #content1-text.sec-content
                            .subpage-options
                            .subpage-content
                                ul.userlist.itemlist
                                    li.user-entry.noSelect.borderBottom
                                        .inner
                                            .item-property type
                                            .item-property title

                                    each qual in qualificationList
                                        li.user-entry.quallist-entry(id= "qualId"+ qual.id data-qualid= qual.id)
                                            a.inner()
                                                .item-property= qual.qualType
                                                .item-property= qual.name
                                                .clear

                                    #addQualButton.btn-addItem.btn-listExt
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        span Hinzufügen
                                        .clear
                            #usermanagment-menu.subpage-menu
                                #btn01.subpage-menu-btn




