<div class="componentPage-component">
    <div class="componentPage-component-inner">
        <div class="componentPage-component-header"><span>Verbundene Konten</span></div>
        <div class="componentPage-component-item">
            <div class="userinfo-item-inner">

            </div>
        </div>
    </div>
</div>