@use "@material/drawer";
@use "@material/list";
@use "@material/icon-button";
@use "@material/icon-button/styles";

@import "../variables";
@import "../color-rules";

//
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;

.mdc-drawer {
  width: 300px;
}


.drawer-mobile {
  @media #{$desktop, $tablet-landscape} {
  //display: none !important;
}
  .docker-subElementContainer {

  }
}

.docker-desktop {
  display: none;
  @media #{$desktop, $tablet-landscape} {
  display: block;
}
}

.drawer-userimg {
  cursor: pointer;

  width: 100%;
  height: auto;
  //background-color: #002e46;
  //background-image: url("/static/images/bg2.jpg");
  background-size: cover;
  .userimg-inner {
    width: 80%;
    margin: 0 0;
    padding: 1em 0 .5em 0;

    .img-container {
      img {
        width: 100%;
        display: block;
        transform: scale(1.1);
      }

      border-radius: 50%;
      width: 5em;
      max-width: 100px;
      overflow: hidden;

    }

    span {
      padding-top: 15px;
      display: block;
      font-size: 200%;
      font-weight: lighter;
      color: #fff;
      word-break: break-word;
    }
  }
}

.mdc-drawer {
  z-index: 999;
}

.mdc-drawer-scrim {
  z-index: 998;
}


.drawer {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;
  .drawer-nav {
    flex: 1 1 auto;
  }
  .drawer-bottom {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;

    .drawer-bottom-element {
      flex: 1 1 auto;

    }
  }
}

