@import "../color-rules";
@import "../variables";


.subpage-topbar {
  //border-bottom: 1px solid #333;
}

#participantslist-container {
  position: relative;
}

#userlist-top-container {
  background-color: #fAfAfA;
  border-bottom: 1px solid #666;
}

#userlist-top {
  border-top: 1px solid #AAA;
  width: 100%;
  li {
    background-color: #fAfAfA;
  }
}
.participants-list {
  .user-participate-button {
    &.hidden {
      display: none !important;
    }
  }
}


.mdc-list-item-wrapper {
  position: relative;
  overflow: initial;

  .mdc-dropdown-menu {
    position: absolute;
    top: 1em !important;
    left: unset !important;
    right: 3em !important;

    .mdc-list-item {
      height: 36px;

      .mdc-list-item__text {
        align-self: initial;
      }


      .mdc-list-item__graphic {
        height: 18px;
        width: 18px;
      }
    }
  }
}