<div class="userPage-component eventwidget-location">
    <div class="userPage-component-inner">
        <div class="userPage-component-header"><span>Password</span></div>
        <div class="userPage-component-item">
            <div class="userinfo-item-inner">
                <a id="changePasswordButton" class="content-link changePasswordButton">Password ändern</a>
<!--                <form autocomplete="off" >-->
<!--                    <div class="form-item useredit-item" id="eventitem-password">-->
<!--                        <label id="passwordCurrent" class="mdc-text-field mdc-text-field--outlined">-->
<!--                            <span class="mdc-notched-outline">-->
<!--                                <span class="mdc-notched-outline__leading"></span>-->
<!--                                <span class="mdc-notched-outline__notch">-->
<!--                                    <span class="mdc-floating-label" id="label_pw">aktuelles Passwort</span>-->
<!--                                </span>-->
<!--                                <span class="mdc-notched-outline__trailing"></span>-->
<!--                            </span>-->
<!--                            <input class="mdc-text-field__input pageslider-page-dataElement form-inp" id="eventinp-password" name="password" type="password" aria-labelledby="label_pw" required="required"  autocomplete="false"/>-->
<!--                        </label>-->
<!--                        <div class="mdc-text-field-helper-line">-->
<!--                            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" id="my-helper-id" >Die Aktion erfordert die Eingabe des aktuellen Passworts.</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-item useredit-item" id="eventitem-password">-->
<!--                        <label id="password" class="mdc-text-field mdc-text-field--outlined">-->
<!--                            <span class="mdc-notched-outline">-->
<!--                                <span class="mdc-notched-outline__leading"></span>-->
<!--                                <span class="mdc-notched-outline__notch">-->
<!--                                    <span class="mdc-floating-label" id="label_pw">neues Passwort</span>-->
<!--                                </span>-->
<!--                                <span class="mdc-notched-outline__trailing"></span>-->
<!--                            </span>-->
<!--                            <input class="mdc-text-field__input pageslider-page-dataElement form-inp" id="eventinp-password" name="password" type="password" aria-labelledby="label_pw" required="required"  autocomplete="new-password"/>-->
<!--                        </label>-->
<!--                        <div class="mdc-text-field-helper-line">-->
<!--                            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" id="my-helper-id" >mind. 8 Zeichen, davon mind. eine Zahl</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-item useredit-item" id="eventitem-passwordCheck">-->
<!--                        <label id="passwordCheck" class="mdc-text-field mdc-text-field--outlined">-->
<!--                            <span class="mdc-notched-outline">-->
<!--                                <span class="mdc-notched-outline__leading"></span>-->
<!--                                <span class="mdc-notched-outline__notch">-->
<!--                                    <span class="mdc-floating-label" id="label_pw2">neues Passwort bestätigen</span>-->
<!--                                </span>-->
<!--                                <span class="mdc-notched-outline__trailing"></span>-->
<!--                            </span>-->
<!--                            <input class="mdc-text-field__input pageslider-page-dataElement form-inp" id="eventinp-passwordCheck" name="passwordCheck" type="password" aria-labelledby="label_pw2" required="required"/>-->
<!--                        </label>-->
<!--                        <div class="mdc-text-field-helper-line">-->
<!--                            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" id="passwordCheck-helper" >Passwort wiederholen</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
            </div>
        </div>
    </div>
</div>