<div class="userPage-component eventwidget-location">
    <div class="userPage-component-inner">
        <div class="userPage-component-header"><span>Password</span></div>
        <div class="userPage-component-item">
            <div class="userinfo-item-inner">
                <a id="changePasswordButton" class="content-link changePasswordButton">Password ändern</a>
            </div>
        </div>
    </div>
</div>