<form class="form form-paged">
    <div class="form-page">
        <div class="form-section">
            <div class="form-sectionheader"><span>Bild</span></div>
            <div class="userimg-container addUser-img">
                <div class="userimg">
                    <img id="userProfileImage" class="userProfileImage" src="/data/user_images/dummy.jpg"/>
                </div>
            </div>

            <div class="form-item useredit-item" id="eventitem-passwordCheck">
                <div class="content-link imgUpload">Bild hochladen</div>
                <input class="hidden pageslider-page-dataElement form-inp" id="userimg_tmpkey" name="userimg_tmpkey" type="text" />
                <div class="clear"></div>
            </div>

        </div>
    </div>
</form>
