doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="shortcut icon" type="image/x-icon" href="static/icons/favicon.ico")

    link(rel='stylesheet', href='/static/unisams/stylesheets/error.css')
    link(rel='stylesheet', href='/static/unisams/stylesheets/lssc_loader.css')


  body
    #wrapper.wrapper-full-height.error-page
      section#sec1.sec-middle.content-section.color-generic
        #content1.sec-content.sec-full-width.sec-nomargin.center-in-container
          #content1-heading.sec-heading.center-in-container
            .img-container
              img(src="/static/images/logo/unisams.jpg")
            .unisams-label
              span.acc1 uni
              span.acc2 Sams
              .clear
            .clear
          #error-container.errorbox
            #error-container-inner.errorbox-inner
              .errorbox-heading
                span Ooooops...
              .errorbox-status
                | 403
              .errorbox-body.large
                span Du hast keine Berechtigung, auf diese Seite zuzugreifen.
                span Wenn du das für einen Fehler hälst, wende dich bitte an
                  a.inline-link(href="mailto:admin@unisan-dresden.de") admin@unisan-dresden.de
              .errorbox-link.content-link
                a(href="/unisams") Zurück zur Startseite

    //include footer
