<div class="componentPage-component">
    <div class="componentPage-component-inner">
        <div class="componentPage-subcomponent">
            <div class="componentPage-component-item">
                <div id="calendar-container"></div>
            </div>
        </div>
    </div>
</div>