<div class="userselect">
    <ul id="addParticipantList" class="mdc-deprecated-list event-participants" role="group" aria-label="List with checkbox items">
        {{#each userlist}}
            <li class="mdc-deprecated-list-item select-popup-entry sidebar-select-entry">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <span class="mdc-deprecated-list-item__graphic">
                    <img src="/data/uploads/user_images/{{this.id}}/{{this.id}}.jpg"/>
                </span>
                <span class="mdc-deprecated-list-item__text">{{this.generalData.firstName.value}} {{this.generalData.lastName.value}}</span>
            </li>
        {{/each}}
    </ul>
</div>

