.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#sec1 #content1 {
  margin: 0 5%;
  width: 90%;
  font-size: 90%;
}
@media only screen and (min-width: 75em) {
  #sec1 #content1 {
    margin: 0 20% 0 20%;
    width: 60%;
    font-size: 100%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #sec1 #content1 {
    margin: 0 15% 0 15%;
    width: 70%;
    font-size: 90%;
  }
}
.contact-list-container {
  margin: 1em 0;
  color: #00293c;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .contact-list-container {
    margin: 2em 10% 4em 10%;
    width: 80%;
  }
}
.contact-list-container > span {
  display: block;
}
.contact-list-container .contact-list {
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .contact-list-container .contact-list {
    margin: 1em 0 0 2em;
    font-size: 90%;
  }
}
.contact-list-container .contact-list:last-child {
  border-bottom: none;
}
.contact-list-container .contact-list li {
  display: block;
  padding: .5em;
  border-bottom: 1px solid #333;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .contact-list-container .contact-list li {
    padding: 1em;
  }
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading {
  position: relative;
  display: inline-block;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading::after {
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 100%;
  height: 3px;
  content: "";
  background-color: #c31d34;
  -webkit-transition: 400ms ease;
  -moz-transition: 400ms ease;
  -o-transition: 400ms ease;
  transition: 400ms ease;
}
.style1.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading::after {
  background-color: #c31d34;
}
.style2.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading::after {
  background-color: #eaa83c;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading:hover {
  cursor: pointer;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading:hover::after {
  width: 100%;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading > span {
  display: block;
  padding: .5em;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading > span {
    padding: 1em;
  }
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading > span::before {
  display: block;
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  float: left;
  margin-right: 1em;
  margin-bottom: -0.25em;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg>');
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details {
  height: auto;
  max-height: 1000px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -o-transition: 600ms ease;
  transition: 600ms ease;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .contact-container:first-child {
  padding-top: 2em;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .contact-container .contact-person {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #AAA;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .contact-container .contact-person .person-part {
  flex: 0 0 100%;
  float: left;
  position: relative;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .contact-container .contact-person .person-part {
    flex: 0 0 50%;
  }
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .contact-container .contact-person .person-image {
  max-width: 250px;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .contact-container .contact-person .person-image img {
  width: 100%;
  display: block;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .contact-container .contact-person .person-details {
  display: flex;
  flex-flow: column wrap;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .contact-container .contact-person .person-details > .spacer {
  flex: 1 0 auto;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .contact-container .contact-person .person-details > .wrapper {
  flex: 0 0 auto;
  position: relative;
  bottom: 0;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .contact-container .contact-person .person-details span.details {
  font-size: 90%;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .contact-container .contact-person .person-details span.details.name {
  font-weight: bold;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .contact-container .contact-person .person-details span.details.mail > a {
  font-size: 80%;
  font-weight: bold;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details span {
  display: block;
  margin: 1em;
}
.contact-list-container .contact-list li.expanding.collapsed .contact-heading::after {
  width: 0;
}
.contact-list-container .contact-list li.expanding.collapsed .contact-heading:hover::after {
  width: 100%;
}
.contact-list-container .contact-list li.expanding.collapsed .contact-details {
  max-height: 0 !important;
}
/* no js fallbacks */
.no-js .contact-list-container .contact-list li.expanding.collapsed .contact-details {
  max-height: unset !important;
}
/*# sourceMappingURL=contact.css.map */