.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#f2 #contact-mobile .cm-part {
  outline: 1px solid #fffcf5;
  width: 50%;
  flex: 0 auto;
}
#f2 #contact-mobile .cm-part img {
  width: 30%;
  margin: auto;
}
#footer-mobile {
  position: relative;
  width: 100%;
  background-color: #00293c;
  color: #f5f5f5;
}
#footer-mobile svg {
  width: 1em;
}
#footer-mobile #footer-mobile-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#footer-mobile #footer-mobile-container #footer-top {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (min-width: 75em) {
  #footer-mobile #footer-mobile-container #footer-top {
    flex: 0 0 80%;
    padding: 0 10%;
  }
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries {
  flex: 0 0 100%;
  order: 1;
  margin: 0 auto;
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries ul {
  display: flex;
  flex-flow: row wrap;
  max-width: 80em;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  list-style: none;
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries ul li {
  flex: 1 auto;
  text-align: center;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries ul li:hover {
  cursor: pointer;
  color: #c31d34;
  outline: 1px solid #2e2e5f;
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries ul li a {
  padding: 1em .8em;
  display: block;
}
@media only screen and (min-width: 75em) {
  #footer-mobile #footer-mobile-container #footer-top .footer-entries ul li a {
    padding: 1em;
  }
}
@media only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #footer-mobile #footer-mobile-container #footer-top .footer-entries ul li a {
    padding: 1.5em .8em;
  }
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries ul li span {
  display: inline;
  text-align: center;
  padding: auto;
}
@media only screen and (min-width: 25em) and (max-width: 35em) {
  #footer-mobile #footer-mobile-container #footer-top .footer-entries ul li span {
    display: none !important;
  }
}
@media only screen and (max-width: 25em) {
  #footer-mobile #footer-mobile-container #footer-top .footer-entries ul li span {
    display: none !important;
  }
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries ul li svg {
  width: 1em;
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries div {
  width: auto;
  text-align: center;
}
@media only screen and (min-width: 75em) {
  #footer-mobile #footer-mobile-container #footer-top .footer-entries .menu-entry-fb {
    display: none;
  }
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries .menu-entry-fb:hover {
  color: #4267b2;
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries #footer-entry-fb {
  display: none;
}
@media only screen and (min-width: 75em) {
  #footer-mobile #footer-mobile-container #footer-top .footer-entries #footer-entry-fb {
    display: block;
  }
}
#footer-mobile #footer-mobile-container #footer-top .footer-entries #footer-entry-fb:hover {
  color: #4267b2 !important;
}
#footer-mobile #footer-mobile-container #footer-middle {
  flex: 0 0 100%;
  order: 2;
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (min-width: 75em) {
  #footer-mobile #footer-mobile-container #footer-middle {
    flex: 0 0 80%;
    padding: 0 10%;
  }
}
#footer-mobile #footer-mobile-container #footer-middle .footer-img {
  background-color: #00293c;
  width: 100%;
  flex: 1 1 100%;
  order: 1;
  min-width: 250px;
  max-width: 650px;
}
@media only screen and (min-width: 75em) {
  #footer-mobile #footer-mobile-container #footer-middle .footer-img {
    flex: 0 0 50%;
    clear: both;
  }
}
#footer-mobile #footer-mobile-container #footer-middle .footer-img img {
  width: 60%;
  margin: 0 10%;
  max-width: 30em;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-img img.desktop {
  display: none;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #footer-mobile #footer-mobile-container #footer-middle .footer-img img.desktop {
    display: initial;
  }
}
#footer-mobile #footer-mobile-container #footer-middle .footer-img img.phone {
  display: initial;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #footer-mobile #footer-mobile-container #footer-middle .footer-img img.phone {
    display: none;
  }
}
#footer-mobile #footer-mobile-container #footer-middle .footer-middle-part {
  font-size: 100%;
  width: 90%;
  flex: 0 0 90%;
  padding-left: 10%;
  max-width: 80em;
  margin: 0 auto;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #footer-mobile #footer-mobile-container #footer-middle .footer-middle-part {
    padding-left: 2.5%;
  }
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social {
  order: 4;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social .heading {
  color: #fff;
  font-size: 90%;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 1.5em;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: auto;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container {
    justify-content: left;
  }
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container a {
  flex: 0 0 auto;
  font-size: 120%;
  display: block;
  float: left;
  width: 2em;
  padding: .5em;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container a svg {
  width: 100%;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  -o-transition: color 250ms ease;
  transition: color 250ms ease;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container a svg:hover {
  color: #c31d34;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container a .fb:hover {
  color: #3c5a99;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container a .twitter:hover {
  color: #1da1f2;
}
#footer-mobile #footer-mobile-container #footer-middle #footer-social #footer-social-container a .github:hover {
  color: #1da1f2;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links {
  flex: 0 0 100%;
  order: 3;
  margin-top: 3em;
  padding-bottom: 3em;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container {
  max-width: 80em;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column {
  font-size: 110%;
  flex: 1 1 100%;
  min-width: 200px;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column {
    flex: 1 1 25%;
  }
}
@media only screen and (min-width: 25em) and (max-width: 35em), only screen and (min-width: 35em) and (max-width: 50em) {
  #footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column {
    flex: 1 1 50%;
  }
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column .column-inner {
  width: 80%;
  margin: 1em 10%;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column .column-inner span {
  display: block;
  width: 100%;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column .column-inner span.head {
  color: #fff;
  font-size: 80%;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 1.5em;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column .column-inner span.cont {
  margin-top: 1em;
  color: #fff;
  font-size: 80%;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
}
#footer-mobile #footer-mobile-container #footer-middle .footer-links .footer-links-container .footer-links-column .column-inner span.cont:hover {
  color: #c5c5c5;
  cursor: pointer;
}
#footer-mobile #footer-mobile-container .footer-bottom {
  order: 3;
  flex: 0 0 100%;
  clear: both;
  width: 100%;
  margin: 2em 0;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner {
  max-width: 80em;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 80%;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner .content-item {
  flex: 1 1 29%;
  font-size: 90%;
  min-width: 150px;
  margin: .5em 2%;
  position: relative;
}
@media only screen and (max-width: 25em) {
  #footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner .content-item {
    flex: 1 1 80%;
  }
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner span {
  position: relative;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner span:before {
  content: "";
  width: 1.5em;
  display: block;
  color: #f5f5f5;
  float: left;
  margin-right: .7em;
  position: relative;
  bottom: 0.25em;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-location div {
  text-align: left;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-location svg,
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-location span {
  float: left;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-location svg {
  width: 1em;
  margin-right: .5em;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-location span:before {
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>');
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger {
  display: inline-block;
  position: relative;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  height: 1px;
  width: 0;
  -webkit-transition: 350ms ease;
  -moz-transition: 350ms ease;
  -o-transition: 350ms ease;
  transition: 350ms ease;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger:hover {
  cursor: pointer;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger:hover:after {
  width: 100%;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger span:before {
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>');
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger span:after {
  width: 1em;
  display: block;
  color: #f5f5f5;
  float: right;
  margin-left: .5em;
  position: relative;
  top: 0.15em;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger .trigger-overlay {
  width: 100%;
  position: absolute;
  bottom: 100%;
  opacity: 0;
  visibility: hidden;
  padding-bottom: 1em;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger .trigger-overlay .trigger-overlay-inner ul {
  margin: 0;
  padding: 1em 0;
  text-decoration: none;
  list-style: none;
  color: #00293c;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger .trigger-overlay .trigger-overlay-inner ul li {
  display: block;
  padding: 1em 1em;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger .trigger-overlay .trigger-overlay-inner ul li:hover {
  background-color: #f5f5f5;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger .trigger-overlay .trigger-overlay-inner ul li.soon {
  position: relative;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger .trigger-overlay .trigger-overlay-inner ul li.soon:after {
  content: "coming soon!";
  display: block;
  position: relative;
  width: 100%;
  font-size: 80%;
  float: left;
  color: #333;
  font-style: italic;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-lang .trigger.active .trigger-overlay {
  visibility: visible;
  opacity: 1;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-cp div span {
  display: block;
  float: left;
  margin-bottom: .5em;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-cp div span svg {
  color: #aaaaaa;
  font-size: 170%;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  -o-transition: color 250ms ease;
  transition: color 250ms ease;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-cp div span svg:hover {
  color: #c31d34;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-cp div span .fb:hover {
  color: #3c5a99;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-cp div span .twitter:hover {
  color: #1da1f2;
}
#footer-mobile #footer-mobile-container .footer-bottom #footer-bottom-inner #footer-cp div span .github:hover {
  color: #1da1f2;
}
#footer-mobile #footer-mobile-container .footer-border-bottom {
  border-bottom: 1px solid #213e54;
  margin-bottom: 1em;
}
#footer-mobile #footer-mobile-container .footer-info-hover a:hover {
  color: #c31d34;
  cursor: pointer;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}
/*# sourceMappingURL=footer.css.map */