.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#sec1 #content1 {
  margin: 0 5%;
  width: 90%;
  font-size: 90%;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #sec1 #content1 {
    margin: 0 25% 0 25%;
    width: 50%;
    font-size: 100%;
  }
}
.contact-list-container {
  margin: 1em 0;
  color: #00293c;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .contact-list-container {
    margin: 2em 10% 4em 10%;
    width: 80%;
  }
}
.contact-list-container > span {
  display: block;
}
.contact-list-container .contact-list {
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .contact-list-container .contact-list {
    margin: 1em 0 0 2em;
    font-size: 90%;
  }
}
.contact-list-container .contact-list:last-child {
  border-bottom: none;
}
.contact-list-container .contact-list li {
  display: block;
  padding: .5em;
  border-bottom: 1px solid #333;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .contact-list-container .contact-list li {
    padding: 1em;
  }
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading {
  position: relative;
  display: inline-block;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading::after {
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 100%;
  height: 3px;
  content: "";
  background-color: #c31d34;
  -webkit-transition: 400ms ease;
  -moz-transition: 400ms ease;
  -o-transition: 400ms ease;
  transition: 400ms ease;
}
.style1.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading::after {
  background-color: #c31d34;
}
.style2.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading::after {
  background-color: #eaa83c;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading:hover {
  cursor: pointer;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading:hover::after {
  width: 100%;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading span {
  display: block;
  padding: .5em;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .contact-list-container .contact-list li.expanding .contact-entry-inner .contact-heading span {
    padding: 1em;
  }
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details {
  height: auto;
  width: 100%;
  -webkit-transition: 600ms ease;
  -moz-transition: 600ms ease;
  -o-transition: 600ms ease;
  transition: 600ms ease;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .contact-container:first-child {
  padding-top: 2em;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details span {
  display: block;
  margin: 1em;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .impressum-link {
  color: #1e3b48;
}
.contact-list-container .contact-list li.expanding .contact-entry-inner .contact-details .impressum-link:hover {
  cursor: pointer;
  color: #c31d34;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
.contact-list-container .bullet-list {
  margin-left: 1em;
  list-style: disc outside none;
}
.contact-list-container .bullet-list li {
  border: none;
  display: list-item;
}
/*# sourceMappingURL=impressum.css.map */