.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
ul.scrollableItemList {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  flex-flow: column wrap;
  font-weight: lighter;
}
ul.scrollableItemList.border li .inner .item-property {
  border-right: 1px solid #AAA;
}
ul.scrollableItemList.scrollableList-top .scrollableList-header-column {
  position: relative;
}
ul.scrollableItemList.scrollableList-top .scrollableList-header-column:hover {
  background-color: rgba(124, 0, 26, 0.2);
  cursor: pointer;
}
ul.scrollableItemList.scrollableList-top .scrollableList-header-column.sort-asc:after,
ul.scrollableItemList.scrollableList-top .scrollableList-header-column.sort-desc:after {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5ex;
  margin-left: 0.5ex;
  position: relative;
  top: 0.2em;
}
ul.scrollableItemList.scrollableList-top .scrollableList-header-column.sort-asc:after {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
}
ul.scrollableItemList.scrollableList-top .scrollableList-header-column.sort-desc:after {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>');
}
ul.scrollableItemList li {
  flex: 1 1 auto;
  background-color: #ffffff;
}
ul.scrollableItemList li:nth-child(odd) {
  background-color: #f9f9f9;
}
ul.scrollableItemList li:not(.noSelect):hover {
  background-color: rgba(124, 0, 26, 0.2);
  cursor: pointer;
}
ul.scrollableItemList li.borderBottom {
  border-bottom: 1px solid #666;
}
ul.scrollableItemList li .itemDelete svg {
  width: 1em;
}
ul.scrollableItemList li .inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
ul.scrollableItemList li .inner .item-property {
  padding: 0.5em 0 0.5em 10px;
  position: relative;
  margin-left: 0;
  flex: 0 0 240px;
}
ul.scrollableItemList li .inner .item-property.after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
}
ul.scrollableItemList li .inner .item-property:hover > ul.scrollableItemList li .inner .item-property.after {
  border-bottom-color: rgba(124, 0, 26, 0.2);
}
ul.scrollableItemList.itemlist-style-clean li {
  background-color: transparent;
}
ul.scrollableItemList.itemlist-style-clean li .inner {
  padding-left: 0;
  padding-right: 0;
}
ul.scrollableItemList.itemlist-noSelect li:hover {
  cursor: default;
  background-color: transparent;
}
ul.scrollableItemList.itemlist-noSelect li:hover span {
  cursor: text;
}
/*# sourceMappingURL=scrollableList.css.map */