//
  ***********************************
  ** fonts
  ***********************************
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600' rel='stylesheet')
//
  ***********************************
  ** js libs
  ***********************************
script(src='/lib/jquery/jquery-3.3.1.js')
script(src='/lib/hammer/hammer.min.js')
script(src='/lib/lidl/core/lidl-0.1b.js')
script(src='/lib/lidl/imagebox/lidl-imagebox.js')
script(src='/lib/other/countTo.js')
script(src='/lib/waypoints/jquery.waypoints.min.js')
script(src='/lib/lidl/default-navigation/nav.js')
script(src='/lib/lidl/default-navigation/navComponent.js')
script(src='/lib/lidl/default-navigation/navBar.js')
script(src='/lib/lidl/default-navigation/menu.js')
//
  ***********************************
  ** js files
  ***********************************
script(src='/static/public/js/init.js')
script(src='/static/public/js/common.js')
script(src='/static/public/js/footer.js')
//
  ***********************************
  ** css libs
  ***********************************
link(rel='stylesheet' type='text/css' href='/lib/hamburgers/hamburgers.css')
link(rel='stylesheet' type='text/css' href='/lib/lidl/imagebox/imagebox-less.css')
//
  ***********************************
  ** css files
  ***********************************
link(rel='stylesheet' type='text/css' href='/static/public/stylesheets/preloader.css')
link(rel='stylesheet' type='text/css' href='/static/public/stylesheets/lssc_loader.css')
//
  ***********************************
  ** no js fallback
  ***********************************
noscript
    link(rel='stylesheet' type='text/css' href='/static/public/stylesheets/no-js.css')
