extends layout

block page_includes
    link(rel='stylesheet', href='/static/public/stylesheets/lssc_loader_contact.css')
    script(src="static/public/js/contact/init.js")
    script(src="static/public/js/contact/contact.js")

block content
    #wrapper.content-wrapper
        section#content-top.header-image
            img.img-desktop(src='/static/images/team/header.jpg')
            img.img-mobile(src='/static/images/team/header_mobile.jpg')
            .header-image-overlay
                .overlay-title
                    span Studentischer Sanit&auml;tsdienst der TU Dresden.
                .overlay-content
                    span
                        | Sicher durch den Alltag - Im Ernstfall das Richtige tun. Gemeinsam f&uuml;r ein besseres Leben an der TU Dresden.
        section#sec1.sec-middle.content-section.color-generic
            #content1.sec-content.sec-full-width.sec-nomargin
                #content1-heading.sec-heading
                    span Kontaktinformation
                #list01.contact-list-container.style1
                    span Sie haben eine Frage zu...
                    ul#expanding-list01.contact-list
                        li.contact-entry.expanding.collapsed
                            .contact-entry-inner
                                .contact-heading
                                    span Mitgliedschaft
                                .contact-details.collapsing
                                    .contact-details-container
                                        .contact-container
                                            span
                                                | Du willst bei uns mit anpacken? Schreibe uns und stelle dich kurz vor. Von uns erf&auml;hrst du dann, wann und wo du uns kennen lernen kannst.
                                        .contact-container
                                            .contact-person
                                                .person-part.person-image
                                                    img(src='/static/images/kontakt/1_250.jpg' alt='1.jpg')
                                                .person-part.person-details
                                                    .spacer
                                                    .wrapper
                                                        span.details.name Felix Rauschert
                                                        span.details.role Vorsitzender
                                                        span.details.mail
                                                            | Email:
                                                            a.mail-hidden.itsatrap.text.force-select(href='mailto:me@respam.org' data-prefix='info') hidden. Are you a bot?
                                                        .send-a-fish
                                                            a.mail-hidden.mailto(data-prefix='info')
                                                                span.mail-body-hidden
                                                                span.mail-body-collapsing E-Mail senden
                        li.contact-entry.expanding.collapsed
                            .contact-entry-inner
                                .contact-heading
                                    span Seminarangebot
                                .contact-details.collapsing
                                    .contact-details-container
                                        .contact-container
                                            span Sie haben Interesse an einem unserer Kurse? Wir freuen uns auf Ihre Anfrage!
                                        .contact-container
                                            .contact-person
                                                .person-part.person-image
                                                    img(src='/static/images/kontakt/2_250.jpg' alt='2.jpg')
                                                .person-part.person-details
                                                    .spacer
                                                    .wrapper
                                                        span.details.name Tom Ziegler
                                                        span.details.role Leiter Ausbildung
                                                        span.details.mail
                                                            | Email:
                                                            a.mail-hidden.itsatrap.text.force-select(href='mailto:me@respam.org' data-prefix='ausbildung') hidden. Are you a bot?
                                                        .send-a-fish
                                                            a.mail-hidden.mailto(data-prefix='ausbildung')
                                                                span.mail-body-hidden
                                                                span.mail-body-collapsing E-Mail senden
                        li.contact-entry.expanding.collapsed
                            .contact-entry-inner
                                .contact-heading
                                    span Sanit&auml;tsdienst zu Verantstaltungen
                                .contact-details.collapsing
                                    .contact-details-container
                                        .contact-container
                                            span
                                                | Sie organisieren eine Veranstaltung an der TU Dresden und m&ouml;chten sich mit uns abstimmen?
                                        .contact-container
                                            .contact-person
                                                .person-part.person-image
                                                    img(src='/static/images/kontakt/1.jpg' alt='1_250.jpg')
                                                .person-part.person-details
                                                    .spacer
                                                    .wrapper
                                                        span.details.name Felix Rauschert
                                                        span.details.role Vorsitzender
                                                        span.details.mail
                                                            | Email:
                                                            a.mail-hidden.itsatrap.text.force-select(href='mailto:me@respam.org' data-prefix='info') hidden. Are you a bot?
                                                        .send-a-fish
                                                            a.mail-hidden.mailto(data-prefix='info')
                                                                span.mail-body-hidden
                                                                span.mail-body-collapsing E-Mail senden
                #list02.contact-list-container.style2
                    span Allgemeine Kontaktdaten
                    ul#expanding-list02.contact-list
                        li.contact-entry.expanding.collapsed
                            .contact-entry-inner
                                .contact-heading
                                    span Postanschrift
                                .contact-details.collapsing
                                    .contact-details-container
                                        .contact-container
                                            span Studentischer Sanit&auml;tsdienst der Technischen Universit&auml;t Dresden
                                            span c/o Studentenrat der Technischen Universit&auml;t Dresden
                                            span Helmholtzstr. 10
                                            span 01069 Dresden
                        li.contact-entry.expanding.collapsed
                            .contact-entry-inner
                                .contact-heading
                                    span Email
                                .contact-details.collapsing
                                    .contact-details-container
                                        .contact-container
                                            .contact-person
                                                .person-part.person-image
                                                    img(src='/static/images/logo/logo_small.jpg' alt='logo_small.jpg 250x250')
                                                .person-part.person-details
                                                    .spacer
                                                    .wrapper
                                                        span.details.name Studentischer Sanit&auml;tsdienst der TU Dresden
                                                        span.details.role Hochschulgruppe
                                                        span.details.mail
                                                            | Email:
                                                            a.mail-hidden.itsatrap.text.force-select(href='mailto:me@respam.org' data-prefix='info') hidden. Are you a bot?
                                                        .send-a-fish
                                                            a.mail-hidden.mailto(data-prefix='info')
                                                                span.mail-body-hidden
                                                                span.mail-body-collapsing E-Mail senden
                .clear
