extends layout

block page_includes
    link(rel='stylesheet', href='/static/public/stylesheets/lssc_loader_san.css')
    script(src="static/public/js/san/init.js")

block content
    #wrapper.content-wrapper
        section#content-top.header-image
            img.img-desktop(src='/static/images/sanitaetsdienst/header.jpg')
            img.img-mobile(src='/static/images/sanitaetsdienst/header_mobile.jpg')
            .header-image-overlay
                .overlay-title
                    span Mit Sicherheit vor Ort.
                .overlay-content
                    span
                        | F&uuml;r ihre Veranstaltung an der TU Dresden sorgen wir f&uuml;r die medizinische Sicherheit ihrer Teilnehmer.
                .overlay-links
                    div
                        a.link-prime(href='#contact') Jetzt Mitmachen
                    div
                        a.link-secondary(href='#contact') F&ouml;rdermitglied werden
                    .clear
        section#sec1.sec-middle.content-section.color-generic
            #content1.sec-content.split-vertically.sec-labeled-left.full-width.full-height
                .sec-heading.mobile-heading.color-invert
                    h2 Sanit&auml;tsdienst
                #fixedLabel.split-part.sec-content-part.sec-label.color-generic-v3
                    .sec-label-inner
                        .sec-heading
                            h2 Sanit&auml;tsdienst
                        ul
                            li
                                a(href='#c1') Veranstaltungen an der TUD
                            li
                                a(href='#c2') Unsere M&ouml;glichkeiten
                            li
                                a(href='#c3') Ausr&uuml;stung
                .split-part.sec-content-part.sec-content-text
                    #content1-inner.content-inner
                        #c1.content-inner-part
                            #content1-heading1.content-heading
                                h2 Veranstaltungen an der TUD
                            #content1-text1.content-text
                                span.content-text-part
                                span.content-text-part
                                    | Ob FSR-Party, Wissenschaftlicher Kongress oder Sportturnier:
                                    br
                                    |                                     F&uuml;r Veranstaltungen an der TU Dresden stehen wir Ihnen gern in Fragen rund um die Erste Hilfe zur Seite.
                                    |                                     Wir beraten Sie im Vorfeld zu Veranstaltungsort und notwendigen Vorkehrungen. Am Tag der Veranstaltung sorgen unsere Sanit&auml;ter und Sanit&auml;terinnen f&uuml;r die Sicherheit der Teilnehmer.
                        #c2.content-inner-part
                            #content1-heading2.content-heading
                                h2 Unsere M&ouml;glichkeiten
                            #content1-text2.content-text
                                span.content-text-part
                                    | Wer &ouml;ffentliche Veranstaltungen organisiert, muss auch um die Sicherheit seiner G&auml;ste gew&auml;hrleisten.
                                span.content-text-part
                                    | Je nach Gr&ouml;&szlig;e und Art der Veranstaltung sind verschiedene Arten der medizinschen Sicherstellung erforderlich.
                                    | F&uuml;r kleine Events reichen in der Regel sachkundige Ersthelfer aus, bei gr&ouml;&szlig;eren Veranstaltungen k&ouml;nnen die zust&auml;ndigen Beh&ouml;rden jedoch h&ouml;her qualifiziertes Personal vorschreiben.
                                span.content-text-part
                                    | Doch auch bei kleineren Veranstaltungen ohne explizite beh&ouml;rdliche Auflagen k&ouml;nnen die Organisatoren nat&uuml;rlich selbst daf&uuml;r sorgen, dass sanit&auml;tsdienstliches Personal vor Ort ist.
                                    | Damit bieten diese ihren Teilnehmern zus&auml;tzliche Sicherheit und m&uuml;ssen sich bei medizinischen Notf&auml;llen nicht selbst um Notruf und Erstversorgung k&uuml;mmern.
                                span.content-text-part.subheading
                                    | Hier kommen wir ins Spiel:
                                span.content-text-part
                                    | Als rein studentische Hochschulgruppe k&ouml;nnen wir nicht die F&uuml;lle an Personal und Ausr&uuml;stung stellen, &uuml;ber welche gro&szlig;e Hilfsorganisationen wie DRK, Malteser, Johanniter, ASB und Co. verf&uuml;gen.
                                    br
                                    |  Unser Angebot steht daher nur f&uuml;r Veranstaltungen, bei denen die Beh&ouml;rden der Stadt Dresden keine speziellen Kr&auml;fte zur medizinischen Sicherstellung vorschreiben.
                                span.content-text-part
                                span.content-text-part
                                    | Weiterhin beschr&auml;nkt sich unser Angebot auf Veranstaltungen, die auf dem Gel&auml;nde der TU Dresden stattfinden bzw. von Institutionen der TU organisiert werden. F&uuml;r Sie als Veranstalter ist unser Angebot kostenneutral.
                                span.content-text-part
                        #c3.content-inner-part
                            #content1-heading3.content-heading
                                h2 Ausr&uuml;stung und Qualifikation
                            #content1-text3.content-text
                                span.content-text-part
                                    | Unsere medizinische Ausr&uuml;stung umfasst zwei Sanit&auml;tstaschen nach DIN 13155. Bei sanit&auml;tsdienstlichen Absicherungen ist jeweils ein Team mit einer Tasche ausgestattet. Ein Team besteht dabei aus mindestens einem Teamf&uuml;hrer (mind. Sanit&auml;ter oder Rettungssanit&auml;ter) sowie mindestens einem qualifizierten Ersthelfer. H&ouml;here Qualifikationen sind m&ouml;glich.
                                span.content-text-part
                                    | Im Vorfeld sollte eine genauere Absprache stattfinden. Wir freuen uns daher &uuml;ber ihre rechtzeitige Anfrage.
                        .content-inner-part.contact-box
                            #content3-heading4.content-heading
                                h2 Ansprechpartner
                            .contact-container
                                .contact-person
                                    .person-part.person-image
                                        img(src='/static/images/kontakt/1_250.jpg' alt='1.jpg')
                                    .person-part.person-details
                                        .spacer
                                        .wrapper
                                            span.details.name Felix Rauschert
                                            span.details.role Vorsitzender
                                            span.details.mail
                                                | Email:
                                                a.mail-hidden.itsatrap.text.force-select(href='mailto:me@respam.org' data-prefix='info') hidden. Are you a bot?
                                            .send-a-fish
                                                a.mail-hidden.mailto(data-prefix='info')
                                                    span.mail-body-hidden
                                                    span.mail-body-collapsing E-Mail senden
                        .clear
                .clear
