extends layout

block page_includes
    link(rel='stylesheet', href='/static/public/stylesheets/lssc_loader_team.css')
    script(src="static/public/js/team/init.js")

block content
    #wrapper.content-wrapper
        section#content-top.header-image
            img.img-desktop(src='static/images/team/header.jpg')
            img.img-mobile(src='static/images/team/header_mobile.jpg')
            .header-image-overlay
                .overlay-title
                    span Helfen aus Leidenschaft
                .overlay-content
                    span
                        | Dein Einsatz z&auml;hlt! Werde Teil unseres Teams und hilf dabei, das Leben auf dem Campus sicherer zu machen.
        section#sec1.sec-middle.content-section.color-generic
            #content1.sec-content.split-vertically.sec-labeled-left.full-width.full-height
                .sec-heading.color-invert.mobile-heading
                    h2 &Uuml;ber uns:
                #fixedLabel.split-part.sec-content-part.sec-label.color-generic-v3
                    .sec-label-inner
                        .sec-heading
                            h2 &Uuml;ber uns:
                        ul
                            li
                                a(href='#wer') Wer wir sind
                            li
                                a(href='#was') Was wir tun
                .split-part.sec-content-part.sec-content-text
                    #content1-inner.content-inner
                        #wer.content-inner-part
                            #content1-heading1.content-heading
                                h2 Wer wir sind:
                            #content1-text1.content-text
                                span.content-text-part
                                    | Der Studentische Sanit&auml;tsdienst ist eine anerkannte Hochschulgruppe der TU Dresden. Unsere Mitglieder sind Studenten, Promovierende und Mitarbeiter unserer Hochschule.
                                span.content-text-part
                                    | Wir ergreifen keinerlei Partei und lehnen politische Zusammenarbeit aus unserem Selbstverst&auml;ndnis als neutraler Hilfeleister heraus ab. Unsere Gruppe steht jedem Studenten und Mitarbeiter der TU Dresden offen.
                        #was.content-inner-part
                            #content1-heading2.content-heading
                                h2 Was wir tun:
                            #content1-text2.content-text
                                span.content-text-part
                                    | Im Vordergrund unserer Arbeit steht die Ausbildung unserer Mitglieder und die Verbreitung von Wissen &uuml;ber Lebensrettende Ma&szlig;nahmen.
                                span.content-text-part
                                    | Wir setzen uns daf&uuml;r ein, dass grundlegendes Wissen &uuml;ber Erste Hilfe jedem offen steht. Daf&uuml;r bereiten wir die wichtigsten Themen anschaulich auf und pr&auml;sentieren diese in Form von Seminaren, die f&uuml;r Mitarbeiter und Studentengruppen der TU kostenneutral angeboten werden.
                                h3 Unsere Aufgabenfelder:
                                ul.bullet-list
                                    li Medizinische Absicherung von Veranstaltungen
                                    li Seminare f&uuml;r Studierende und Mitarbeiter der TUD
                                    li Sanit&auml;tsdienstliche Ausbildung unserer Mitglieder
                                    li Organisation der Zusammenarbeit mit &auml;hnlichen Gruppen anderer Hochschulen
                                    li
                                        | Konzeption und Durchf&uuml;hrung von Projekten zur F&ouml;rderung der Gesundheit auf dem Campus
                        .clear
                .clear
        section#team.color-generic-v4.content-section
            #content2.sec-content.sec-full-width.sec-nomargin
                .sec-heading.color-invert
                    h2 Unser Team
                #content2-inner
                    .members-section
                        // quick way to display members. TODO: Make this generate dynamically from database
                        .member.expanded
                            .img-container
                                img(src='images/team/1.jpg')
                                .text-container
                                    span.member-name Felix Rauschert
                                    span.member-role Vorsitzender
                            .details-spacer
                            .member-details
                                .details-container
                                    .details-left
                                        .details-part
                                            span Hochschule:
                                            span TU Dresden
                                        .details-part
                                            span Studiengang:
                                            span Verkehrswirtschaft
                                        .details-part
                                            span Qualifikation:
                                            span Rettungssanit&auml;ter
                                    .details-right
                                        .details-contact
                                            span.contact-mail felix.rauschert@unisan-dresden.de
                        .member
                            .img-container
                                img(src='images/team/2.jpg')
                                .text-container
                                    span.member-name Tom Ziegler
                                    span.member-role Leiter Ausbildung
                            .member-details
                                .details-container
                                    .details-left
                                        .details-part
                                            span Hochschule:
                                            span TU Dresden
                                        .details-part
                                            span Studiengang:
                                            span Informatik
                                        .details-part
                                            span Qualifikation:
                                            span Sanit&auml;tshelfer
                                    .details-right
                                        .details-contact
                                            span.contact-mail tom.ziegler@unisan-dresden.de
                        .member
                            .img-container
                                img(src='images/team/3.jpg')
                                .text-container
                                    span.member-name Christoph Mettke
                                    span.member-role Leiter &Ouml;ffentlichkeitsarbeit
                        .member
                            .img-container
                                img(src='images/team/4.jpg')
                                .text-container
                                    span.member-name Magnus Misch
                                    span.member-role Leiter Technik
                        #fritz.member
                            .img-container
                                img(src='images/team/5.jpg')
                                .text-container
                                    span.member-name Fritz Windisch
                        //
                          <div class="member">
                          <div class="img-container">
                          <img src="images/team/10.jpg">
                          <div class="text-container">
                          <span class="member-name">Katharina Hartung</span>
                          <span class="member-role">Ausbildung</span>
                          </div>
                          </div>
                          </div>
                        .member
                            .img-container
                                img(src='images/team/7.jpg')
                                .text-container
                                    span.member-name Jenny Plauschenat
                                    span.member-role &Ouml;ffentlichkeitsarbeit
                        .member
                            .img-container
                                img(src='images/team/8.jpg')
                                .text-container
                                    span.member-name Felix Geister
                                    span.member-role Ausbildung
                        .member
                            .img-container
                                img(src='images/team/9.jpg')
                                .text-container
                                    span.member-name Carolin Naas
                                    span.member-role
                        .member
                            .img-container
                                img(src='images/team/10.jpg')
                                .text-container
                                    span.member-name Sven Herdes
                                    span.member-role
                        .member
                            .img-container
                                img(src='images/team/11.jpg')
                                .text-container
                                    span.member-name Tatjana Reif
                                    span.member-role
                        .member
                            .img-container
                                img(src='images/team/12.jpg')
                                .text-container
                                    span.member-name Manuel Machulla
                                    span.member-role
                        .member
                            .img-container
                                img(src='images/team/13.jpg')
                                .text-container
                                    span.member-name Leila Quasem
                                    span.member-role
                        .member
                            .img-container
                                img(src='images/team/14.jpg')
                                .text-container
                                    span.member-name Sophie Groschupf
                                    span.member-role
                        .member
                            .img-container
                                img(src='images/team/15.jpg')
                                .text-container
                                    span.member-name Justus Heerlein
                                    span.member-role
                        .member
                            .img-container
                                img(src='images/team/16.jpg')
                                .text-container
                                    span.member-name Susanne Tietze
                                    span.member-role
                        .member
                            .img-container
                                img(src='images/team/17.jpg')
                                .text-container
                                    span.member-name Anna Schirmer
                                    span.member-role
                        .member
                            .img-container
                                img(src='images/team/18.jpg')
                                .text-container
                                    span.member-name Julius B&ouml;rning
                                    span.member-role
                        .member
                            .img-container
                                img(src='images/team/19.jpg')
                                .text-container
                                    span.member-name Anna-Lena L&uuml;nert
                                    span.member-role
                        .member-spacer
                        .member-spacer
                        .member-spacer
                        .member-spacer
        section#sec3.sec-middle.content-section.color-generic
            #mitmachen
                #content3.sec-content.split-vertically.sec-labeled-left.full-width.full-height
                    #fixedLabel2.split-part.sec-content-part.sec-label.color-generic-v3
                        .sec-label-inner
                            .sec-heading
                                span Dein Weg bei uns:
                            ul
                                li
                                    a(href='#interesse') Wer kann mitmachen?
                                li
                                    a(href='#ausbildung') Wie werde ich ausgebildet?
                                li
                                    a(href='#verantwortung') Wie geht es weiter?
                    .split-part.sec-content-part.sec-content-text
                        #content3-inner.content-inner
                            #interesse.content-inner-part
                                #content3-heading1.content-heading
                                    h2 Wer kann mitmachen?
                                #content3-text1.content-text
                                    span.content-text-part
                                        | Jeder! Es ist kein Vorwissen erforderlich. Nat&uuml;rlich freuen wir uns aber auch &uuml;ber ausgebildete Interessierte. Hierbei ist f&uuml;r uns v&ouml;llig egal, welcher Hilfsorganisation ihr angeh&ouml;rt oder in welchem Land ihr eure Erfahrungen gesammelt habt. Jeder kann sein Wissen einbringen und damit die Gruppe bereichern.
                            .content-inner-part(id='ausbildu</div>ng')
                                #content3-heading2.content-heading
                                    h2 Wie werde ich ausgebildet?
                                #content3-text2.content-text
                                    span.content-text-part
                                        | Unsere Mitglieder werden in den w&ouml;chentlichen Gruppenabenden von anderen Mitgliedern ausgebildet. Fachlich bewegen wir uns in etwa auf Niveau des Sanit&auml;ters im Rahmen des Katastrophenschutzes. Hierf&uuml;r wird die neu erlernte Theorie an Fallbeispielen ge&uuml;bt, sodass die Praxis nie zu kurz kommt.
                                    span.content-text-part
                                        | Hast du bei uns erste Luft im Bereich der Notfallmedizin geschnuppert, k&ouml;nnen wir dir zum Vertiefen deines Wissens gerne Kontakte in die verschiedenen Hilfsorganisationen herstellen.
                            #verantwortung.content-inner-part
                                #content3-heading3.content-heading
                                    h2 Wie geht es weiter?
                                #content3-text3.content-text
                                    span.content-text-part
                                        | Innerhalb der Hochschulgruppe gibt es eine Vielzahl von Beteiligungsm&ouml;glichkeiten. Unsere Hauptaufgabe ist nat&uuml;rlich die interne und externe Ausbildung sowie die Absicherung von Veranstaltungen. Aber nicht jede Aufgabe setzt medizinisches Wissen voraus. Wir suchen immer Unterst&uuml;tzung in der &Ouml;ffentlichkeitsarbeit, Projektverwaltung, Organisation und vielem mehr. &Uuml;ber aktuelle Projekte informieren wir w&auml;hrend unserer regelm&auml;&szlig;igen Treffen.
                                    span.content-text-part
                                        | Interesse bekommen? Schreibe uns!
                            .content-inner-part.contact-box
                                #content3-heading4.content-heading
                                    h2 Ansprechpartner
                                .contact-container
                                    .contact-person
                                        .person-part.person-image
                                            img(src='static/images/kontakt/1_250.jpg' alt='1.jpg')
                                        .person-part.person-details
                                            .spacer
                                            .wrapper
                                                span.details.name Felix Rauschert
                                                span.details.role Vorsitzender
                                                span.details.mail
                                                    | Email:
                                                    a.mail-hidden.itsatrap.text.force-select(href='mailto:me@respam.org' data-prefix='info') hidden. Are you a bot?
                                                .send-a-fish
                                                    a.mail-hidden.mailto(data-prefix='info')
                                                        span.mail-body-hidden
                                                        span.mail-body-collapsing E-Mail senden
                            .clear
                    .clear
