<div class="subpage-menu" id="profilemanagment-menu">
    <div class="subpage-menu-btn float pageslider-prev " id="btn01">
        <a class="content-link slim style2 float">
            <svg class="icon feather feather-chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 18 9 12 15 6"></polyline></svg>
            <div class="clear"></div>
        </a>
        <div class="clear"></div>
    </div>
    <div class="subpage-menu-btn float pageslider-next" id="addEventFormSubmit">
        <a class="content-link slim float">
            <span>Weiter</span>
            <svg class="icon feather feather-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg>
            <div class="clear"></div>
        </a>
        <div class="clear"></div>
    </div>
</div>