extends ../layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/events.css')
    script(src="/static/unisams/js/events/eventlist.js")
    script(src="/static/unisams/js/actions.js")


    script.
        window.dockerArgs.activeContainer =  "eventContainer";
        window.dockerArgs.activeElementId =  "eventlist";


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.subpage-topbar
                            .subpage-options.topbar-element
                                .radiogroup
                                    label(for="eventlist01")
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list") <line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
                                        span Liste
                                    input#eventlist01.radio-item(type="radio", name="userlist-radio")
                                    label(for="eventlist02")
                                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid") <rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
                                        span Gallerie
                                    input#eventlist02.radio-item(type="radio", name="userlist-radio")
                            #usersearch.subpage-searchbar.topbar-element
                        #content1-text.sec-content
                            .subpage-content
                                .itemlist-header-container
                                    ul#eventlist-top.common-list.eventlist.itemlist.list-view.border
                                        li.noSelect.rowHeading
                                            .inner
                                                .item-property Bezeichnung
                                                .item-property.type Typ
                                                .item-property.date Datum

                                .itemlist-content-container
                                    #eventlist-container
                                    .add-smt-button
                                        if docker.events.create
                                            a.add-smt-button-inner(href="events/addEvent")
                                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>





