<div class="componentPage-component news-component">
    <div class="componentPage-component-inner transparent">
        <div class="componentPage-component-header"><span>News</span></div>
        <div class="componentPage-component-item">
            <div class="news-detail">
                <div class="news-title">
                    <div class="news-title--input"></div>
                </div>
                <div class="news-content">
                    <div class="news-content--input"></div>
                </div>
            </div>
        </div>
    </div>
</div>