<div class="componentPage-component createNews-component">
    <div class="componentPage-component-inner transparent">
        <div class="componentPage-component-interactions">
            <a class="heading-add-button btn-addItem btn-addItem--highlight">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                <span>Speichern</span>
            </a>
            <a href="/dashboard/news" class="heading-add-button btn-addItem">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                <span>Abbrechen</span>
            </a>
            <a class="heading-add-button btn-addItem btn-addItem--warning">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                <span>Löschen</span>
            </a>
        </div>
        <div class="componentPage-component-item">
            <div class="news-detail">
                <div class="news-title">
                    <div class="news-title--label">
                        Titel
                    </div>
                    <div class="news-title--input"></div>
                </div>
                <div class="news-content">
                    <div class="news-content--label">
                        Inhalt
                    </div>
                    <div class="news-content--input"></div>
                </div>
            </div>
        </div>
    </div>
</div>