//
  ***********************************
  ** fonts
  ***********************************
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600' rel='stylesheet')
//
  ***********************************
  ** js libs
  ***********************************
script(src='/lib/jquery/jquery-3.3.1.js')
script(src='/lib/jquery-ui-1.12.1/jquery-ui.js')
script(src='/lib/hammer/hammer.min.js')
script(src='/lib/lidl/core/lidl-0.1b.js')
script(src='/lib/lidl/imagebox/lidl-imagebox.js')
script(src='/lib/lidl/dialog/lidl-dialog.js')
script(src='/lib/lidl/button/lidl-button.js')
script(src='/lib/lidl/observer/lidl-observer.js')
script(src='/lib/waypoints/jquery.waypoints.min.js')
script(src='/lib/handlebars/handlebars-v4.4.3.js')


//
  ***********************************
  ** js files
  ***********************************

script(src='/static/unisams/js/apps/app_init.js')

script(src='/static/unisams/js/userprofile/profile.js')
script(src='/static/unisams/js/common.js')
script(src='/static/unisams/js/preloader.js')
script(src='/static/unisams/js/dropdownMenu.js')

script(src='/static/unisams/js/scrollableList/scrollableList.js')

script(src='/dist/app_drawer.js')
script(src='/dist/app_topbar.js')
script(src='/dist/app_navigation.js')

if (user !== undefined)
    script.
        window.userId = "#{user._id}";
//
  ***********************************
  ** css libs
  ***********************************
link(rel='stylesheet' type='text/css' href='/lib/hamburgers/hamburgers.css')
link(rel='stylesheet' type='text/css' href='/lib/lidl/dialog/lidl-dialog-slider.css')
link(rel='stylesheet' type='text/css' href='/lib/jquery-ui-1.12.1/jquery-ui.css')

//
  ***********************************
  ** css files
  ***********************************
link(rel='stylesheet' type='text/css' href='/dist/app_drawer.css')
link(rel='stylesheet' type='text/css' href='/dist/app_topbar.css')
link(rel='stylesheet' type='text/css' href='/dist/app_navigation.css')

link(rel='stylesheet' type='text/css' href='/static/unisams/stylesheets/preloader.css')
link(rel='stylesheet' type='text/css' href='/static/unisams/stylesheets/lssc_loader.css')
link(rel='stylesheet' type='text/css' href='/static/unisams/stylesheets/apps/app.css')


//
  ***********************************
  ** no js fallback
  ***********************************
noscript
    link(rel='stylesheet' type='text/css' href='/static/unisams/stylesheets/no-js.css')
