<div class="interactiveList component-container {{componentName}}-component-container">
    <ul class="interactiveList-list {{#unless config.interactive}}interactiveList-list--disable-hover{{/unless}} mdc-deprecated-list">
    {{#each data.entries}}
        <li class="interactiveList-list-item {{#if this.disabled}}mdc-deprecated-list-item--disabled{{/if}} mdc-deprecated-list-item" tabindex="0">
            <span class="mdc-deprecated-list-item__graphic material-icons">
                {{this.icon}}
            </span>
            <span class="mdc-deprecated-list-item__text">
                <div class="interactiveList-item-content">
                    <div class="interactiveList-item-label">
                        <span>{{this.label}}</span>
                    </div>
                    <div class="interactiveList-item-interactionContainer">
                        {{#each this.interactions}}
                            {{{this.html}}}
                        {{/each}}
                    </div>
                </div>
            </span>
<!--            <span class="mdc-deprecated-list-item__meta">-->
<!--            </span>-->
        </li>
    {{/each}}
    </ul>
</div>