<div class="eventPage-component eventwidget-postings">
    <div class="eventPage-component-inner">
        <div class="eventPage-component-header"><span>Dienstplan</span></div>
        <div class="eventPage-component-item eventPostingsContainer" id="eventPostingsContainer">
            <div class="subpage-topbar scrollableList--spacer">
                <div class="topbar-heading">
                    <h3>Dienstplan</h3>
                </div>
                <div class="subpage-options topbar-element"></div>
                <div class="subpage-options topbar-element"></div>
                <div class="radiogroup toggleButtonGroup"></div>
                <div id="usersearch-participants" class="searchbar-container topbar-element"></div>
                <div class="subpage-content">
                    <div id="userlist-container--participants" class="userlist-container"></div>
                    <!-- Conditional: if allowedit -->
                    <div class="add-smt-button add-participant-button">
                        <a class="add-smt-button-inner">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-plus">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                        </a>
                    </div>
                    <!-- End if -->
                </div>
            </div>
        </div>
    </div>
</div>