@use "@material/card";
@use "@material/button";
@use "@material/icon-button";


@import "~material-icons-font/material-icons-font.css";

//@import "../common";
@import "../color-rules";
@import "../variables";
@import "../fonts";

@include icon-button.core-styles;
@include card.core-styles;
@include button.core-styles;

.scrollableList {
  .scrollableList-title {
    font-size: 120%;
    margin-bottom: .5em;
    color: #666;
    padding: 12px 12px 0 12px;

    font-variant: small-caps;
    letter-spacing: .15em;
  }
}


ul.scrollableItemList {
  &.border {
    li {
      .inner {

        .item-property {
          //&:not(:last-of-type) {
          //  border-right: 1px solid #AAA;
          //}
          border-right: 1px solid #AAA;
        }
      }
    }
  }
  &:not(.noSelect) {
    li {
      &:hover {
        background-color: rgba(124,0,26,0.2);
        cursor: pointer;

        .inner {
          &:hover > &.after {
            border-bottom-color: $text-hover-color;
          }
        }
      }
    }
  }
  &.no-entries {
    li {
      .inner {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto;

        font-style: italic;
        font-weight: lighter;
        padding: .5em 0;
        text-align: center;

      }
    }
  }

  list-style: none;
  padding-left: 0;
  margin-left: 0;

  $bgCol1: #ffffff;
  $bgCol2: #f9f9f9;

  display: flex;
  flex-flow: column wrap;

  font-weight: lighter;

  &.scrollableList-top {
    .scrollableList-header-column {
      position: relative;
      &:hover {
        background-color: rgba(124,0,26,0.2);
        cursor: pointer;
      }

      &.sort-asc, &.sort-desc {
        &:after {
          display:        inline-block;
          width:          1em;
          height:         1em;
          margin-right:   .5ex;
          margin-left:    .5ex;
          position:       relative;
          top:            .2em;
        }
      }
      &.sort-asc {
        &:after {
          content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
        }
      }
      &.sort-desc {
        &:after {
          content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>');
        }
      }
    }
  }
  &.scrollableList-body {
    .scrollableList-body-column {
      &.center {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .item-container {
          flex: 1 1 auto;
        }
      }
      &.item-selectable, .item-selectable {
        cursor: pointer;
      }
    }
  }

  li {
    flex: 1 1 auto;
    background-color: $bgCol1;

    &:nth-child(odd) {
      background-color: $bgCol2;
    }

    &.borderBottom {
      border-bottom: 1px solid #666;
    }

    .itemDelete {
      svg {
        width: 1em;
      }
    }

    .inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      //padding: 0 1em;

      .item-property {
        padding: .5em 0 .5em 10px;
        position: relative;
        margin-left: 0;
        flex: 0 0 240px;

        &.after {
          content: "";
          display: block;
          width: 100%;
          position: absolute;
          bottom: -3px;
          left: 0;
        }

      }
    }
  }

  &.itemlist-style-clean {
    li {
      background-color: transparent;

      .inner {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &.itemlist-noSelect {
    li:hover {
      cursor: default;
      background-color: transparent;

      span {
        cursor: text;
      }
    }
  }
}


.subpage-topbar {
  //border-bottom: 1px solid #333;
}

#userlist-container {
  position: relative;
  overflow: auto;
}

#userlist-top-container {
  background-color: #fAfAfA;
  border-bottom: 1px solid #666;
}

.userlist-top {
  border-top: 1px solid #AAA;
  width: 100%;
  li {
    background-color: #fAfAfA;
  }
}




ul.userlist{
  margin-top: 0;
  margin-bottom: 0;
  position: static;

  &.list-view {
    font-size: 110%;
    li {

      .memberid, .username {
        display: none !important;
      }

      @media #{$tablet-landscape} {
      .memberid {
        display: block !important;
      }
    }

      @media #{$desktop} {
      .memberid, .username {
        display: block !important;
      }
    }

      .inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        @media #{$desktop} {
        grid-template-columns: 2fr 1fr 1fr;
      }
        @media #{$tablet-landscape} {
        grid-template-columns: 2fr 1fr;
      }

        .item-container {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          .item-container-element {
            flex: 1 1 auto;
            display: block;
          }
        }

        .userlist-img {
          margin-right: 1em;
          max-width: 3em;
          max-height: 3em;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            //border-radius: 50%;
            transform: scale(1.2);
          }
        }

        &.borderBottom {
          border-bottom: 1px solid #AAA;
        }


        .userDelete {
          svg {
            width: 1em;
          }
        }
      }

    }
  }
  &.gallery-view {
    li {
      display: block;

      &.borderBottom {
        border-bottom: 1px solid #AAA;
      }



      .userDelete {
        svg {
          width: 1em;
        }
      }

    }
  }

}

/* event list */

.eventlist-top {
  border-top: 1px solid #AAA;
  width: 100%;
  li {
    background-color: #fAfAfA;
  }
}

ul.eventlist{
  margin-top: 0;
  margin-bottom: 0;
  position: static;

  &.list-view {
    font-size: 110%;

    li {

      .type, .dateTime {
        display: none !important;
      }
      .date {
        display: blocK;
      }

      @media #{$tablet-landscape}  {
        .dateTime {
          display: block !important;
        }
        .date {
          display: none !important;
        }
      }

      @media #{$desktop}  {
        .type, .dateTime {
          display: block !important;
        }
        .date {
          display: none !important;
        }
      }

      .inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        @media #{$desktop}  {
        grid-template-columns: 2fr 1fr 1fr;
      }
        @media #{$tablet-landscape}  {
        grid-template-columns: 2fr 1fr;
      }

        .item-container {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          .item-container-element {
            flex: 1 1 auto;
            display: block;
          }
        }

        .eventlist-img {
          margin-right: 1em;
          max-width: 3em;

          img {
            width: 100%;
            border-radius: 50%;
          }
        }

        &.borderBottom {
          border-bottom: 1px solid #AAA;
        }


        .eventDelete {
          svg {
            width: 1em;
          }
        }
      }

    }
  }
  &.gallery-view {
    li {
      display: block;


      &.borderBottom {
        border-bottom: 1px solid #AAA;
      }



      .eventDelete {
        svg {
          width: 1em;
        }
      }

    }
  }
}

.gallery-container {
  $item-bg: $page-bg-color;
  //$item-bg: #fffefa;
  //$item-bg: #eaeaea;
  //$page-bg: $page-bg-color-v2;
  $page-bg: #AAA;
  padding: 0;
  list-style: none;
  width: 90%;
  margin: 0 auto;
  font-size: 100%;
  position: relative;


  .gallery-add-item {
    position: relative;
    left: 0;
    bottom: 0;
  }

  @media  #{$desktop, $tablet-landscape}  {
  width: 90%;
}

  ul.gallery-view {
    padding: 0;
    list-style: none;
    margin: 0 0 2em 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    width:        100%;

    @media  #{$phone-large}  {
    grid-template-columns: repeat(2, 1fr);
  }

    @media  #{$tablet-landscape, $tablet-portrait} {
    grid-template-columns: repeat(2, 1fr);
  }

    @media  #{$desktop}  {
    grid-template-columns: repeat(3, 1fr);
  }



    li.gallery-item {
      width: 100%;
      margin:     .5em 0;
      max-width: 500px;
      min-width: 200px;
      display: block;

      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);

      &:hover {
        .inner {
          .image {
            img {
              -webkit-transform: scale(1.05);
              transform: scale(1.05);
              filter: brightness(80%);
            }
          }
        }
      }

      .inner {

        background-color: $item-bg;

        text-align:       left;
        height:           100%;
        //background-color: #f9f9f9;
        //max-width: 20em;
        position:         relative;
        display:          flex;
        flex-flow:        column wrap;

        @media  #{$desktop, $tablet-landscape}  {
        //margin:           0 1em;
      }
        .date {
          font-size: 90%;
          color: #333;
          font-family: "Open Sans",sans-serif;
          font-weight: lighter;
        }

        .image {
          width:    100%;
          height:   0;
          overflow: hidden;
          padding-bottom: 50%;
          position: relative;
          flex: none;

          .thumbnail-credit {
            position: absolute;
            right: 0;
            top: 0;

            display: block;
            padding: .5em .5em;

            background-color: $col1;
            color: #fff;

            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-weight: lighter;
            font-size: 60%;
          }

          .image-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background-color: #fff;
            opacity: 0;

            .gallery-heading {
              width: 80%;
              margin: 1em auto;
              font-weight: lighter;
              font-size: 150%;

              color: $col1;

              position:   absolute;
              bottom:     0;
              left:       0;

              display: block;
              padding: .5em 1em;

              .gallery-heading-inner {
                font-weight: normal;
                font-size: 60%;
              }
            }
          }


          img {
            width: 100%;
            -webkit-transform:  scale(1);
            transform:          scale(1);
            filter:             brightness(100%);
            @include transition(500ms);
          }

        }

        .gallery-heading {
          width: 80%;
          margin: 1em auto 0 auto;
          font-weight: lighter;
          font-size: 130%;

          color: $col1;

          display: block;
          padding: .5em 1em;

          .gallery-heading-inner {
            font-size: 80%;
          }
        }

        .gallery-text {
          width: 80%;
          margin: .5em auto 0 auto;
          font-size: 100%;
        }

        .gallery-abstract {
          width: 80%;
          margin: 1em auto;
          font-weight: normal;

          font-size: 100%;
        }

        .gallery-link {
          border-top:    1px solid #fff;
          margin-top: auto;
          font-size: 70%;

          position: absolute;
          bottom: 0;
          right: 1em;


        }
      }
      .gallery-item-actions {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        .action-button {
          flex: 1 1 auto;
        }
      }
    }
    li.gallery-add-item {
      svg {
        height: 4em;
        width: 4em;
        color: #c31d34;
      }
    }
  }
  .card-menu-container .mdc-menu .mdc-list li {
    font-size: 80%;
  }
}

/*
participants list
 */

.participantslist-top {
  border-top: 1px solid #AAA;
  width: 100%;
  li {
    background-color: #fAfAfA;
  }
}

ul.participantslist{
  margin-top: 0;
  margin-bottom: 0;
  position: static;

  &.list-view {
    font-size: 110%;

    li {

      .date {
        display: none !important;
      }

      @media #{$desktop, $tablet-landscape}  {
        .date {
          display: block !important;
        }
      }

      .inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        @media #{$desktop, $tablet-landscape}  {
          grid-template-columns: 1fr 1fr 1fr;
        }
        .item-container {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;

          .item-container-element {
            flex: 1 1 auto;
            display: block;
          }
        }

        .userlist-img {
          margin-right: 1em;
          max-width: 3em;

          img {
            width: 100%;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

/*
postings list
 */

.postingslist-top {
  border-top: 1px solid #AAA;
  width: 100%;
  li {
    background-color: #fAfAfA;
  }
}

.userlist-icon {
  svg {
    height: 2em;
    width: 2em;
  }
}
.postingslist-unassigned-container {
  cursor: pointer;
  &:hover {
    background-color: $docker-hover-color;
  }
}

ul.postingslist{
  margin-top: 0;
  margin-bottom: 0;
  position: static;

  &.list-view {
    font-size: 110%;

    li {

      .date {
        display: none !important;
      }
      .description {
        display: none !important;
      }

      @media #{$desktop, $tablet-landscape}  {
        .date {
          display: block !important;
        }
        .description {
          display: block !important;
        }
      }

      .inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        @media #{$desktop, $tablet-landscape}  {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .item-container {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;

          .item-container-element {
            flex: 1 1 auto;
            display: block;
          }
        }

        .userlist-img {
          margin-right: 1em;
          max-width: 3em;

          img {
            width: 100%;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

/*
posting cards
 */


.postingslist-cards-container {
  $item-bg: $page-bg-color;
  //$item-bg: #fffefa;
  //$item-bg: #eaeaea;
  //$page-bg: $page-bg-color-v2;
  $page-bg: #AAA;
  padding: 0;
  list-style: none;
  width: 96%;
  margin: 0 auto;
  font-size: 90%;
  position: relative;
  @media  #{$desktop}  {
    //width: 90%;
  }


  ul.postingslist-cards {
    padding: 0;
    list-style: none;
    margin: 0 0 2em 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    width:        100%;

    li.postingscards-item {
      width: 100%;
      margin: .5em 0;
      display: block;

      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);

      .postingscards-inner {

        background-color: $item-bg;

        text-align: left;
        height: 100%;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        padding: 1em 1em 1em 1em;

        @media  #{$desktop, $tablet-landscape}  {
          //margin:           0 1em;
        }

        .postingscards-label {
          flex: 0 0 3em;
          overflow: hidden;
          width: auto;
          font-weight: lighter;
          font-size: 100%;

          color: $col1;

          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;

          border-right: 1px solid #AAA;

          .postingscards--qualificationLabel {
            flex: 1 1 auto;
            //font-variant: small-caps;
            font-size: 180%;
            writing-mode: tb-rl;
            transform: rotate(-180deg);

            .label--isOptional {
              font-size: 80%;
              display: inline-block;
              margin-top: 10px;
            }
          }
        }

        .postingscards-body {
          flex: 1 1 auto;
          display: flex;
          flex-flow: row wrap-reverse;
          align-items: end;


          .postingscards-body-item {
            flex: 1 1 40%;
            width: auto;
            padding: 0 1em;

          }

          .postingscards-user {

            font-weight: lighter;
            font-size: 130%;

            color: $col1;

            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;

            .postingscards--assignedUser {
              display: flex;
              flex: 1 1 auto;
            }

            .postingscards--assignedDate {
              flex: 1 1 auto;
              font-size: 70%;
              color: $text-color-secondary;
              flex-flow: row wrap;
              justify-content: flex-start;
              display: none;

              @media #{$desktop, $tablet-landscape} {
                display: flex;
              }

              span {
                flex: 0 0 auto;
                padding: 0 5px 0 0;
              }
            }

            .postingscards--assignSelf {
              .allowed {
                @include button.ink-color(#3b8d23)
              }

              .not-allowed {
                @include button.ink-color(#858585)
              }
            }
          }

          .postingscards-content {


            font-weight: lighter;
            font-size: 130%;

            color: $col1;
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
          }

          .postingscards-content-item {
            flex: 1 1 auto;
            padding: .5em 0 0 0;

            .postingscards-text {
              display: block;
              color: $text-color-heading;

            }
            .postingscards-value {
              display: block;
              color: $text-color-secondary;
            }

            &.postingscards--description {
            }
          }
        }
        .gallery-item-actions {
          flex: 0 0 auto;
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-end;
        }
        .postingscards-menu {
          .postingscards-menu-item {
            &.postingscards-menu-item--disabled {
              &:hover {
                background-color: #e7e7e7;
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
    li.gallery-add-item {
      svg {
        height: 4em;
        width: 4em;
        color: #c31d34;
      }
    }
  }
}
