@use "@material/theme" with (
  $primary: #00293c,
  $on-primary: #c31d34
);
@use "@material/button";
@use "@material/icon-button";
@use "@material/tooltip/styles";

@include icon-button.core-styles;

@import "../color-rules";
@import "../variables";

$sidebar-width: 20em;

body{
  &.noscroll {
    overflow: hidden;
  }

  #wrapper {
    .page-container {
      @include transition(width, 250ms);
    }
  }

  #wrapper.sidebar-active {
    overflow: hidden;

    @media #{$desktop, $tablet-landscape} {

    //overflow: auto;
    .page-container {
      width: calc(#{"100% - ${sidebar-width} - 0.1em"});
      float: left;

    }
    .page-container {
      &.sidebar-static-active {
        width: 100%;
        float: left;
      }
    }

  }

  @media #{$tablet-landscape} {
    //overflow: auto;
    .page-container {
      width: 0;

    }
    .page-container{
      &.sidebar-static-active {
        width: 100%;
        float: left;
      }
    }
  }
  @media #{$phone} {
    .page-container {
      overflow-y: hidden;
    }
  }


    .sidebar-container {
      transform: translateX(0);

      .sidebar-top {
        transform: translateX(0);
      }
    }

    .sidebar-back-btn {
      transform: rotate(0);
    }

  }

  .sidebar-container {
    width:    100vw;
    //min-height: 100vh;
    //height: auto;
    height: 100vh;
    transform: translateX(100%);
    position: fixed;
    border-left: 1px solid $menu-border-color;
    //background-color: $page-bg-color-v2;
    background-color: #fff;
    z-index: 7;

    float: left;

    top:      0;
    right:    0;

    @media #{$desktop}, #{$tablet-landscape} {
    width:    $sidebar-width;
    height:   calc(100vh - #{$topnav-height});
    min-height: auto;
    position: absolute;
  }
    @media #{$tablet-landscape} {
    width: 100%;
  }

    @include transition(transform, 250ms);

    .sidebar {

      display: flex;
      flex-flow: column nowrap;

      height: 100%;

      .sidebar-top {
        display: flex;
        flex-flow: row nowrap;
        padding: 0;
        flex: 0 0 3em;
        width: 100%;
        border-bottom: 1px solid $menu-border-color;
        background-color: $page-bg-color-v2;

        transform: translateX(-3em);

        @include transition(transform, 250ms);

        .sidebar-back-btn {
          flex: 0 0 1em;
          background-color: $page-bg-color-v2;
          padding: 1em;
          width: 1em;
          float: left;
          border-right: 1px solid $menu-border-color;

          cursor: pointer;
          transform: rotate(180deg);

          &:hover {
            background-color: #fAfAfA;
          }
          svg {
            width: 1em;
            display: block;
          }


        }

        .sidebar-title {
          flex: 1 1 auto;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 1em;
          font-size: 90%;
          color: #333;
        }
      }

      .sidebar-inner {
        flex: 1 1 auto;

        width: 100%;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        overflow-y: hidden;

        .label-caps {
          label {
            font-variant: small-caps;
          }
        }

        .sidebar-bottom {
          flex: 0 0 auto;
          position: relative;
          margin-bottom: 1em;
          &.sidebar-bottom--padding {
            padding: 0 1em;
          }

          height: auto;
          border-top: 1px solid #AAA;
          display: flex;
          flex-flow: row nowrap;

          .sidebar-bottom-element {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
          }
          .sidebar-bottom-element:not(:last-child) {
            border-right: 1px solid #CCC;
          }

        }

        .sidebar-content {
          flex: 1 1 auto;
          overflow-y: auto;

          .sidebar-section {
            padding: 1em;

            &.top-section {

            }

            &.body-section {

            }

            .content-title {
              font-size: 120%;
              font-weight: bold;
            }
            .section-title {
              padding-bottom: 1em;
              text-transform: uppercase;
              color: #AAA;
              font-size: 90%;
            }
            .section-content {
              .content-item {
                display: block;
                width: 100%;
              }

            }
          }
        }


      }
    }
  }


  .sidebar-select-container {

    position: relative;

    .sidebar-select-popup {

      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;


      .sidebar-select-entry {

      }

    }
  }

  .sidebar-errorMsg {
    display: block;
    margin: 0 !important;
    padding: 2em 1em;
    width: auto;
    background-color: rgba(255,0,26,0.6);

    &.warnMsg {
      background-color: rgba(255, 215, 89, 0.6);
    }

    &:before {
      display: inline-block;
      height: 1em;
      width: 1em;
      margin: 0.5em;
      content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-octagon"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>');
    }
  }
}


.sidebarButton {
  &.sidebarButton-disabled {
    cursor: not-allowed;

  }
  &.sidebarButton--cancel {
    button {
      @include icon-button.ink-color(#00293c)
    }
  }
  &.sidebarButton--back {
    button {
      @include icon-button.ink-color(#00293c)
    }
  }
  &.sidebarButton--delete {
    button {
      @include button.ink-color(#84565E);
    }
  }
  &.sidebarButton--confirm {
    button {
      @include icon-button.ink-color(#c31d34);
      @include icon-button.disabled-ink-color(#AAA);
      //border: 1px solid #c31d34;
    }
  }
  &.sidebarButton--allowed {
    button {
      @include button.ink-color(#3b8d23);
      @include button.disabled-ink-color(#3b8d23);
    }
  }
  &.sidebarButton--custom {
    button {
      @include button.ink-color(#84565E);
    }
  }
}

.mdcButton--allowed {
  @include button.ink-color(#3b8d23)
}
.mdcButton--delete {
  @include button.ink-color(#84565E)
}
.mdcButton--notAllowed {
  @include button.ink-color(#858585)
}