<div class="componentPage-component">
    <div class="componentPage-component-inner">
        <div class="componentPage-component-header"><span>Events</span></div>
        <div class="componentPage-subcomponent">
            <div class="componentPage-component-header"><span>Angemeldet</span></div>
            <div class="componentPage-component-content subpage-container">
                <div class="subpage-topbar">
                    <div class="topbar-heading">
                        <h3>Angemeldet</h3>
                    </div>
                    <div class="subpage-options topbar-element">

                    </div>
                    <div id="eventsearch--upcoming" class="searchbar-container topbar-element"></div>
                </div>
                <div class="subpage-content">
                    <div id="eventlist-container--upcoming" class="eventlist-container">

                    </div>
                </div>
            </div>
        </div>
        <div class="componentPage-subcomponent">
            <div class="componentPage-component-header"><span>Kürzlich teilgenommen</span></div>
            <div class="componentPage-component-content subpage-container">
                <div class="subpage-topbar">
                    <div class="topbar-heading">
                        <h3>Kürzlich teilgenommen</h3>
                    </div>
                    <div class="subpage-options topbar-element">

                    </div>
                    <div id="eventsearch--past" class="searchbar-container topbar-element"></div>
                </div>
                <div class="subpage-content">
                    <div id="eventlist-container--past" class="eventlist-container">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>