<div class="docker-wrapper" id="docker-wrapper">
    <div class="docker-inner" id="docker-inner">
        <div class="docker-top" id="docker-top">
            <div class="docker-top-btn" id="docker-top-btn">
                <svg class="feather feather-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6" )></line>
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
                </div>
            <a class="docker-top-label" id="docker-top-label" href="/unisams">
                <div class="docker-top-label-wrapper"><img src="/static/icons/unisams_small.jpg"/><span
                        class="acc1">uni</span><span class="acc2">Sams</span>
                    <div class="clear"></div>
                </div>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>