<div class="docker-subpage docker-subpage-user" id="{{id}}-inner">
    <div class="docker-elementContainer collapsing expanded" id="roleContainer">
        <div class="docker-element docker-mainElement" id="roleMain">
            <a>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                <span class="docker-element-label limitCharacters">Rolle: {{roleData.title}}</span>
                <div class="clear"></div>
            </a>
        </div>
        <div class="docker-subElementContainer">
            <div class="docker-element docker-subElement" id="roleGeneral">
                <a href="/system/roles/{{roleData._id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                    <span class="docker-element-label">Rolle bearbeiten</span>
                    <div class="clear"></div>
                </a>
            </div>
            <div class="docker-element docker-subElement" id="roleAdvanced">
                <a href="/system/roles/{{roleData._id}}/advanced">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                    <span class="docker-element-label">Erweiterte Einstellungen</span>
                    <div class="clear"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="docker-element"></div>
</div>