extends ../layout

block page_includes
    script(src="/dist/system.js")

    script.
        //used to tell the bundled js which modules to load.
        window.jsmodule = {
            module: "system",
            loaders: ["system.qualifications"],
        };
        window.dockerArgs.activeContainer = "systemContainer";
        window.dockerArgs.activeElementId = "systemQualifications";


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width.full-height
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            .sec-heading-label.propertypage-heading
                                .propertypage-heading-container
                                    h3#userProfileName.limitCharacters
                                        | Qualifikationen
                                    .clear
                                .clear
                        #content1-text.sec-content.border-top.userlogs-container.logs-container
                            .subpage-content
                                .info-container
                                    #tab-info-general.info-inner
                                        .info-section.info-card.card-full.userwidget-description

                                            .info-section.info-card.card-full.userwidget-description
                                                .info-section-inner
                                                    .info-sectionheader
                                                    .itemlist-content-container.userlist-content-container
                                                        #quallist-container
                                                        .info-item.useredit-item.useredit-addItem
                                                            #addQualButton.useredit-addGeneralItemBtn.btn-addItem.btn-listExt.addQualificationButton
                                                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                                span Hinzufügen
                                                                .clear
                                .add-smt-button.addQualificationButton
                                    if acl.system.qualifications
                                        a.add-smt-button-inner()
                                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus") <line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>




