extends ../layout

block page_includes
    link(rel='stylesheet', href='/static/unisams/stylesheets/user.css')
    script(src="/static/unisams/js/qualificationActions.js")
    //script(src="/static/unisams/js/settings.js")
    script(src="/dist/system.js")



    script.
        //used to tell the bundled js which modules to load.
        window.jsmodule = {
            module: "system",
            loaders: ["user"],
        };
        window.dockerArgs.activeContainer = "systemContainer";
        window.dockerArgs.activeElementId = "systemUser";


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner
                section#sec1
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            h3 Einstellungen: Mitglieder
                        #content1-text.sec-content
                            .subpage-options
                            .subpage-content

                            #usermanagment-menu.subpage-menu
                                #btn01.subpage-menu-btn




