<div class="componentPage-component">
    <div class="componentPage-component-inner">
        <div class="componentPage-component-header"><span>Neue Mitglieder anlegen</span></div>
        <div class="componentPage-subcomponent">
            <div class="componentPage-component-header"><span>Mitgliedsnummer</span></div>
            <div class="componentPage-component-item">
                <div class="memberId-mode"></div>
                <div class="memberId-offset"></div>
            </div>
        </div>
    </div>
</div>