extends ../layout

block page_includes
    script(src="/dist/dashboard.js")

    script.
        //used to tell the bundled js which modules to load.
        window.jsmodule = {
            module: "dashboard",
            loaders: ["dash"],
        };

        window.dockerArgs.activeContainer =  "dashboardContainer";
        window.dockerArgs.activeElementId = "dashboard";


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width.full-height
                section#sec1
                    #sec-content.subpage-container
                        #content1-text.sec-content.border-top
                            .subpage-content
                                .dashinfo-container
                                    #dashPage-component-container.dashPage-component-container

                section#sec2
                    span logged in as: #{user.username}
                    <br>
                    a.content-link(href="/unisams/logout") logout