extends ../layout

block page_includes
    script(src="/dist/dashboard.js")

    script.
        //used to tell the bundled js which modules to load.
        window.jsmodule = {
            module: "dashboard",
            loaders: ["events"],
        };
        window.dockerArgs.activeContainer =  "dashboardContainer";
        window.dockerArgs.activeElementId = "dashboardEvents";


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width
                section#sec1.evoCalendarNamespace
                    #eventcalendar-container.eventcalendar-container
                section#sec2
                    #sec-content2.subpage-container
                        #content2-heading.sec-heading.subpage-heading.padding
                            h3 Meine Events
                        .subpage-topbar
                            .topbar-heading
                                h3 Bevorstehende Events
                            .subpage-options.topbar-element
                            #eventsearch-upcoming.searchbar-container.topbar-element
                        #content2-text.sec-content
                            .subpage-content
                                #eventlist-container--upcoming.eventlist-container
                section#sec3
                    #sec-content3.subpage-container
                        .subpage-topbar
                            .topbar-heading
                                h3 Kürzlich teilgenommen
                            .subpage-options.topbar-element
                            #eventsearch-past.searchbar-container.topbar-element
                        #content3-text.sec-content
                            .subpage-content
                                #eventlist-container--past.eventlist-container


