extends ../layout

block page_includes
    script(src="/dist/dashboard.js")

    script.
        //used to tell the bundled js which modules to load.
        window.jsmodule = {
            module: "dashboard",
            loaders: ["events"],
        };
        window.dockerArgs.activeContainer =  "dashboardContainer";
        window.dockerArgs.activeElementId = "dashboardEvents";


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width
                section#sec1
                    #eventcalendar-container.eventcalendar-container
                section#sec2
                    #sec-content.subpage-container
                        #content1-heading.sec-heading.subpage-heading
                            h3 Bevorstehende Events
                        .subpage-topbar
                            .subpage-options.topbar-element
                            #eventsearch-upcoming.subpage-searchbar.topbar-element
                        #content1-text.sec-content
                            .subpage-content
                                #eventlist-container--upcoming.eventlist-container

