extends ../layout

block page_includes
    script(src="/dist/dashboard.js")

    script.
        //used to tell the bundled js which modules to load.
        window.jsmodule = {
            module: "dashboard",
            loaders: ["events"],
        };
        window.dockerArgs.activeContainer =  "dashboardContainer";
        window.dockerArgs.activeElementId = "dashboardEvents";


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width
                section#sec1.evoCalendarNamespace
                    #eventcalendar-container.eventcalendar-container
                section#sec2
                    #sec-content2.subpage-container
                        #content2-text
                            .subpage-content
                                .userinfo-container
                                    #userPage-component-container.userPage-component-container.componentPage-component-container


