extends ../layout

block page_includes
    script(src="/dist/dashboard.js")

    script.
        window.jsmodule = {
            module: "dashboard",
            loaders: ["notifications"],
        };
        window.dockerArgs.activeContainer =  "dashboardContainer";
        window.dockerArgs.activeElementId = "dashboardNotifications";


block content
    #wrapper
        #page-container.page-container
            #page-container-inner.page-container-inner.full-width
                section#sec1
                    #calendar
